@import '../../../screen.less';

.betzones {
    margin-top: 20px;
}

.zone {
    width: 25%;
    display: inline-block;
    .type_bg(@i) {
        .bet_area .type_bg {
            background: url("@/assets/images/svg/background/Game Menu-0@{i}.svg") center no-repeat;
            background-size: 125px;
            text-align: center;
            margin: auto;

            @media @Large_screens {background-size: 100px;}
            @media @DesktopsL {background-size: 85px;}
            @media @DesktopsM {background-size: 85px;}
            @media @LaptopL {background-size: 85px;}
            @media @LaptopM {background-size: 85px;}
            @media @LaptopS {background-size: 85px;}
            @media @LaptopXS {background-size: 85px;}
            @media @ipadL {background-size: 60px;}
            @media @ipadS {background-size: 60px;}
            @media @PhoneX {background-size: 50px;}
            @media @Phone {background-size: 50px;}
            @media @PhoneS {background-size: 50px;}
            @media @Phone5 {background-size: 35px;}
        }
    }
    &:nth-child(1) {
        margin-left: 0;
        .type_bg(2);
        :global(ul .hand-inner > span){
          right: 0px;
          @media @DesktopsL {margin-right: 10px;}
          @media @DesktopsM {margin-right: 8px;}
          @media @Phone5 {bottom: 8px;}
        }

    }
    &:nth-child(2) {
        margin-left: 0;
        :global(ul .hand-inner > span){
          right: -7px;
          @media @PhoneS { right: -5px;}
          @media @Phone5 { bottom: 8px;}
        }
        :global(ul .hand-inner){
          @media @Large_screens {padding-left: 9px;}
          @media @DesktopsL {padding-left: 19px;}
          @media @DesktopsM {padding-left: 25px;}
          @media @LaptopL {padding-left: 10px;}
          @media @LaptopM {padding-left: 19px;}
          @media @LaptopS {padding-left: 14px;}
          @media @LaptopXS {padding-left: 10px;}
          @media @ipadL {padding-left: 10px;}
          @media @ipadS {padding-left: 12px;}
          @media @PhoneX {padding-left: 8px;}
          @media @Phone {padding-left: 9px;}
          @media @PhoneS {padding-left: 6px;}
          @media @Phone5 {padding-left: 4px;}
        }
        .bet_area {
            margin: auto 24px auto auto;
            @media @DesktopsM {margin-right: 20px;}
            @media @LaptopL {margin-right: 20px;}
            @media @LaptopS {margin-right: 22px;}
            @media @LaptopXS {margin-right: 17px;}
            @media @ipadL {margin-right: 18px;}
            @media @ipadS {margin-right: 18px;}
            @media @PhoneX {margin-right: 13px;}
            @media @Phone {margin-right: 10px;}
            @media @PhoneS {margin-right: 8px;}
        }
        .type_bg(3);
    }
    &:nth-child(3) {
        margin-left: 0;
        :global(ul .hand-inner > span){
          right: -24px;
          @media @LaptopL { right: -20px;}
          @media @LaptopXS { right: -20px;}
          @media @ipadL { right: -18px;}
          @media @ipadS {right: -18px;}
          @media @PhoneX { right: -15px;}
          @media @PhoneS { right: -11px;}
          @media @Phone5 {right: -8px; bottom: 8px;}
        }
        :global(ul .hand-inner){
          @media @Large_screens {padding-left: 25px;}
          @media @DesktopsL {padding-left: 34px;}
          @media @DesktopsM {padding-left: 34px;}
          @media @LaptopL {padding-left: 20px;}
          @media @LaptopM {padding-left: 32px;}
          @media @LaptopS {padding-left: 24px;}
          @media @LaptopXS {padding-left: 19px;}
          @media @ipadL {padding-left: 19px;}
          @media @ipadS {padding-left: 19px;}
          @media @PhoneX {padding-left: 15px;}
          @media @Phone {padding-left: 15px;}
          @media @PhoneS {padding-left: 11px;}
          @media @Phone5 {padding-left: 9px;}
        }
        .type_bg(4);
        .bet_area {
            margin: auto 13px auto auto;
            @media @DesktopsM {margin-right: 11px;}
            @media @LaptopL {margin-right: 11px;}
            @media @LaptopS {margin-right: 11px;}
            @media @LaptopXS {margin-right: 8px;}
            @media @ipadL {margin-right: 10px;}
            @media @ipadS {margin-right: 10px;}
            @media @PhoneX {margin-right: 7px;}
            @media @Phone {margin-right: 5px;}
            @media @PhoneS {margin-right: 3px;}
        }
    }
    &:nth-child(4) {
        margin-right: 0;
        :global(ul .hand-inner > span){
          right: -34px;
          @media @LaptopXS { right: -30px;}
          @media @ipadL { right: -25px;}
          @media @ipadS {right: -25px;}
          @media @PhoneX {right: -22px;}
          @media @PhoneS { right: -18px;}
          @media @Phone5 { right: -14px; bottom: 8px;}
        }
        :global(ul .hand-inner){
          @media @Large_screens {padding-left: 36px;}
          @media @DesktopsL {padding-left: 46px;}
          @media @DesktopsM {padding-left: 46px;}
          @media @LaptopL {padding-left: 30px;}
          @media @LaptopM {padding-left: 43px;}
          @media @LaptopS {padding-left: 36px;}
          @media @LaptopXS {padding-left: 29px;}
          @media @ipadL {padding-left: 27px;}
          @media @ipadS {padding-left: 32px;}
          @media @PhoneX {padding-left: 21px;}
          @media @Phone {padding-left: 19px;}
          @media @PhoneS {padding-left: 16px;}
          @media @Phone5 {padding-left: 13px;}
        }
        .bet_area {margin-left: auto;}
        .type_bg(5);
    }
    .bet_area {
        padding: 0 10px;
        height: 379px;
        width: 320px;
        border-radius: 20px;
        overflow: hidden;
        background: url("@/assets/images/svg/background/Card_Bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
        &:hover {
            box-shadow: 0 0 30px rgb(255, 255, 255);
            @media @PhoneX {box-shadow: 0 0 18px rgb(255, 255, 255);}
        }
        &:active {
            box-shadow: 0 0 30px rgb(255, 255, 255);
            @media @PhoneX {box-shadow: 0 0 18px rgb(255, 255, 255);}
        }
        .total_bet {
            font-family: 'digitgraphics-thin';
            font-size: 3.5em;
            color: white;
            padding: 5px 0;
            @media @DesktopsL {font-size: 2.2em;}
            @media @DesktopsM {font-size: 2.2em;}
            @media @LaptopL {font-size: 2.2em;}
            @media @LaptopM {font-size: 2.1em;}
            @media @LaptopS {font-size: 2.1em;}
            @media @LaptopXS {font-size: 2em;}
            @media @ipadL {font-size: 1.5em;}
            @media @ipadS {font-size: 1.5em;}
            @media @PhoneX {font-size: 1.1em;}
            @media @Phone {font-size: 1.2em;}
        }
        .my_bet {
            .total_bet();
        }
        .coins {
            height: 205px;
            position: relative;
            @media @Large_screens {height: 205px;}
            @media @DesktopsM {height: 190px;}
            @media @LaptopL {height: 175px;}
            @media @LaptopM {height: 167px;}
            @media @LaptopS {height: 157px;}
            @media @LaptopXS {height: 145px;}
            @media @ipadL {height: 119px;}
            @media @ipadS {height: 110px;}
            @media @PhoneX {height: 80px;}
            @media @Phone {height: 75px;}
            @media @Phone5 {height: 50px;}

            :global(.coin) {position: absolute;
                i {
                    font-size: 40px;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    @media @ipadL {font-size: 22px;width: 22px;height: 22px;}
                    @media @ipadS {font-size: 22px;width: 22px;height: 22px;}
                    @media @PhoneX {font-size: 20px;width: 20px;height: 20px;}
                    @media @Phone {font-size: 20px;width: 20px;height: 20px;}
                }
            }
        }
        @media @Large_screens {width: 315px;height: 365px;}
        @media @DesktopsL {width: 286px;height: 317px;}
        @media @DesktopsM {width: 265px;height: 300px;}
        @media @LaptopL {width: 245px;height: 285px;}
        @media @LaptopM {width: 235px;height: 270px;}
        @media @LaptopS {width: 217px;height: 259px;}
        @media @LaptopXS {width: 200px;height: 245px;}
        @media @ipadL {width: 162px;height: 199px;}
        @media @ipadS {width: 158px;height: 192px;}
        @media @PhoneX {width: 130px;height: 145px;border-radius: 10px;}
        @media @Phone {width: 120px;height: 140px;border-radius: 10px;}
        @media @Phone5 {width: 94px;height: 115px;border-radius: 5px;}
    }
    ul {
        padding: 0;
        list-style: none;
        position: relative;
        margin-bottom: 0;
        @media @Phone {margin-bottom: 0px;}
    }
}
