/* @extend display-flex; */
display-flex, .select-icon, .select-icon i, .form-radio input + label figure, .form-flex, .steps ul, .actions ul li a, .form-row {
    display: flex;
    display: -webkit-flex;
}

/* @extend list-type-ulli; */
list-type-ulli, .steps ul, .actions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}

input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
}

input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}

.clear {
    clear: both;
}


h3 {
    font-size: 18px;
    font-weight: bold;
    color: #999999;
    cursor: pointer;
}

body {
    font-size: 14px;
    line-height: 1.6;
    color: #222;
    font-weight: 400;
    font-family: 'Poppins';
    margin: 0px;
    background: #8be7ac;
}

.main {
    padding: 160px 0;
}

.container {
    width: 990px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
}

.signup-form {
    padding: 30px 0px 52px 0px;
    position: relative;
}
#tab-2 .mail-infor-btm{
    padding: 0px 30px;
}
#tab-2 .mail-infor-btm .infor-bottom{
    margin: 30px 0px
}
input, select {
    box-sizing: border-box;
    border: none;
    font-size: 14px;
    padding: 5px 15px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    color: black;
}

input:focus, select:focus {
    border: 1px solid #1ed760;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder, select::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #999;
}

input:-moz-placeholder, select:-moz-placeholder {
    color: #999;
}

select > option {
    color: #999999;
}

select {
    position: relative;
    background: 0 0;
    z-index: 10;
    cursor: pointer;
    color: #999;
}

.select-icon {
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 20px;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
}

.select-icon i {
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    width: 70px;
    height: 40px;
    font-size: 30px;
    color: #999;
}

input, label, select {
    width: 100%;
    display: block;
}

fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
    margin-top: 30px;
}

fieldset.current {
    padding-top: 0px;
}
.form-row label{
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}
.form-radio {
    margin-top: -25px;
    width: 100%;
}

.form-radio input {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}

.form-radio input + label {
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    transition: border-color .15s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.form-radio input + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 2px solid #222;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
}

.form-radio input + label figure img {
    -webkit-filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);
    filter: invert(30%) grayscale(100%) brightness(70%) contrast(4);
}

.form-radio input + label span {
    font-weight: bold;
}

.form-radio input:checked + label {
    z-index: 1;
}

.form-radio input:checked + label figure {
    border: 2px solid #1ed760;
}

.form-radio input:checked + label figure img {
    -webkit-filter: none;
    filter: none;
}

.form-radio input:checked + label span {
    color: #1ed760;
}

.form-radio input:focus + label {
    outline: none;
}

.form-radio input:hover {
    background-color: #1ed760;
    border-color: #1ed760;
}

.form-flex {
    justify-content: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-justify-content: space-around;
    padding: 0 140px;
}

.content {
  padding: 30px 30px 10px 30px;
}

.content h3 {
    display: none;
}
#signup-form-t-0 .title i{
    font-size: 2rem;
    color: #fff;
}
#signup-form-t-0 .title{
    margin: 0;
    padding-top: 8px;
}
#signup-form-t-1 .title i{
    font-size: 2rem;
    color: #fff;
}
#signup-form-t-1 .title{
    margin: 0;
    padding-top: 8px;
}
#signup-form-t-2 .title i{
    font-size: 2rem;
    color: #fff;
}
#signup-form-t-2 .title{
    margin: 0;
    padding-top: 8px;
}
.steps ul {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    padding: 20px;
    position: relative;
    z-index: 100;
}
.mail-sty .title p{
    width: 100px;
    margin-top: 20px;
    margin-left: -22px;
}
.steps ul .current a p{
    color: #CCA552;
}
.steps-progress {
    position: absolute;
    top: 75px;
    width: 90%;
    height: 1px;
    background: #ddd;
    margin: auto;
}

.steps ul li {
    width: 330px;
}

.steps ul li a {
    text-decoration: none;
    display: block;
    background: #ddd;
    text-align: center;
    padding: 8px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;

}

.steps ul li:hover a {

}

.steps ul li:hover a h3 {
    color: #fff;
    margin: 0px;
    padding-top: 13px;
}

.steps ul .current a {
    background: #cca552;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.steps ul .current a h3 {
    color: #fff;
    margin: 0px;
    padding-top: 13px;
}

.actions {
    padding: 0px 30px;

}

.actions ul {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.actions ul .disabled {
    display: none;
}

.actions ul li:first-child {
    float: left;
    width: 87%;

}

.actions ul li:first-child a {
    font-size: 14px;
    padding: 6px 12px;
    color: #fff;
    background: #cca552;
    width: 100px;
    float: right;
}

.actions ul li:nth-child(2), .actions ul li:last-child {
    float: right;
}

.actions ul li a {
    font-size: 14px;
    padding: 6px 12px;
    color: #fff;
    background: #cca552;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.actions ul li a:hover{
    color: #f3ca72;
}
.actions ul li a:focus{
    color: #f3ca72;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    text-transform: uppercase;
}

.inputfile + label {
    max-width: 100%;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}

.inputfile + label figure {
    width: 154px;
    height: 154px;
    border-radius: 50%;
    background-color: transparent;
    display: block;
    margin: 0 auto;
    margin-bottom: 6px;
}

.inputfile + label figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.form-row {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
}

.form-group-flex {
    width: 100%
}

.form-group {
    padding-bottom: 10px;
    position: relative;
}

.form-input {
    width: 50%;
    padding: 0 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-input-flex {
    margin: 0 -10px;
}

input.error {
    border: 1px solid #f63726;
    margin-bottom: 20px;
}

label.error {
    font-size: 12px;
    color: #f63726;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.label-radio {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 70px;
}

@media screen and (max-width: 992px) {
    .container {
        width: calc(100% - 40px);
        max-width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .form-file {
        margin-bottom: 20px;
    }

    .form-flex {
        padding: 0 40px;
    }

    .form-input, .form-group-flex {
        width: 100%;
    }
}

/*# sourceMappingURL=style.css.map */
