
body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    background: #333 !important;
}

.container-register {
    position: relative;
    width: 100%;
    height: 100%;
}

.splitlayout {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
}

/* Intro sides */
.side {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 50%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

.open-left .side,
.open-right .side {
    cursor: default;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 499;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.side-left .overlay {
    background: rgba(0, 0, 0, 0.7);
}

.side-right .overlay {
    background: rgba(0, 0, 0, 0.3);
}

.side-left {
    left: 0;
    background: white;
    color: #cca552;
    outline: 1px solid white; /* avoid gap */
}

.side-right {
    right: 0;
    background: #cca552;
    color: white;
    outline: 1px solid #cca552; /* avoid gap */
}

/* Intro content, profile image and name, back button */
.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 1em;
    width: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.profile {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.profile img {
    max-width: 100%;
    border-radius: 50%;
    opacity: 0.6;
}

.intro-content i {
    font-size: 12rem;
}

.intro-content h1 > span {
    display: block;
    white-space: nowrap;
}

.intro-content h1 > span:first-child {
    font-weight: 300;
    font-size: 2em;
}

.intro-content h1 > span:nth-child(2) {
    position: relative;
    margin-top: 0.5em;
    padding: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.intro-content h1 > span:nth-child(2):before {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #cca552;
    content: '';
}

.side-right .intro-content h1 > span:nth-child(2):before {
    background: white;
}

.back {
    position: fixed;
    top: 2.6em;
    z-index: 500;
    display: block;
    visibility: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 44px;
    opacity: 0;
    pointer-events: none;
    font-size: 5rem;
}

.mobile-layout .back { /* fixed positioning will make this not clickable after scrolling on some mobile devices */
    position: absolute;
}

.back-left {
    left: 11.5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.back-right {
    right: 11.5%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    color: #cca552;
}

.open-right .back-left,
.open-left .back-right {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    pointer-events: auto;
}

.back:hover {
    color: #ddd;
    text-decoration: none;
}

/* Pages */
.page {
    position: relative;
    top: 0;
    overflow: auto;
    min-height: 100%;
    width: 75%;
    height: auto;
    font-size: 1.4em;
    -webkit-backface-visibility: hidden;
}

.page-right {
    left: 25%;
    outline: 5px solid #ecf0f1; /* avoid rounding gaps */
    background: #ecf0f1;
    color: #97a8b2;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 100vh!important;
}

.splitlayout.open-right {
    background: #ecf0f1;
}

.page-left {
    left: 0;
    outline: 5px solid #34495e; /* avoid rounding gaps */
    background: url("../img/b1.jpg");
    background-size: cover;
    color: #fff;
    text-align: right;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100vh!important;
}

.splitlayout.open-left {
    /* background: #34495e;*/
}

/* Inner page content */
.page-inner {
    padding: 2em;
}

.page-inner section {
    padding-bottom: 1em;
}

.page-inner h2 {
    margin: 0 0 1em 0;
    font-weight: 300;
    font-size: 2.4em;
}

.page-inner p {
    font-weight: 300;
    font-size: 1.2em;
}

/* All transitions */
.side,
.page {
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}

.overlay {
    -webkit-transition: opacity 0.6s, visibility 0.1s 0.6s;
    transition: opacity 0.6s, visibility 0.1s 0.6s;
}

.intro-content {
    -webkit-transition: -webkit-transform 0.6s, top 0.6s;
    transition: transform 0.6s, top 0.6s;
}

.intro-content h1,
.back {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

/* Open and close */

/* We need to set the position and overflow for the respective page scroll */
.reset-layout .page,
.splitlayout.open-right .page-left,
.splitlayout.open-left .page-right,
.splitlayout.close-right .page-left,
.splitlayout.close-left .page-right {
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.splitlayout.open-right .page-right,
.splitlayout.open-left .page-left {
    position: relative;
    overflow: auto;
    height: auto;

}

.open-right .side-left .overlay,
.open-left .side-right .overlay {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

/* Right side open */
.open-right .side-left {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
}

.open-right .side-right {
    z-index: 200;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
}

.close-right .side-right {
    z-index: 200;
}

.open-right .side-right .intro-content {
    -webkit-transform: translateY(-50%) translateX(0%) scale(0.6);
    transform: translateY(-50%) translateX(0%) scale(0.6);
}

.open-right .page-right {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

/* Left side open */
.open-left .side-right {
    -webkit-transform: translateX(60%);
    transform: translateX(60%);
}

.open-left .side-left {
    z-index: 200;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
}

.close-left .side-left {
    z-index: 200;
}

.open-left .side-left .intro-content {
    -webkit-transform: translateY(-50%) translateX(-100%) scale(0.6);
    transform: translateY(-50%) translateX(-100%) scale(0.6);
}

.open-left .codropsheader {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.1s 0.3s;
    transition: opacity 0.3s, visibility 0.1s 0.3s;
}

.open-left .page-left {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.codropsheader {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding: 1.4em;
    visibility: visible;
}

.codropsheader h1 {
    font-size: 2.125em;
    line-height: 1.3;
    margin: 0 0 0.6em 0;
    float: left;
    font-weight: 400;
}

.codropsheader h1 img {
    width: 250px;
}

.codropsheader > span {
    display: block;
    position: relative;
    z-index: 9999;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

.codropsheader > span span:after {
    width: 30px;
    height: 30px;
    left: -12px;
    font-size: 50%;
    top: -8px;
    font-size: 75%;
    position: relative;
}

.codropsheader > span span:hover:before {
    content: attr(data-content);
    text-transform: none;
    text-indent: 0;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 110%;
    padding: 0.8em 1em;
    line-height: 1.2;
    text-align: left;
    left: auto;
    margin-left: 4px;
    position: absolute;
    color: #47a3da;
    background: #fff;
}

.codropsheader nav {
    float: right;
    text-align: center;
    margin-left: 1.5em;
    display: block;
}

.codropsheader nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.codropsheader nav ul li {
    float: left;
}

.codropsheader nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
}

.codropsheader nav a > span {
    margin-left: 5px;
}

.codropsheader nav a:hover {
    color: #8a6d3b;
    text-decoration: none;
}

.bp-icon:after {
    font-family: 'bpicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.codropsheader nav .bp-icon:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    text-indent: 0;
}

.codropsheader nav a:hover:after {
    color: #47a3da;
}

.bp-icon-next:after {
    content: "\e000";
}

.bp-icon-drop:after {
    content: "\e001";
}

.bp-icon-archive:after {
    content: "\e002";
}

.bp-icon-about:after {
    content: "\e003";
}

.bp-icon-prev:after {
    content: "\e004";
}

.demos {
    display: inline-block;
    line-height: 2.4em;
    margin-left: 1em;
    float: right;
}

.demos a {
    display: inline-block;
    color: #fff;
    margin: 0 0.5em;
}

.demos a:hover,
.demos a:focus,
.demos a.current {
    color: rgba(0, 0, 0, .4);
}

.open-right {

}

/* Media Queries */
@media screen and (max-width: 83em) {
    .intro-content {
        font-size: 60%;
    }
}

@media screen and (max-width: 58em) {
    body {
        font-size: 90%;
    }
}

@media screen and (max-width: 49.4375em) {
    .open-right .side-right {
        -webkit-transform: translateX(-175%);
        transform: translateX(-175%);
    }

    .open-right .side-left {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .open-left .side-right {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .open-left .side-left {
        -webkit-transform: translateX(175%);
        transform: translateX(175%);
    }

    .page {
        width: 100%;
    }

    .page-right {
        left: 0;
        padding-left: 15%;
    }

    .page-left {
        padding-right: 15%;
    }

    .intro-content {
        width: 100%;
    }

    .open-right .side-right .intro-content {
        top: 100%;
        -webkit-transform: translateY(-150px) translateX(-12.5%) scale(0.5);
        transform: translateY(-150px) translateX(-12.5%) scale(0.5);
    }

    .open-left .side-left .intro-content {
        top: 100%;
        -webkit-transform: translateY(-150px) translateX(-87.5%) scale(0.5);
        transform: translateY(-150px) translateX(-87.5%) scale(0.5);
    }

    .open-right .intro-content h1,
    .open-left .intro-content h1 {
        opacity: 0;
    }

    .back-left {
        left: 3.25% !important;
        font-size: 3rem !important;
    }

    .back-right {
        right: 3.25% !important;
        font-size: 3rem !important;
    }
}

@media screen and (max-width: 42.5em) {
    body {
        font-size: 80%;
    }

    .intro-content {
        font-size: 50%;
    }
}

@media screen and (max-height: 41.125em) {
    .intro-content {
        -webkit-transform: translateY(-25%) translateX(-50%);
        transform: translateY(-25%) translateX(-50%);
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 70%;
    }
}

@media screen and (max-width: 73.375em) {
    /* .codropsheader {
         text-align: center;
     }
 */
    /* .codropsheader h1,
    .codropsheader nav,
   .demos {
        float: none;
        margin: 0 auto;
        padding: 0.15em 0;
    }*/
    .codropsheader > span {
        padding: 0;
    }

    .codropsheader > span span:after {
        display: none;
    }
}

@media screen and (max-height: 30.25em) {
    /*.codropsheader nav {
        display: none;
    }*/
}

.left-row {
    width: 50%;
    margin: auto;
}

.left-row .btn {
    background: #cca552;
}

.left-row .btn:hover {
    color: #f3ca72;
}

.left-row .btn:focus {
    color: #f3ca72;
}

.infor-bottom {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
}

.infor-bottom li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.infor-bottom h5 {
    margin-left: 10px;
    margin-bottom: 15px;
}

.navbar {
    padding-top: 10px;
    background: #333;
    background: rgba(51, 51, 51, 0.3);
    border: 0;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.navbar.navbar-no-bg {
    background: none;
}

ul.navbar-nav {
    font-size: 16px;
    color: #fff;
}

.navbar-inverse ul.navbar-nav li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.navbar-inverse ul.navbar-nav li .li-text {
    opacity: 0.8;
}

.navbar-inverse ul.navbar-nav li a {
    display: inline;
    padding: 0;
    color: #fff;
}

.navbar-inverse ul.navbar-nav li a:hover {
    color: #fff;
    opacity: 1;
    border-bottom: 1px dotted #fff;
}

.navbar-inverse ul.navbar-nav li a:focus {
    color: #fff;
    outline: 0;
    opacity: 1;
    border-bottom: 1px dotted #fff;
}

.navbar-inverse ul.navbar-nav li .li-social a {
    margin: 0 5px;
    font-size: 28px;
    vertical-align: middle;
}

.navbar-inverse ul.navbar-nav li .li-social a:hover,
.navbar-inverse ul.navbar-nav li .li-social a:focus {
    border: 0;
    color: #f35b3f;
}

.navbar-brand {
    width: 162px;
    /*background: url(../img/logo.png) left center no-repeat;*/
    text-indent: -99999px;
}

/***** Top content *****/

.top-content {
    padding: 40px 0 170px 0;
}

.top-content .text {
    color: #fff;
}

.top-content .text h1 {
    color: #fff;
}

.top-content .description {
    margin: 20px 0 10px 0;
}

.top-content .description p {
    opacity: 0.8;
}

.top-content .description a {
    color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
    border-bottom: 1px dotted #fff;
}

.form-box {
    /*padding-top: 40px;*/
}

.f1 {
    padding: 25px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.f1 h3 {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.f1-steps {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.f1-progress {
    position: absolute;
    top: 24px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.f1-progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #CCA552;
}

.f1-step {
    position: relative;
    float: left;
    width: 33.333333%;
    padding: 0 5px;
}

.f1-step-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    background: #ddd;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

.f1-step.activated .f1-step-icon {
    background: #fff;
    border: 1px solid #CCA552;
    color: #CCA552;
    line-height: 38px;
}

.f1-step.active .f1-step-icon {
    width: 48px;
    height: 48px;
    margin-top: 0;
    background: #CCA552;
    font-size: 22px;
    line-height: 48px;
    text-align: center;
}

.f1-step p {
    color: #ccc;
}

.f1-step.activated p {
    color: #CCA552;
}

.f1-step.active p {
    color: #CCA552;
}

.f1 fieldset {
    display: none;
    text-align: left;
}

.f1-buttons {
    text-align: right;
    margin-top: 30px;
}

.f1 .input-error {
    border-color: #f35b3f;
}

footer {
    color: #7d7d7d;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.open-right .codropsheader {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.1s 0.3s;
    transition: opacity 0.3s, visibility 0.1s 0.3s;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {

    .navbar {
        padding-top: 0;
    }

    .navbar.navbar-no-bg {
        background: #333;
        background: rgba(51, 51, 51, 0.9);
    }

    .navbar-brand {
        height: 60px;
        margin-left: 15px;
    }

    .navbar-collapse {
        border: 0;
    }

    .navbar-toggle {
        margin-top: 12px;
    }

    .top-content {
        padding: 40px 0 110px 0;
    }

}

@media (max-width: 415px) {

    h1, h2 {
        font-size: 32px;
    }

    .f1 {
        padding-bottom: 20px;
    }

    .f1-buttons button {
        margin-bottom: 5px;
    }

}

/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {

    /* logo */
    /* .navbar-brand {
         background-image: url(../img/logo@2x.png) !important;
         background-repeat: no-repeat !important;
         background-size: 162px 36px !important;
     }
 */
}

/*//////////////////////////////////////////////////////////////////
login page
 */
.login-ul-style {
    width: 100%;
    margin-top: 50px;
}

.login-ul-style ul, li {
    margin: 0px;

}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/*------------------------------------------------------------------
[ Utility ]*/
.txt1 {
    font-size: 15px;
    color: #999999;
    line-height: 1.5;
    text-align: right;
    width: 50%;
    float: right;
}

.txt {
    width: 50%;
    float: left;
}

.tex-f {
    text-align: right;
}

.txt2 {
    font-size: 15px;
    color: #cca552;
    line-height: 1.5;

}

.txt2:hover {
    text-decoration: none;
    color: #94783d;
}

/*------------------------------------------------------------------
[ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    padding: 15px;
    /*background: #fff;*/
}

.wrap-login100 {
    width: 390px;
    /*background: #fff;*/
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-size: 39px;
    color: #777;
    line-height: 1.2;
    text-align: center;
}

.login100-form-avatar {
    display: block;
    width: 120px;
    height: 120px;
    /*border-radius: 50%;*/
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.login100-form-avatar img {
    width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}

.input100 {
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
    border: none;
    border: none;
}

/*---------------------------------------------*/
.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #CCA552;
}

.focus-input100::after {
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: -3px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
    top: -20px;
    font-size: 15px;
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.has-val.input100 + .focus-input100::after {
    top: -20px;
    font-size: 15px;
}

.has-val.input100 + .focus-input100::before {
    width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-size: 16px;
    color: #fff;
    margin: 20px 0px;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #CCA552;
    border-radius: 25px;
    box-shadow: 0 10px 30px 0px rgba(204, 165, 82, 0.42);
    -moz-box-shadow: 0 10px 30px 0px rgba(204, 165, 82, 0.42);
    -webkit-box-shadow: 0 10px 30px 0px rgba(204, 165, 82, 0.42);
    -o-box-shadow: 0 10px 30px 0px rgba(204, 165, 82, 0.42);
    -ms-box-shadow: 0 10px 30px 0px rgba(204, 165, 82, 0.42);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background-color: #b7954b;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

.login-button-a-style a {
    color: #CCA552;
}

.login-button-a-style a:hover {
    color: #94783d;
    text-decoration: none;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
    margin-bottom: 25px;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
    display: block;
    position: absolute;
    /*background-color: #fff;*/
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

/*------------------------------------------------------------------
[ Login more ]*/
.login-more li {
    /* position: relative; */
    padding-left: 20px;
    float: left;
    /* list-style-type: none; */
}

.login-more li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
}

.div-inline {
    display: inline;
}

.login-user-icon {
    font-size: 100px;
    color: #cca552;
}

/*tab*/
.tabs a {
    text-decoration: none;
}

.transformer-tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid white;
}

.transformer-tabs li {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
}

.transformer-tabs li:nth-child(1) .active {
    color: #cca552;
    border-bottom-color: #676767;
}

.transformer-tabs li:nth-child(2) .active {
    color: #cca552;
    border-bottom-color: #676767;
}

.transformer-tabs li:nth-child(3) .active {
    color: #f0b37e;
    border-bottom-color: #e67e22;
}

.transformer-tabs li:nth-child(4) .active {
    color: #df7c72;
    border-bottom-color: #c0392b;
}

.transformer-tabs a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.transformer-tabs a:hover {
    color: #c1c1c1;
    text-decoration: none;
}

.transformer-tabs a.active {
    border-bottom: 3px solid transparent;
    position: relative;
    bottom: -3px;
}



@media (max-width: 1500px) {
    .left-row {
        width: 70%;
    }

    .back-left {
        left: 10.5%;

    }

    .back-right {
        right: 10.5%;

    }

    .success-regis {
        margin-top: 0px !important;
    }

    .intro-content i {
        font-size: 8rem;
    }

    .success-regis .success-sub-title {
        font-size: .7em !important;
    }

    .success-regis p {
        font-size: .9em !important;
    }
}

@media (max-width: 1400px) {
    .left-row {
        width: 70%;
    }

    .actions ul li:first-child {
        width: 80% !important;
    }
}

@media (max-width: 900px) {
    .content {
        padding: 20px 10px 10px 10px !important;
    }

    .form-row label {
        font-size: 15px !important;
    }

    .left-row {
        width: 80%;
    }

    .left-row h4 {
        font-size: 14px;
    }

    .left-row .form-control {
        font-size: 12px
    }

    .infor-bottom {
        margin-top: 30px;
    }

    .page-inner p {
        font-size: .9em;
    }

    fieldset {
        margin-top: 20px !important;
    }

    .infor-bottom h5 {
        font-size: .6em;
        margin-bottom: 10px;
    }

    .infor-bottom li {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }
}

@media (max-width: 769px) {
    .success-regis {
        margin-top: 0px !important;

    }

    .steps ul li {
        width: 33.33% !important;
        float: left !important;
    }

    .intro-content i {
        font-size: 8rem;
    }

    .success-regis .success-sub-title {
        font-size: .7em !important;
    }

    .success-regis p {
        font-size: .9em !important;
    }

    .intro-content h1 > span:first-child {
        font-size: 1em;
    }

    .profile {
        width: 100px;
        height: 80px;
    }

    .codropsheader h1 img {
        width: 200px;
    }

    footer {
        font-size: .7em;
    }

    .actions ul li:first-child {
        width: 75% !important;
    }
}

@media (max-width: 700px) {
    .success-regis h3 {
        font-size: 1.2em !important;
        margin-bottom: 10px !important;
    }

    .success-regis p {
        font-size: .7em !important;
    }

    .success-regis .success-sub-title {
        font-size: .6em !important;
    }

    .codropsheader nav {
        margin-left: 0em;
        width: 100%;
    }

    .codropsheader h1 img {
        width: 160px;
    }

    .transformer-tabs ul {
        border-bottom: 0;
        overflow: hidden;
        position: relative;
        background: #666;
        /* fallback */
        background: linear-gradient(#666, #222);
    }

    .transformer-tabs ul::after {
        content: "☰";
        position: absolute;
        top: 8px;
        right: 15px;
        z-index: 2;
        pointer-events: none;
    }

    .transformer-tabs ul.open a {
        position: relative;
        display: block;
        text-align: left;
    }

    .transformer-tabs li {
        display: block;
    }

    .transformer-tabs a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .transformer-tabs a.active {
        border: 0;
        z-index: 1;
        background: #666;
        /* fallback */
        background: linear-gradient(#666, #222);
        text-align: left;
    }

    .codropsheader nav ul li {
        width: 50%;
    }
}
@media (max-height: 600px) {
    .back{
        top: 0.6em;
    }
    .profile{
        height: 90px;
    }
}
@media (max-width: 600px) {
    footer {
        font-size: .9em;
    }

    .back-left {
        left: 2.25% !important;
        font-size: 3rem !important;
    }

    .back-right {
        right: 2.25% !important;
        font-size: 3rem !important;
    }

    .intro-content i {
        font-size: 6rem;
    }

    .page-inner h2 {
        font-size: 2em;
    }

    .intro-content h1 > span:nth-child(2) {
        font-size: 0.6em;
    }

    .profile {
        width: 100px;
        height: 60px;
    }

    .codropsheader {
        padding: 1em;
    }

    .codropsheader nav a {
        padding: 10px;
    }

    .left-row {
        width: 90%;
    }

    .page-inner {
        padding: 2em 1em;
    }

    .page-inner p {
        font-size: .7em;
    }

    fieldset {
        margin-top: 10px !important;
    }

    .infor-bottom {
        margin-top: 25px;
    }
}

@media (max-width: 500px) {
    .back-left {
        left: 1.1% !important;
        font-size: 2rem !important;
    }

    .back-right {
        right: 1.1% !important;
        font-size: 2rem !important;
    }

    .actions {
        padding: 0px 10px !important;
    }

    .steps ul {
        padding: 20px 0px !important;
    }

    .steps ul .current a {
        width: 40px !important;
        height: 40px !important;
    }

    #signup-form-t-1 .title i {
        font-size: 1.5rem !important;
    }

    .steps ul li a {
        padding: 2px 0 !important;
        width: 40px !important;
        height: 40px !important;
    }

    .mail-sty .title p {
        margin-left: -32px !important;
    }

    .intro-content i {
        font-size: 5rem;
    }

    .intro-content h1 > span:first-child {
        font-size: .8em;
    }

    .intro-content h1 > span:nth-child(2) {
        font-size: 0.5em;
    }

    .profile {
        width: 100px;
        height: 50px;
    }

    .codropsheader nav a {
        padding: 10px 5px;
        font-size: .85em;
        padding-top: 18px;
    }

    .codropsheader nav a > span {
        margin-left: 2px;
    }

    .page-inner h2 {
        font-size: 1.5em;
    }

    .container-login100 {
        padding: 0px;
    }

    .page-inner {
        padding: 1.5em;
    }

    .left-row {
        width: 100%;
    }

    .page-inner {
        padding: 2em .8em;
    }

    .f1 {
        padding: 0px 15px 10px 15px;
    }

    .left-row h4 {
        font-size: 13px;
    }

    .page-inner p {
        font-size: .7em;
    }

    .back {
        font-size: 3rem;
    }

    .success-regis h3 {
        font-size: 1em !important;
    }

    .success-regis p {
        font-size: .6em !important;
    }

    .success-regis .success-sub-title {
        font-size: .55em !important;
    }

    .actions ul li:first-child {
        width: 76% !important;
    }
}

@media (max-width: 360px) {
    .back-left {
        left: -1% !important;
        font-size: 1.8rem !important;
    }

    .back-right {
        right: -1% !important;
        font-size: 1.8rem !important;
    }

    .actions ul li:first-child {
        width: 65% !important;
    }

    .page-inner p {
        font-size: .6em;
    }

    .f1-step-icon {
        margin-bottom: 5px;
    }

    .f1 {
        padding: 0px 10px 10px 10px;
    }

    .f1-step.active .f1-step-icon {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        margin-bottom: 8px;
    }

    .f1-buttons button {
        font-size: 12px;
    }

    .codropsheader nav ul li {

        text-align: center;
    }

    .codropsheader h1 img {
        width: 120px;
    }

    .codropsheader nav a {
        padding: 10px 0px;
        padding-top: 18px;
    }

    .codropsheader {
        padding: .5em;
    }

    .page-inner {
        padding: .8em;
    }

    .page-inner h2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .login-user-icon {
        font-size: 80px;
    }

    .login100-form-avatar {
        height: 100px;
    }

    .login-button-a-style a {
        margin-top: 0px !important;
    }
}

.tabs > div {
    display: none;
    padding: 1rem;
}

.tabs > div:nth-of-type(1) {
    background: rgba(0, 0, 0, 0.58);
}

.tabs > div:nth-of-type(2) {
    background: rgba(0, 0, 0, 0.58);
}

.tabs > div:nth-of-type(3) {
    background: #e67e22;
}

.tabs > div:nth-of-type(4) {
    background: #c0392b;
}

.tabs > .active {
    display: block;
}

.checkbox-syt {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: .6em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-weight: 300;
    padding-top: 4px;
}

/* Hide the browser's default checkbox */
.checkbox-syt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-syt a {
    color: #cca552;
}

.checkbox-syt a:hover {
    color: #f3ca72;
    text-decoration: none;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-syt:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-syt input:checked ~ .checkmark {
    background-color: #cca552;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-syt input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-syt .checkmark:after {
    left: 7px;
    top: 5px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.success-regis {
    margin-top: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.success-regis h2 {
    text-align: center;
    font-size: 1.5em;
    color: #49ff4b;
    margin-bottom: 20px;
}

.success-regis .success-sub-title {
    font-size: .7em;
    color: #adadad;
}

.success-regis h3 {
    text-align: center;
    font-size: 1.5em;
    color: #49ff4b;
    margin-bottom: 20px;
}

.success-regis hr {
    border-top: 1px solid #757575;
}

.success-regis p {
    text-align: center;
    font-size: 1.2em;
}

.form-error .form-control {
    border: 1px solid red !important;
}

/* validation */
.field-invalid {
    border-color: #a94442;
}

.field-invalidmsg {
    color: #f63726;
    font-size: 12px;
    margin-top: 5px;
}

.field-validmsg {
    color: #3c763d;
}

.field-tooltipWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 19891014;
}

.field-tooltipInner {
    pointer-events: none;
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.field-tooltip {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.field-tooltip .field-invalidmsg,
.field-tooltip .field-validmsg {
    color: #fff;
}

.error_msg {
    color: red;
}

.field-validmsg {
    display: none !important;
}

@-webkit-keyframes fieldTipBounceIn {

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes { 

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}










