.zs-enabled {
    position: relative
}

.zs-enabled .zs-slideshow, .zs-enabled .zs-slides, .zs-enabled .zs-slide {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.zs-enabled .zs-slideshow .zs-slides .zs-slide {
    background: transparent none no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2)
}

.zs-enabled .zs-slideshow .zs-slides .zs-slide.active {
    visibility: visible;
    opacity: 1
}

.zs-enabled .zs-slideshow .zs-bullets {
    position: absolute;
    z-index: 4;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center
}

.zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #EFC509;
    width: 14px;
    height: 14px;
    border-radius: 8px;
    margin: 10px;
    background-color: #000
}

.zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active {
    background-color: #EFC509
}

.zs-enabled .zs-slideshow:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: transparent none repeat 0 0
}

.zs-enabled.overlay-plain .zs-slideshow:after {

}

.properties-table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
    margin-top: 2em;
    font-size: .85em;
    background-color: #eee;
}

.properties-table th, .properties-table td {
    text-align: left;
    padding: 10px;
}

.properties-table th {
    border-bottom: 1px solid #333;
    line-height: 2;
}

.zs-enabled .zs-slideshow .zs-bullets {
    position: absolute;
    z-index: 4;
    bottom: 121px;
    left: 0%;
    width: 100%;
    text-align: center;
}

.zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #fff;
    width: 12px;
    height: 12px;
    margin: 8px 10px;
    background: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active {
    background: #CCA552;
    border: 2px solid #CCA552;
}

#demo-1 {
    position: relative;
    width: 100%;
    min-height: 650px;
    background-color: #999;
}

.demo-inner-content {
    position: relative;
    z-index: 2;

}


.banner-inner-dott {
   /* background: url(../img/dots.png) repeat 0px 0px;*/
    text-align: center;
    padding-bottom: 150px;
}

/*-- /responsive --*/
@media (max-width: 1440px) {
    #demo-1 {
        min-height: 750px;
    }

    .zs-enabled .zs-slideshow .zs-bullets {
        position: absolute;
        bottom: 92px;
    }

    .agile-baner-info-w3ls h3 {
        font-size: 2em;
        letter-spacing: 16px;
        padding: 10px 0;
        margin: 2em 0 1em 0em;
    }
}

@media (max-width: 1366px) {
    #demo-1 {
        min-height: 700px;
    }

}

@media (max-width: 1280px) {
    .zs-enabled .zs-slideshow .zs-bullets {
        position: absolute;
        z-index: 4;
        bottom: 92px;
        left: 0%;
        width: 100%;
        text-align: center;
    }

    .zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
        border: 2px solid #fff;
        width: 12px;
        height: 12px;
        margin: 8px 10px;
    }

    .zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active {
        background: #CCA552;
        border: 2px solid #CCA552;
    }
}

@media (max-width: 1024px) {
    #demo-1 {
        min-height: 650px;
    }

}

@media (max-width: 800px) {
    #demo-1 {
        min-height: 580px;
    }

    .banner-inner {
        min-height: 163px !important;
    }

}

@media (max-width: 640px) {
    #demo-1 {
        min-height: 550px;
    }

    .zs-enabled .zs-slideshow .zs-bullets {
        position: absolute;
        z-index: 4;
        bottom: 72px;
        left: 0%;
        width: 100%;
        text-align: center;
    }

    .zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
        border: 2px solid #fff;
        width: 9px;
        height: 9px;
        margin: 6px 5px;
    }
}

@media (max-width: 568px) {
    #demo-1 {
        min-height: 500px;
    }
}

@media (max-width: 480px) {
    #demo-1 {
        min-height: 450px;
    }

    .zs-enabled .zs-slideshow .zs-bullets {
        position: absolute;
        z-index: 4;
        bottom: 53px;
        left: 0%;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 375px) {
    #demo-1 {
        min-height: 428px;
    }
}

@media (max-width: 320px) {
    #demo-1 {
        min-height: 397px;
    }

    .zs-enabled .zs-slideshow .zs-bullets {
        position: absolute;
        z-index: 4;
        bottom: 30px;
        left: 0%;
        width: 100%;
        text-align: center;
    }

}

/*-- //responsive --*/