
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1489744399793'); /* IE9*/
  src: url('iconfont.eot?t=1489744399793#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489744399793') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489744399793') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489744399793#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before { content: "\e60a"; }

.icon-weixin:before { content: "\e603"; }

.icon-zhifubao:before { content: "\e606"; }

.icon-tencent:before { content: "\e616"; }

.icon-weixin-o:before { content: "\e63b"; }

.icon-qq:before { content: "\e658"; }

.icon-qq-o:before { content: "\e617"; }

.icon-ABC:before { content: "\e62a"; }

.icon-cs:before { content: "\e6cd"; }

.icon-SPB:before { content: "\e703"; }

.icon-withdraw:before { content: "\e65f"; }

.icon-cs-o:before { content: "\e601"; }

.icon-PSBC:before { content: "\e6f9"; }

.icon-GDB:before { content: "\e66a"; }

.icon-XYNC:before { content: "\e60d"; }

.icon-CIB:before { content: "\e698"; }

.icon-CITIC:before { content: "\e614"; }

.icon-PL35:before { content: "\e632"; }

.icon-chong:before { content: "\e649"; }

.icon-ICBC:before { content: "\e628"; }

.icon-CMB:before { content: "\e629"; }

.icon-CCB:before { content: "\e62b"; }

.icon-BCM:before { content: "\e62c"; }

.icon-CMBC:before { content: "\e62d"; }

.icon-SPDB:before { content: "\e62e"; }

.icon-HB:before { content: "\e62f"; }

.icon-CEB:before { content: "\e630"; }

.icon-BOC:before { content: "\e739"; }

.icon-BOB:before { content: "\e68e"; }

.icon-deposit:before { content: "\e631"; }

.icon-ZhuiHao:before { content: "\e608"; }

.icon-alipay:before { content: "\e605"; }

.icon-KENO:before { content: "\e61c"; }

.icon-CQSSC:before { content: "\e620"; }

.icon-PL3:before { content: "\e624"; }

.icon-FC3D:before { content: "\e625"; }

.icon-KL8:before { content: "\e627"; }

.icon-KL10:before { content: "\e633"; }

.icon-PK10:before { content: "\e634"; }

.icon-zhui:before { content: "\e635"; }

