@font-face {
    font-family: 'bpmenu';
    src: url('./fonts/bpmenu/bpmenu.eot');
    src: url('./fonts/bpmenu/bpmenu.eot?#iefix') format('embedded-opentype'),
    url('./fonts/bpmenu/bpmenu.woff') format('woff'),
    url('./fonts/bpmenu/bpmenu.ttf') format('truetype'),
    url('./fonts/bpmenu/bpmenu.svg#bpmenu') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpicons';
    src: url('./fonts/bpicons/bpicons.eot');
    src: url('./fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
    url('./fonts/bpicons/bpicons.woff') format('woff'),
    url('./fonts/bpicons/bpicons.ttf') format('truetype'),
    url('./fonts/bpicons/bpicons.svg#bpicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fff;
}
#backToTop {
    position: fixed;
    bottom: 5%;
    right: 1.5rem;
    cursor: pointer;
    color: #fff;
    background: rgba(0,0,0,.4);
    border-radius: 10px;
    z-index: 10;
    padding: 12px 20px;
    display: none;
}
#backToTop span{
    font-size: 2em;
}
#backToTop.btn:active{
    background: rgba(0,0,0,.5);
}
#Menu {
    float: left;
    width: 100%;
}

main {
    float: left;
    width: 100%;
}

.container > header {
    width: 70%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0em;
}

.container > header img {
    float: left;
    width: 250px;
}

.container > header > span {
    display: block;
    position: relative;
    z-index: 9999;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
    width: 30px;
    height: 30px;
    left: -12px;
    font-size: 50%;
    top: -8px;
    font-size: 75%;
    position: relative;
}

.container > header > span span:hover:before {
    content: attr(data-content);
    text-transform: none;
    text-indent: 0;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 110%;
    padding: 0.8em 1em;
    line-height: 1.2;
    text-align: left;
    left: auto;
    margin-left: 4px;
    position: absolute;
    color: #fff;
    background: #47a3da;
}

.container > header nav {
    float: right;
    text-align: center;
    margin-top: 50px;
}

.container > header nav a:hover:before {
    content: attr(data-info);
    color: #47a3da;
    position: absolute;
    width: 6.5em;
    top: 120%;
    text-align: center;
    right: -33px;
    pointer-events: none;

}

.container > header nav a:hover {
    background: #47a3da;
}

.container > header nav a {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 2.5em;
    background: white;
    border-radius: 5px;
    margin: 0em .8em;
    border: 2px solid #47a3da;
    font-size: 1.1em;
    /* font-weight: bold; */
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    color: #47a3da;
}

.container > header nav a:hover {
    color: white;
}

.container > header nav a:hover:after {
    color: #fff;
}

.container > header nav .fa:hover {
    color: white;
}

.cbp-hsmenu-wrapper {
    position: relative;
    z-index: 100;
}

.cbp-hsmenu-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.cbp-hsinner {
    background: #47a3da;
    position: relative;
    z-index: 100;
}

.cbp-hsmenu-wrapper .cbp-hsmenu {
    width: 90%;
    max-width: 80em;
    margin: 0 auto;
    padding: 0 1.875em;
}

.cbp-hsmenu > li {
    margin-left: 4em;
    display: inline-block;
}

.cbp-hsmenu > li:first-child {
    margin-left: 0;
}

.cbp-hsmenu > li > a {
    color: #fff;
    font-size: 1.2em;
    line-height: 3em;
    display: inline-block;
    position: relative;
    z-index: 10000;
    outline: none;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
    color: #02639d;
}

.cbp-hsmenu > li > a:not(:only-child):before {
    display: inline-block;
    font-family: 'bpmenu';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f107";
    font-size: 80%;
    margin-right: 0.3em;
    opacity: 0.4;
    vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
    content: "\f106";
}

.cbp-hsmenu > li.cbp-hsitem-open > a:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #47a3da;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.cbp-hssubmenu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 0;
    text-align: center;
    visibility: hidden;
}

.cbp-hssubmenu:before,
.cbp-hssubmenu:after {
    content: " ";
    display: table;
}

.cbp-hssubmenu:after {
    clear: both;
}

.cbp-hssubmenu > li {
    width: 16.2%;
    display: inline-block;
    vertical-align: top;
    box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
    opacity: 0;
    -webkit-transition: opacity 0.1s 0s;
    -moz-transition: opacity 0.1s 0s;
    transition: opacity 0.1s 0s;
}

.cbp-hssubmenu > li:nth-child(-n+6) {
    box-shadow: -28px 0 0 -27px #ddd;
}

.cbp-hssubmenu > li:nth-child(6n+1) {
    box-shadow: 0 -28px 0 -27px #ddd;
}

.cbp-hssubmenu > li:first-child {
    box-shadow: none;
}

.cbp-hssubmenu > li a {
    display: block;
    text-align: center;
    color: #a2a2a2;
    outline: none;
    padding: 2em 1em 1em 1em;
}

.no-touch .cbp-hssubmenu > li a:hover,
.no-touch .cbp-hssubmenu > li a:focus {
    color: #888;
}

.cbp-hssubmenu > li a img {
    border: none;
    outline: none;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.no-touch .cbp-hssubmenu > li a:hover img {
    opacity: 0.5;
}

.cbp-hssubmenu > li a span {
    display: block;
    min-height: 3em;
    margin-top: 0.4em;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
    z-index: 1000;
    visibility: visible;
}

.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
    opacity: 1;
    -webkit-transition: opacity 0.5s 0.1s;
    -moz-transition: opacity 0.5s 0.1s;
    transition: opacity 0.5s 0.1s;
}

.cbp-hsmenubg {
    background: #f7f7f7 !important;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
    height: 0px;
}

.no-touch .cbp-hsmenubg {
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.blur-it {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 100;
}

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    width: 500px;
    height: auto;
    display: block;
    margin: 50% 0 0 -250px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal {
    margin-top: -250px;
    opacity: 1;
}

.head {
    height: 32px;
    padding: 12px 30px;
    overflow: hidden;
    background: #47a3da;
}

.btn-close {
    font-size: 28px;
    display: block;
    float: left;
    color: #fff;
    width: 20%;
    text-align: right;
}

.content {
    padding: 20px 50px;
    margin: auto;
    width: 80%;
}

.good-job {
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #e2525c;
}

.good-job .fa-thumbs-o-up {
    font-size: 60px;
}

.good-job h1 {
    font-size: 45px;
}

.blur-it2 {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.modal-wrapper2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.80);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 100;
}

.modal-wrapper2.open {
    opacity: 1;
    visibility: visible;
}

.modal2 {
    width: 600px;
    height: auto;
    display: block;
    margin: 50% 0 0 -300px;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.modal-wrapper2.open .modal {
    margin-top: -250px;
    opacity: 1;
}

.head {
    height: 32px;
    padding: 12px 30px;
    overflow: hidden;
    background: #47a3da;
}

.btn-close2 {
    font-size: 28px;
    display: block;
    float: left;
    color: #fff;
    width: 20%;
    text-align: right;
}

.good-job {
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #e2525c;
}

.good-job .fa-thumbs-o-up {
    font-size: 60px;
}

.good-job h1 {
    font-size: 45px;
}

.topform .input-container {
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topform .icon {
    padding: 10px;
    background: #2f2f2f;
    color: white;
    min-width: 30px;
    text-align: center;
}

.topform .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.topform .input-field:focus {
    border: 2px solid dodgerblue;
}

.topform .btn_con {
    text-align: center;
    float: left;
}

.form_sty {
    text-align: center;
    margin: auto;
    float: left;
}

.topform .btn {
    background-color: #2f2f2f;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.topform .btn:hover {
    opacity: 1;
}

.menu_i i {
    margin-left: 15px;
}

.menu-container {
    width: 100%;
    margin: 0 auto;
    background: #47a3da;
}

.menu-mobile {
    display: none;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

.menu {
    width: 70%;
    max-width: 70em;
    margin: 0 auto;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 1.8rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
    margin-top: 5px;
    margin-bottom: -3px;
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: .7em 1.5em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    background: #47a3da;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: .7em 3em;
    display: block;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2em;
}

.menu-dropdown-icon > ul > li:hover > a {
    color: #47a3da;
}

.menu-dropdown-icon > ul > li:hover {

}

.inner_logo ul > li {
    background-color: white;
    padding: 10px;
}

.inner_logo a {
    text-align: center;
}

.inner_logo img {
    text-align: center;
}

.inner_logo span {
    text-align: center;
    float: left;
    width: 100%;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #efefef;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.li_out {
    width: 100% !important;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 22%;
    padding: 10px 0;
    margin: 15px;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul > li > ul > li:hover {
    box-shadow: 5px 6px 15px #1717171a
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}

#Promo {
    width: 70%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0em;
    margin-top: 50px;
}

.pro_warp .item {
    width: 33.33%;
    float: left;
    cursor: pointer;
}

.pro_warp .item img {
    width: 100%;
}

.pro_warp .item .item_img {
    padding: 0px 15px;
    margin: 0 auto 20px;
}

#Slotgame {
    width: 70%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0em;
    margin-top: 25px;
}

#Slotgame input, textarea {
    font-family: inherit;
    font-size: 1.6rem;
}

#Slotgame ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#Slotgame a {
    text-decoration: none;
}

.cd-nugget-info {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    top: 0;
    left: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-nugget-info a {
    width: 160px;
    position: relative;
    font-size: 14px;
    color: #6375ad;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.cd-nugget-info a:hover {
    opacity: .8;
}

.cd-nugget-info span {
    vertical-align: middle;
    display: inline-block;
}

.cd-nugget-info span svg {
    display: block;
}

.cd-nugget-info .cd-nugget-info-arrow {
    fill: #6375ad;
}

@supports (background: linear-gradient(to left, #000, #000)) or (background: -webkit-linear-gradient(to left, #000, #000)) {
    /* if linear-gradient is supported */
    .cd-tabs::after {
        /* subtle gradient layer on top right of the tabbed navigation- to indicate it's possible to scroll */
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        width: 50px;
        z-index: 1;
        pointer-events: none;
        background: -webkit-gradient(linear, right top, left top, from(#f8f7ee), to(rgba(248, 247, 238, 0)));
        background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }

    .cd-tabs.cd-tabs--scroll-ended::after {
        /* class added in JavaScript - remove the gradient layer when it's no longer possible to scroll */
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
    }
}

.cd-tabs nav {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #f8f7ee;
    -webkit-box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

@media only screen and (min-width: 768px) {
    .cd-tabs::after {
        display: none;
    }

    .cd-tabs nav {
        top: 0;
        left: 0;
        height: 100%;
        -webkit-box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
        box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
        z-index: 1;
    }
}

@media only screen and (min-width: 769px) {
    .cd-tabs nav {
        position: relative;
        float: none;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.cd-tabs__navigation {
    width: 100%;
}

.cd-tabs__navigation:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-tabs__navigation li {
    float: left;
    width: 33.33%;
}

.cd-tabs__navigation a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding-top: 35px;
    background: #47a3da;
}

.cd-tabs__navigation a:hover {
    color: #ffffff;
    background-color: rgb(85, 147, 185);
}

.cd-tabs__navigation a.cd-selected {
    background-color: #f1f1f1 !important;
    -webkit-box-shadow: inset 0 2px 0 #5ebfea;
    box-shadow: inset 0 3px 0 #5ebfea;
    color: #47a3da;
}

/*.cd-tabs__navigation a::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -8px;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url("./img/cd-icons.svg");
    background-repeat: no-repeat;
}
  */
.cd-tabs__navigation a[data-content='new']::before {
    background-position: 0 0;
}

.cd-tabs__navigation a[data-content='gallery']::before {
    background-position: -16px 0;
}

.cd-tabs__navigation a[data-content='store']::before {
    background-position: -32px 0;
}

.cd-tabs__navigation a[data-content='settings']::before {
    background-position: -48px 0;
}

.cd-tabs__navigation a[data-content='trash']::before {
    background-position: -64px 0;
}

.cd-tabs__navigation a[data-content='inbox']::before {
    background-position: -80px 0;
}

.cd-tabs__navigation a[data-content='new'].cd-selected::before {
    background-position: 0 -16px;
}

.cd-tabs__navigation a[data-content='gallery'].cd-selected::before {
    background-position: -16px -16px;
}

.cd-tabs__navigation a[data-content='store'].cd-selected::before {
    background-position: -32px -16px;
}

.cd-tabs__navigation a[data-content='settings'].cd-selected::before {
    background-position: -48px -16px;
}

.cd-tabs__navigation a[data-content='trash'].cd-selected::before {
    background-position: -64px -16px;
}

.cd-tabs__navigation a[data-content='inbox'].cd-selected::before {
    background-position: -80px -16px;
}

@media only screen and (min-width: 768px) {
    .cd-tabs__navigation {
        /* move the nav to the left on medium sized devices */
        float: left;
    }

    .cd-tabs__navigation a {
        width: 100%;
    }

    .cd-tabs__navigation a.cd-selected {
        -webkit-box-shadow: inset 0 2px 0 #5ebfea;
        box-shadow: inset 0 3px 0 #5ebfea;
    }

    .cd-tabs__navigation a::before {
        top: 24px;
    }
}

@media only screen and (min-width: 960px) {
    .cd-tabs__navigation {
        /* tabbed navigation on top on big devices */
        background-color: #f8f7ee;
        -webkit-box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
        box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    }

    .cd-tabs__navigation a {
        width: auto;
        padding: 0 2.8em 0 2.6em;
    }

    .cd-tabs__navigation a.cd-selected {
        -webkit-box-shadow: inset 0 2px 0 #5ebfea;
        box-shadow: inset 0 3px 0 #5ebfea;
    }

    .cd-tabs__navigation a::before {
        top: 50%;
        margin-top: -8px;
        margin-left: 0;
        left: 40px;
    }
}

.cd-tabs__content {
    background: #f1f1f1;
    padding-top: 20px;

}

.cd-tabs__content li {
    display: none;
    padding: .5em;
}

.cd-tabs__content li.cd-selected {
    display: block;
    -webkit-animation: cd-fade-in 0.5s;
    animation: cd-fade-in 0.5s;
}

.cd-tabs__content li p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: white;
    margin-bottom: 2em;
}

@media only screen and (min-width: 960px) {
    .cd-tabs__content {
        min-height: 0;
    }

    .cd-tabs__content li p {
        font-size: 1.6rem;
    }
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Slotgame header {
    margin-bottom: 30px;
    background: #2a2a2a;
    padding: 0px;
    position: relative;

}

#Slotgame h1 {
    font-size: 1.5em;
    color: #FFF;
    padding: 10px;
    width: 20%;
    background: #47a3da;
    text-align: center;
    float: left;
    margin: 0px;
}

#Slotgame header:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-width: 27px 15px 20px 0px;
    border-style: solid;
    border-color: rgba(255, 0, 0, 0) #fff rgba(0, 0, 255, 0) rgba(0, 128, 0, 0);
}

.SlotGame .slot_warp {
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.SlotGame .slot_warp img {
    width: 80%;
}

.Online .slot_warp {
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.Online .slot_warp img {
    width: 80%;
}

.P2P .slot_warp {
    float: left;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.P2P .slot_warp img {
    width: 80%;
}

#Mobile {
    margin-top: 50px;
    background-color: #eef2f5;
    padding: 70px 0;
}

#Mobile .mobile_inner {
    width: 70%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0em;

}

.mb_con_warp {
    padding: 10px 30px;
}

.mb_img {
    width: 50%;
    float: left;
}
.mb_pd2 a:hover {
    color: #47a3daba;
    text-decoration: underline;
}
.mb_img img {
    width: 90%;
}

.mb_content {
    width: 50%;
    float: left;
}

.mb_content h1 {
    color: #47a3da;
    font-weight: 500;
    font-size: 2em;
    margin-bottom: 0px;

}

.mb_content p {
    color: #47a3da;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 10px;
}

.mb_content ul {
    list-style: initial;
    margin: 20px 0;
    padding: 0 0 0 18px;
}

.mb_content ul li {
    margin-bottom: 20px;
    color: #848484;
    font-weight: 300;
}

.mb_icon .mb_dw {
    width: 40%;
    float: left;
    margin-top: 20px;
    cursor: pointer;
}

.mb_icon .mb_dw img {
    width: 170px;
}

#SlotIntro {
    width: 70%;
    max-width: 70em;
    margin: 50px auto;
    padding-bottom: 2em;

}

#SlotIntro h1 {
    margin-bottom: 0px;
    font-size: 1.5em;
    color: #47a3da;
}

#SlotIntro hr {
    height: 1px;
    background: #bbbbbb;
    border: none;
}

.slotintro_warp {
    margin-top: 30px;
}

.slotintro_warp li {
    width: 20.5%;
    float: left;
    text-align: center;

}

.mb_pd {
    margin-left: 6%;
}

.slotintro_warp li img {
    width: 100%;
}

.mb_pd2 {
    text-align: left;
}

.mb_pd2 a {
    font-size: .8em;
    color: #47a3da;
    cursor: pointer;
}

.mb_pd2 p {
    font-size: .9em;
    color: black;
    font-weight: bold;
    margin-top: 5px;
}


.fa_left{
    margin-right: 5px;
}


footer {
    background: black;
    color: white;
}

footer p {
    padding: 15px;
    font-size: .7em;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.top_warp {
    width: 75%;
    margin-top: auto;
    float: left;
    /* border-radius: 4px;
     border: 3px solid #03A9F4;
     box-shadow: 0px 5px 18px #02020242; */
}

.marWarp {
    width: 100%;
    padding: 10px 0px;
    /*background-color: #0b6ebf; */
    overflow: hidden;
    margin-left: auto;

}

#Marquee {
    width: 100%;
    position: fixed;
    z-index: 2000;
    bottom: 0px;
}

.marquee {
    display: block;
    position: relative;
    width: 1000px;
    animation: scroll 20s linear infinite;
    padding: 5px;
}

.marquee span {
    color: white;
    word-wrap: normal;
    font-size: 1em;
}

.marquee:hover {
    animation-play-state: paused
}

@keyframes scroll {
    0% {
        left: 1200px;
    }
    100% {
        left: -1200px;
    }
}

.Register h3 {
    margin-top: 4px;
    width: 80%;
    float: left;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 2px;

}

.Register .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.Register .icon {
    padding: 10px;
    background: #47a3da;
    color: white;
    min-width: 30px;
    text-align: center;
    padding-top: 15px;
}

.Register .input-field {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    background: #ececec;
}

.Register .input-field:focus {
    border: none;
}

.Register .btn {
    background-color: #47a3da;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 30px;
}

.Register .btn:hover {
    opacity: 1;
}

.Login h3 {
    margin-top: 4px;
    width: 80%;
    float: left;
    color: white;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 2px;

}

.Login .input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 35px;
}

.Login .icon {
    padding: 10px;
    background: #47a3da;
    color: white;
    min-width: 30px;
    text-align: center;
    padding-top: 15px;
}

.Login .input-field {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    background: #ececec;
}

.Login .input-field:focus {
    border: none;
}

.Login .btn {
    background-color: #47a3da;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 30px;
}

.Login .btn:hover {
    opacity: 1;
}

@media screen and (max-width: 55em) {

    /* .container > header img,
     .container > header nav {
         float: none;
     } */
    .container > header > span,
    .container > header h1 {
        text-align: center;
    }

    /* .container > header nav {
         margin: 0 auto;
     }
       */
    .container > header > span {
        text-indent: 30px;
    }
}

@media screen and (max-width: 65em) {
    .cbp-hsmenu-wrapper {
        font-size: 100%;
    }
}

@media screen and (max-width: 51.4375em) {
    .cbp-hsmenu-wrapper {
        font-size: 100%;
    }

    .cbp-hsmenu-wrapper .cbp-hsmenu {
        padding: 0;
        max-width: none;
        width: 100%;
    }

    .cbp-hsmenu > li {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .cbp-hsmenu > li:first-child {
        border-top: none;
    }

    .cbp-hsmenu > li > a {
        display: block;
    }

    .cbp-hsmenu > li > a:not(:only-child):before {
        line-height: 1.8;
        right: 0;
        position: absolute;
        font-size: 200%;
    }

    .cbp-hsmenubg {
        display: none;
    }

    .cbp-hssubmenu {
        background: #f7f7f7;
        position: relative;
        overflow: hidden;
        height: 0;
    }

    .cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
        height: auto;
    }

    /* Let's only allow 3 item in a row now */
    .cbp-hssubmenu > li {
        width: 30%;
    }

    /* Reset box shadows for the 6 items in row case */
    .cbp-hssubmenu > li:nth-child(-n+6),
    .cbp-hssubmenu > li:nth-child(6n+1) {
        box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
    }

    /* First 4 items don't have upper box shadow */
    .cbp-hssubmenu > li:nth-child(-n+3) {
        box-shadow: -28px 0 0 -27px #ddd;
    }

    /* Every 5th item does not have a left box shadow */
    .cbp-hssubmenu > li:nth-child(3n+1) {
        box-shadow: 0 -28px 0 -27px #ddd;
    }

}

@media screen and (max-width: 25em) {
    .cbp-hssubmenu > li {
        width: 100%;
        display: block;
    }

    .cbp-hsmenu-wrapper .cbp-hssubmenu > li {
        box-shadow: 0 1px #cecece;
        text-align: left;
    }

    .cbp-hssubmenu > li a {
        text-align: left;
        line-height: 50px;
        padding: 0.4em 1em;
    }

    .cbp-hssubmenu > li a img {
        float: left;
        max-height: 50px;
    }

    .cbp-hssubmenu > li a span {
        min-height: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1480px) {
    .menu > ul > li > ul > li > ul > li {
        width: 21%;
        margin: 15px;
    }

    .mb_con_warp {
        padding: 10px 0px;
    }

    .mb_icon .mb_dw {
        width: 45%;
    }
}

@media screen and (max-width: 1200px) {
    .menu > ul > li > ul > li > ul > li {
        width: 21%;
        margin: 12px;
    }

    .mb_content h1 {
        font-size: 1.5em;
    }

    .mb_content p {
        font-size: .9em;
    }

    .mb_content ul li {
        margin-bottom: 15px;
        font-size: .9em;
    }

    .mb_icon .mb_dw img {
        width: 130px;
    }

    .mb_icon .mb_dw {
        width: 40%;
    }
    #Mobile .mobile_inner {
        width: 90%;
        max-width: 90em;
    }
    #Mobile {
        margin-top: 40px;
    }
    #Promo {
        width: 90%;
        max-width: 90em;
        margin-top: 25px;
    }

    #Slotgame {
        width: 90%;
        max-width: 90em;
        margin-top: 0px;
    }

    #SlotIntro {
        width: 90%;
        max-width: 90em;
    }
    .container > header {
        width: 90%;
        max-width: 90em;
    }
}

@media screen and (max-width: 1150px) {
    /* .container > header .logo_sty {
         width: 100%;
         text-align: center;
     }

     .container > header img {
         float: none;
     }

     .container > header nav {
         width: 100%;
     }
       */
    .form_warp {
        width: 100%;
        margin: auto;
    }

    .form_sty {
        width: 60%;
        margin: auto;
        float: none;
    }

    .topform .btn_con {
        width: 60%;
        margin: auto;
        float: none;
    }

    .topform .input-container {
        margin-right: auto;
        width: 48%;
    }

    .topform .input-container:nth-child(2) {
        float: right;
    }

    /* .container > header nav {
         margin-top: 10px;
     } */
    .topform .btn {
        float: none;
        width: 30%;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    .menu > ul > li a {
        padding: .7em 3em;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1040px) {
    .form_sty {
        width: 80%;
    }

    .topform .btn_con {
        width: 80%;
    }
    .menu > ul > li a {
        padding: .7em 3em;
        font-size: 1em;
    }

}
@media screen and (max-height: 700px) {
    .menu .show-on-mobile {
        display: block;
        overflow-x: overlay;
        height: 250px;
    }
}
@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }

    .menu-mobile {
        display: block;
    }
    .menu_i i {
       float: right;
    }

    .menu-dropdown-icon:before {
        /*display: block; */
    }

    .menu > ul {
        display: none;
    }

    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }

    .menu > ul > li a {
        padding: 1em;
        display: block;
    }

    .menu > ul > li > ul {
        position: relative;
       
    }

    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }

    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }

    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }

    .menu > ul > li > ul > li > ul {
        position: relative;
       
    }

    .menu > ul > li > ul > li > ul > li {
        float: none;
    }

    .menu .show-on-mobile {
        display: block;
    }

    .mb_content h1 {
        font-size: 1.3em;
    }

    .mb_content p {
        font-size: .8em;
    }

    .mb_content ul li {
        margin-bottom: 10px;
        font-size: .8em;
    }

    .mb_icon .mb_dw img {
        width: 130px;
    }

    .mb_icon .mb_dw {
        width: 40%;
    }

    #Mobile {
        padding: 50px 0;
    }
    

    .cd-tabs__navigation a {
        height: 10px;
        line-height: 11px;
        padding: 20px 0px;
        font-size: 1rem;
    }

    #Slotgame h1 {
        font-size: 1.2em;
    }

    .marWarp {
        padding: 7px 0px;
    }

    .mb_pd2 p {
        font-size: .8em;
    }

    #SlotIntro h1 {
        font-size: 1.2em;
    }
    .fa_left {
       float: left!important;
        margin-right: 15px;
    }
    .menu_i i {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 985px) {
    .menu > ul > li > ul > li > ul > li {
        float: left;
        padding: 7px 0;
        margin: 4px;
        width: 32%;
    }

    .menu > ul > li > ul {
        padding: 5px;
    }
}

@media only screen and (max-width: 876px) {
    .menu > ul > li > ul > li > ul > li {
        float: left;
        padding: 7px 0;
        margin: 9px;
        width: 30%;
    }

    .menu > ul > li > ul {
        padding: 5px;
    }
}

@media screen and (max-width: 823px) {
    .container > header img {
        width: 200px;
    }

    .container > header {
        width: 90%;
    }

    .menu {
        width: 90% !important;

    }

    .container > header {
        padding: .5em 1em .5em;
    }

    .container > header nav {
        margin-top: 35px;
    }

    .container > header nav i {
        font-size: 1.1em;
        line-height: 38px;
    }

    .container > header nav a {
        width: 120px;
        font-size: .9em;
        line-height: 38px;
        margin: 0em .4em;
    }

    .marquee span {
        color: white;
        word-wrap: normal;
        font-size: .8em;
    }

}

@media screen and (max-width: 769px) {
    .mb_icon .mb_dw img {
        width: 110px;
    }
    .mb_icon .mb_dw {
        width: 45%;
        margin-top: 0px;
    }
    .pro_warp .item {
        width: 50%;
    }
    .slotintro_warp li {
        width: 47.5%;
        float: left;
        text-align: center;
    }
    .mb_pd {
        margin-left: 5%;
        margin-bottom: 3%;
    }
    .mb_pd:nth-child(3) {
        margin-left: 0px;
    }
    #SlotIntro {
        padding-bottom: 0em;
    }
    #Slotgame header {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 700px) {
    .banner_m {
        display: none !important;
    }
}

@media screen and (max-width: 699px) {
    .banner_a {
        display: none !important;
    }

    .modal {
        width: 450px;
        margin: 50% 0 0 -225px;
    }
    .mb_img {
        width: 100%;
        text-align: center;
    }
    .mb_content {
        width: 100%;
        margin: auto;
        text-align: center;
        
    }
    .mb_img img {
        width: 60%;

    }
    .mb_content ul {
        width: 50%;
        margin: auto;
        text-align: left;
    }
    .mb_icon .mb_icon_mg {
        text-align: center;
        margin: auto;
        width: 50%;

    }
    .mb_icon .mb_dw {
        width: 50%;
        margin-top: 20px;
    }
    #Mobile {
        padding: 30px 0;
    }
    .pro_warp .item .item_img {
        padding: 0px 10px;
    }

}

@media only screen and (max-width: 610px) {
    .menu > ul > li > ul > li > ul > li {
        float: left;
        padding: 7px 0;
        margin: 3px;
        width: 32%;
    }

    .menu > ul > li > ul {
        padding: 5px;
    }
}

@media screen and (max-width: 550px) {
    .form_sty {
        width: 100%;
    }

    .topform .btn_con {
        width: 100%;
    }

    .topform .icon {
        min-width: 15px;
    }

    .container > header {
        padding: 0em 0em;
        width: 95%;
        max-width: 95em;
    }

    .topform .btn {
        margin-right: 10px;
        width: 35%;
    }

    .container > header img {
        width: 130px;
    }

    .container > header .logo_sty {
        width: 30%;
        text-align: center;
        margin-top: 10px;
        float: left;
    }

    .container > header img {
        float: none;
    }

    .container > header nav {
        width: 70%;
        float: left;
    }

    .container > header nav {
        text-align: right;
    }

    .container > header nav {
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .menu > ul > li > ul > li > ul > li {
        float: left !important;
        padding: 7px 0 !important;
        margin: 4px !important;
        width: 47% !important;
    }

    .menu > ul > li > ul {
        padding: 5px !important;
    }

    .container > header nav a {
        width: 100px;
        font-size: .8em;
        line-height: 34px;
        margin: 0em .4em;
    }

    #Mobile .mobile_inner {
        width: 95%;
        max-width: 95em;
    }
    #Mobile {
        margin-top: 40px;
    }
    #Promo {
        width: 95%;
        max-width: 95em;
        margin-top: 20px;
    }

    #Slotgame {
        width: 95%;
        max-width: 95em;
        margin-top: 5px;
    }
    #SlotIntro h1 {
        padding-top: 10px;
    }
    .slotintro_warp {
        margin-top: 30px;
    }
    #SlotIntro {
        width: 95%;
        max-width: 95em;
        margin: 30px auto;
        padding-bottom: 0em;
    }
    .mb_icon .mb_icon_mg {
        width: 70%;
    }
    #Slotgame h1 {
        font-size: 1em;
    }
    .marWarp {
        padding: 4px 0px;
    }
    #Slotgame header:after {
        border-width: 20px 15px 20px 0px;
    }
    .SlotGame .slot_warp {
        width: 25%;
    }
    .Online .slot_warp {
        width: 25%;
    }
    .P2P .slot_warp {
        width: 25%;
    }
    .mb_icon .mb_dw img {
        width: 120px;
    }
    .modal {
        width: 350px;
        margin: 50% 0 0 -175px;
    }
    .content {
        padding: 20px 0px;
        width: 85%;
    }
    .Login h3 {
        margin-top: 8px;
        font-size: 1.2em;
    }
    .Register h3 {
        margin-top: 8px;
        font-size: 1.2em;
    }
    .Login .input-container {
        margin-bottom: 30px;
    }
    .btn-close {
        font-size: 23px;
        padding-top: 5px;
    }
}
@media screen and (max-width: 450px) {
    #Slotgame h1 {
        font-size: .7em;
        width: 20%;
        padding: 10px;
    }
    .marWarp {
        padding: 2px 0px;
    }
    .marquee span {
        font-size: .7em;
    }
    .top_warp {
        width: 70%;
    }
    #Slotgame header:after {
        border-width: 16px 15px 20px 0px;
    }
    .cd-tabs__navigation a {
        padding: 15px 0px;
        font-size: .8rem;
    }
    #Slotgame header {
        margin-bottom: 20px;
    }
    .mb_content ul {
        width: 80%;
    }
    .mb_icon .mb_icon_mg {
        width: 85%;
    }
    .mb_content h1 {
        font-size: 1.1em;
    }
    .pro_warp .item{
        width: 50%;
    }
    .SlotGame .slot_warp {
        width: 33.33%;
    }
    .Online .slot_warp {
        width: 33.33%;
    }
    .P2P .slot_warp {
        width: 33.33%;
    }
    .pro_warp .item .item_img {
        padding: 0px 5px;
        margin: 0 auto 10px;
    }
}

@media screen and (max-width: 400px) {
    .container > header nav a {
        width: 80px;
        font-size: .7em;
        line-height: 30px;
        margin: 0em .3em;
    }

    .container > header img {
        width: 120px;
    }
    .modal {
        width: 300px;
        margin: 50% 0 0 -150px;
    }
    .content {
        padding: 20px 0px;
    }
    .Login h3 {
        margin-top: 8px;
        font-size: 1.2em;
    }
}


