@import '../../../screen.less';

.wager_confirm{
  width: 150px;
  position: absolute;
  @media @ipadL {width: 100px;}
  @media @ipadS {width: 100px;}
  @media @PhoneX {width: 100px;}
  @media @Phone {width: 100px;}
  @media @Phone5 {width: 60px;}

    .amount{text-align: center;
        background-color: #8778da;
        padding: 3px;
        color: white;
        border-radius: 3px;
        font-family: sans-serif;
        font-size: 1.2em;
        word-break: break-all;
        text-align: left;
        padding-left: 10px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        :local(i){
          float: right;
          font-size: 24px;
          @media @ipadL {font-size: 18px;}
          @media @ipadS {font-size: 16px;}
          @media @PhoneX {font-size: 15px;}
          @media @Phone {font-size: 15px;}
          @media @Phone5 {font-size: 13px;}
        }

        @media @ipadL {font-size: 12px;}
        @media @ipadS {font-size: 12px;}
        @media @PhoneX {font-size: 10px;}
        @media @Phone {font-size: 10px;}
        @media @Phone5 {padding: 1px 3px;}
    }
    .actions{text-align: right;padding-top:5px;
        :global(.ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only){background: #985EFF;
            color: #fff;
            border: none;
            width: 25px;
            padding: 0;
            height: 25px;
            text-align: center;
            &:nth-child(2){background: #DC3326;margin-left: 5px}

            @media @ipadL {width: 20px;height: 20px;font-size: 11px;}
            @media @ipadS {width: 20px;height: 20px;font-size: 11px;}
            @media @PhoneX {width: 15px;height: 15px;font-size: 11px;}
            @media @Phone {width: 15px;height: 15px;font-size: 11px;
            }
        }
    }
}
