@import '~antd/dist/antd.css';

.App {
  width: 100%;
  margin: auto;
  padding: 20px 0px;
  background-image: url("./assets/images//bg.jpeg");
  background-size: cover;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center
}
.weather {
  width: 70%;
}
.weather .ant-col{
  padding: 10px;
}
.card_warpper .ant-card-head{
  padding: 0px 10px;
}
.card_warpper .ant-card-body{
  padding: 5px 0px;
}
.status{
  text-align: right;
}
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
}