@import '../../../pages/screen.less';

.header{

  .header_warp {padding-top: 20px;

    .header_left{width: 10%;float: left;text-align: left;color: white;
      @media @ipadL {width: 12%;}
      @media @ipadS {width: 12%;}
    }

    .header_center{
      width: 55%;
      float: left;
      text-align:
      left;color: white;
      font-family: 'Microsoft YaHei',@familyFaces;

      @media @DesktopsL {width: 50%;}
      @media @DesktopsM {width: 50%;}
      @media @LaptopL {width: 48%;}
      @media @LaptopM {width: 48%;}
      @media @LaptopS {width: 45%;}
      @media @LaptopXS {width: 40%;}
      @media @ipadL {width: 31%;}
      @media @ipadS {width: 31%;}

      :global(.am-notice-bar){
        width: 90%;
        height: 50px;
        line-height: 40px;
        background-color: black;
        border-radius: 10px;
        color: white;
        @media @LaptopL {height: 35px;border-radius: 5px;line-height: 35px;}
        @media @LaptopM {height: 35px;border-radius: 5px;line-height: 35px;}
        @media @LaptopS {height: 35px;border-radius: 5px;line-height: 35px;width: 100%;}
        @media @LaptopXS {height: 35px;border-radius: 5px;line-height: 35px;width: 100%;}
        @media @ipadL {height: 35px;border-radius: 5px;line-height: 35px;width: 100%;}
        @media @ipadS {height: 35px;border-radius: 5px;line-height: 35px;width: 100%;}
      }

      :global(.am-notice-bar-content ){
        @media @ipadL {font-size: .8em;}
        @media @ipadS {font-size: .8em;}
        }
      :global(.am-notice-bar-marquee ){color: yellow;
        @media @Phone {font-size: 9px;}
      }

    }

    .header_right{width: 35%;float: left;text-align: right;color: white;

        @media @DesktopsL {width: 40%;}
        @media @DesktopsM {width: 40%;}
        @media @LaptopL {width: 42%;}
        @media @LaptopM {width: 42%;}
        @media @LaptopS {width: 45%;}
        @media @LaptopXS {width: 50%;}
        @media @ipadL {width: 57%;}
        @media @ipadS {width: 57%;}


        .right_warp{
          &:nth-child(1){width: 177px;float: left;
            .lang_select{
              font-family: 'Microsoft YaHei',@familyFaces;
              :local(i){width: 30px;margin-right: 10px !important;
                @media @ipadL {margin-right: 5px !important;}
                @media @ipadS {margin-right: 0px !important;}
              }
            }
            @media @DesktopsL {width: 175px;}
            @media @DesktopsM {width: 180px;}
            @media @LaptopL {width: 160px;}
            @media @LaptopS {width: 159px;}
            @media @LaptopXS {width: 161px;}
            @media @ipadL {width: 147px;}
            @media @ipadS {width: 141px;}
          }

          &:nth-child(2){width: 143px;float: left;
            .rate_view {
              font-family: 'Microsoft YaHei',@familyFaces;
              .warp{width: 50%;float: left;
                :local(div){
                  border-radius: 50%;
                  width: 43px;
                  height: 43px;
                  text-align: center;
                  border: 2px solid white;
                  padding: 5px;
                  margin: auto;
                  line-height: 15px;
                  font-size: 10px;
/*
                  @media @LaptopL {width: 45px;height: 45px;line-height: 17px;font-size: 0.9em;}
                  @media @LaptopM {width: 45px;height: 45px;line-height: 17px;font-size: 0.9em;}
                  @media @LaptopS {width: 45px;height: 45px;line-height: 15px;font-size: 0.8em;}
                  @media @LaptopXS {width: 45px;height: 45px;line-height: 15px;font-size: 0.8em;}
                  @media @ipadL {width: 45px;height: 45px;line-height: 15px;font-size: 0.8em;}
                  @media @ipadS {width: 45px;height: 45px;line-height: 15px;font-size: 0.8em;}
*/
                  :local(p){
                    padding: 0;
                    margin: 0;
                    @media @PhoneX {font-size: 9px;}
                    @media @Phone {font-size: 9px;}
                  }
                }

              }
            }
            @media @DesktopsL {width: 150px;}
            @media @LaptopL {width: 137px;}
            @media @LaptopM {width: 127px;}
            @media @LaptopS {width: 118px;}
            @media @LaptopXS {width: 122px;}
            @media @ipadL {width: 112px;}
            @media @ipadS {width: 112px;}
          }

          &:nth-child(3){width: 166px;float: left;
            .user_view{
              :local(button){
                padding: 0 30px;
                background-color: #985eff;
                border-color: #985eff;
                height: 40px;
                font-family: 'Microsoft YaHei',@familyFaces;
                @media @LaptopL {font-size: 12px;}
                @media @LaptopM {font-size: 14px; padding: 0 24px;}
                @media @LaptopS {font-size: 12px; padding: 0 24px;}
                @media @LaptopXS {font-size: 12px; padding: 0 24px;}
                @media @ipadL {font-size: 12px; padding: 0 24px;}
                @media @ipadS {font-size: 12px; padding: 0 24px;}
              }
              :global(.ant-menu){
                text-align: left;
                background-color: #8181f7;
                border-radius: 5px;
                line-height: 35px;
                border-bottom: none;
                margin-left: 34px;
                width: 130px;
                height: 40px;
                font-family: 'Microsoft YaHei',@familyFaces;

                @media @DesktopsL {margin-left: 35px; width: 150px;}
                @media @DesktopsM {margin-left: 27px;}
                @media @LaptopL {margin-left: 27px;}
                @media @LaptopM {margin-left: 27px;}
                @media @LaptopS {margin-left: 27px; width: 140px;}


                li{
                  width: 100%;
                  border-bottom: none;
                  :global(.ant-menu-submenu-title:hover){
                    color: white;
                  }
                  :global(.ant-menu-submenu-title){
                    padding: 0px 5px;

                    span{
                      i{
                        margin-right: 5px;
                        padding-left: 5px;
                      }
                      :global(.anticon-caret-down){
                        float: right;
                        padding-top: 10px;
                      }
                    }
                  }
                }

              }
            }
            @media @DesktopsL {width: 137px;}
            @media @DesktopsM {width: 140px;}
            @media @LaptopL {width: 137px;}
            @media @LaptopM {width: 131px;}
            @media @LaptopS {width: 120px;}
            @media @LaptopXS {width: 118px;}
            @media @ipadL {width: 115px;}
            @media @ipadS {width: 115px;}
          }
        }

      :global(.ant-select ){width: 100% !important;}
      :global(.ant-select-selection ){
        background-color: transparent !important;
        border: none !important;
        color: white !important;
      }
      :global(.ant-select-arrow  ){color: white !important;}
      :global(.ant-select-selection-selected-value  ){
        font-size: 1.3em;
        overflow: inherit;
        text-overflow: initial;
        @media @DesktopsL {font-size: 1.2em;}
        @media @LaptopL {font-size: 1em;}
        @media @LaptopS {font-size: 1em;}
        @media @LaptopXS {font-size: 1em;}
        @media @ipadL {font-size: 1em;}
        @media @ipadS {font-size: .9em;}
      }
      :global(.ant-select-selection-selected-value  ){
        :local(i){font-size: 1.5em;vertical-align: middle;}
      }
    }

  }
  @media @PhoneX {display: none}
}
