@import '../../../screen.less';

.CardTypeList{background-color: #1B1B56;
  .card_content{padding: 80px 30px;
    @media @PhoneX{padding: 50px 30px}
    @media @PhoneS{padding: 50px 10px}
    :local(ul){
      list-style: none;
      padding: 0;
      margin-bottom: 0px;
      li{
        color: white;
        margin-bottom: 150px;
          @media @ipadS{margin-bottom: 100px;}
          @media @PhoneX{margin-bottom: 80px;}
          @media @Phone{margin-bottom: 50px;}
          @media @PhoneS{margin-bottom: 40px;}

        :local(label){float: left;

          &:nth-child(1){
            width: 10%;
            text-align: right;
            font-size: 2em;
            font-weight: bold;
            padding-top: 55px;
            @media @LaptopL{
              width: 20%;
              text-align: center;
              font-size: 2em;
              font-weight: bold;
              padding-top: 55px;
            }
            @media @LaptopM{
              width: 20%;
              text-align: center;
              font-size: 2em;
              font-weight: bold;
              padding-top: 55px;
            }
            @media @LaptopS{
              width: 20%;
              text-align: center;
              font-size: 2em;
              font-weight: bold;
              padding-top: 55px;
            }
            @media @LaptopXS{
              width: 20%;
              text-align: center;
              font-size: 2em;
              font-weight: bold;
              padding-top: 55px;
            }
            @media @ipadL{
              width: 20%;
              padding-top: 20px;
              padding-top: 30px;
            }
            @media @ipadS{
              width: 20%;
              text-align: center;
              font-size: 1.5em;
              padding-top: 30px;
            }
            @media @PhoneX{
              width: 20%;
              text-align: center;
              font-size: 1.2em;
              padding-top: 30px;
            }
            @media @Phone{
              width: 20%;
              padding-top: 20px;
              font-size: 1.1em;
            }
            @media @PhoneS{
              width: 20%;
              padding-top: 20px;
              font-size: 1em;
            }

          }
          &:nth-child(2){
            width: 70%;
            text-align: center;
            :local(div){
              width: 80%;
              margin: auto;
              @media @LaptopL{width: 90%;}
              @media @LaptopM{width: 90%;}
              @media @LaptopS{width: 90%;}
              @media @LaptopXS{width: 90%;}
              @media @PhoneX{width: 100%;}
            }
            @media @LaptopL{width: 60%;text-align: center;}
            @media @LaptopM{width: 60%;text-align: center;}
            @media @LaptopS{width: 60%;text-align: center;}
            @media @LaptopXS{width: 60%;text-align: center;}
            @media @PhoneX{width: 60%;text-align: center;}
          }
          &:nth-child(3){
            width: 20%;
            text-align: left;
            font-size: 1.5em;
            @media @LaptopS{font-size: 1.3em;}
            @media @LaptopXS{font-size: 1.3em;}
            @media @ipadS{font-size: 1em;}
            @media @PhoneX{font-size: .9em;padding-top: 5px;}
            @media @Phone{font-size: .8em;}
            @media @PhoneS{font-size: .7em;padding-top: 0px;}
          }

        }

        /* ---------- 牛牛 ----------*/
        &:nth-child(1){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/spade_K.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/heart_Q.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/spade_10.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/club_9.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/diamond_A.svg");}

            }
          }
        }
        /* ---------- 牛九 ----------*/
        &:nth-child(2){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/diamond_7.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/heart_A.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/club_2.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/club_3.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/heart_6.svg");}
            }
          }
        }
        /* ---------- 牛八 ----------*/
        &:nth-child(3){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/club_K.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/heart_Q.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/club_J.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/diamond_7.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/spade_A.svg");}
            }
          }
        }
        /* ---------- 牛七 ----------*/
        &:nth-child(4){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/club_K.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/spade_7.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/heart_3.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/heart_9.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/club_8.svg");}
            }
          }
        }
        /* ---------- 牛六 ----------*/
        &:nth-child(5){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/spade_10.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/spade_6.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/club_4.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/heart_9.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/spade_7.svg");}
            }
          }
        }
        /* ---------- 牛五 ----------*/
        &:nth-child(6){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/spade_K.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/spade_8.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/heart_2.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/diamond_9.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/club_6.svg");}
            }
          }
        }
        /* ---------- 牛四 ----------*/
        &:nth-child(7){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/diamond_10.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/club_10.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/heart_10.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/spade_9.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/heart_5.svg");}
            }
          }
        }
        /* ---------- 牛三 ----------*/
        &:nth-child(8){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/spade_J.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/spade_8.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/heart_2.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/heart_8.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/heart_5.svg");}
            }
          }
        }
        /* ---------- 牛二 ----------*/
        &:nth-child(9){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/club_Q.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/spade_9.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/spade_A.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/diamond_2.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/heart_10.svg");}
            }
          }
        }
        /* ---------- 牛一 ----------*/
        &:nth-child(10){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/heart_Q.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/diamond_9.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/heart_A.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/club_8.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/heart_3.svg");}
            }
          }
        }
        /* ---------- 没牛 ----------*/
        &:nth-child(11){
          .game_card{
            :local(span){
              &:nth-child(1){background: url("@/assets/images/svg/poker/diamond_10.svg");}
              &:nth-child(2){background: url("@/assets/images/svg/poker/club_9.svg");}
              &:nth-child(3){background: url("@/assets/images/svg/poker/heart_8.svg");}
              &:nth-child(4){background: url("@/assets/images/svg/poker/diamond_4.svg");}
              &:nth-child(5){background: url("@/assets/images/svg/poker/heart_4.svg");}
            }
          }
        }





      }
    }
    .game_card{
      :local(span){
        float: left;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 175px;
        width: 130px;
        border-radius: 10px;
        margin-right: 20px;
        @media @LaptopL{height: 135px;width: 101px;margin-right: 10px;}
        @media @LaptopM{height: 135px;width: 101px;margin-right: 10px;}
        @media @LaptopS{height: 136px;width: 101px;margin-right: 10px;}
        @media @LaptopXS{height: 136px;width: 101px;margin-right: 10px;}
        @media @ipadL{ height: 107px;width: 80px;margin-right: 10px;}
        @media @ipadS{ height: 91px;width: 69px;margin-right: 5px;}
        @media @PhoneX{ height: 84px;width: 62px;margin-right: 5px;}
        @media @Phone{ height: 75px;width: 56px;margin-right: 5px;}
        @media @PhoneS{ height: 60px;width: 45px;}
      }
    }
  }
}
