
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}

/* ---------------- react-orientation --------------- */
.orientation{background-color: #181847 !important;}
.mob_cen{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
}
.mob_cen i{
    margin: auto;
    display: block;
    width: 128px;
    height: 194px;
    /*background: url(../images/hengping.png 0 0 no-repeat);*/
    background: url('@/assets/images/hengping.png');
    background-size: 128px 194px;
    animation: mobileR 1.5s ease infinite alternate;
    -webkit-animation: mobileR 1.5s ease infinite alternate;
}
.orientation p{
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 25%;
    width:100%;
    text-align: center;
}
@keyframes mobileR{
    0% {
        -webkit-transform: rotate(-90deg);
    }
    30% {
        -webkit-transform: rotate(-90deg);
    }
    70% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes mobileR{
    0% {
        -webkit-transform: rotate(-90deg);
    }
    30% {
        -webkit-transform: rotate(-90deg);
    }
    70% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}