.firma-ara{
    padding-bottom: 100px;
    padding-top: 100px;
}

/*.form-arka-plan{
		background-image: url(../../../images/background-image.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}*/

.acik-renk-form{
    background: rgba(255, 255, 255, 0.58);
}
.siyah-cerceve{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


/*html { 
	background: url(../../../images/background-image.jpg) no-repeat center fixed; 
  background-size: cover;
}*/

body { 
	background: url(../../../images/background-image2.jpg) no-repeat center fixed;
    background-size: cover;
}