
&:global(.search-box){
    

    :global(.header){
        height: 40px;
        line-height: 40px;
        background: #fff;
    }
    :global(a.btn-more){float: right;}

    :global(.body){
        border-top:solid 1px #eee;
        background:#fff;
        width: 100%;
        min-height: 100%;
        position: absolute;
        left: 0;
        // z-index: 10000;
    }

    :global(.footer){
        position: fixed;
        bottom: 0;
        // z-index: 10000;
        width:100%;
        padding:3px;

        :global(.ant-btn){
            width:100%;
            height: 50px;
        }
    }
}