body { 
	background: url(../../images/footer-bgimage.png) no-repeat center fixed;
    background-size: cover;
}

/* newletter*/
.search-text{
	margin-top:50px;
	padding-top:60px;
	padding-bottom:60px;
}
	
.search-text .input-search{
	height:62px;
	/*width:40%;*/
	padding-left:20px;
	color:#333;
	
} 

.search-text .btn-search{
    background: #da3e44;
    font-family:Roboto;
    border:none;
	color:#FFF;
	height: 60px;
    /*width: 120px;*/
}

.search-text h3{
    color: #333333;
    font-weight: 700;
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#footer .text-white{color: #666666!important}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #666666;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#666666;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}


/* Use a media query to add a breakpoint at 800px: */
@media screen and  (max-width:800px){
	.fimages{width: 25%!important}
}

@media screen and  (max-width:767px){
	#footer a {
	font-size: 18px;
}
	
	#footer ul.social li a i{    
		font-size: 29px;}
	
	.fpandding{padding: 0px!important}
	
	.fimages{width: 30%!important}
}

@media screen and  (max-width:559px){
	.fimages{width: 40%!important}
	
}

@media (max-width: 767px){
	.search-text .input-search{
		margin-bottom: 20px;
		
	} 
}
