html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: white !important;
}

body .my-drawer {
  overflow: hidden;
}

body .my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: hidden;

}

body .my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}

body .am-list-item .am-input-extra {
  max-height: 100px;
}

/* ----------- Public  ---------- */
.clearfix {
  clear: both;
}
.am-calendar .header{
  position: initial;
  margin: 30px 10px!important;
}
.am-calendar .content{
  z-index: 10000000!important;
}
.am-calendar .header .left{
  position: initial!important;
}
.am-calendar .header .left{
  padding: 0px!important;
}
.fn-color-red{
  color: red;
}
.fn-color-green{
  color: #29d462;
}
.fn-color-blue{
  color: blue;
}
.zhongjing{
    background: url("./assets/images/icon/table-icon1.png");
}
html:not([data-scale]) .am-list-body::before{
  background-color: transparent!important;
  
}
.explain_modal_style .ant-modal-title{
  font-size: 1.5em;
  text-align: left;
}
.explain_modal_style .ant-modal-header{
  border-bottom: none;
}

.explain_modal_style .tooltip_style{
  text-align: right;
}
.explain_modal_style .tooltip_style i{
  font-size: 1.5em;
  color: #F56E00;
  background-color: #FFFDEB;
  border-radius: 50%;
  
}
.modal_public .confirm-btns{
  text-align: center;
  margin-top: 20px;
}
.modal_public .confirm-btns .ant-btn{
  padding: 0px 20px;
}
.modal_public i{
  margin-right: 5px;
}
/*
.weizhong{
    background: url("./assets/images/icon/table-icon4.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
    float: right;
}
.icon-warp-api .warp{
  width: 25px!important;
  float: right!important;
}
 ----------- captcha ---------- */
body img.img-captcha {
  width: 100px;
  height: 50px;
}

/* ----------- header menu bar ---------- */
.header #navbar {
  overflow: hidden;
  background-color: transparent;
  padding: 8px 5px;
  transition: 0.4s;
  position: initial;
  width: 100%;
  top: 0;
  color: white;
}

.header #navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header #navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

.header #navbar a:hover {
  background-color: #ddd;
  color: black;
}

.header #navbar a.active {
  background-color: dodgerblue;
  color: white;
}


/* .header #navbar-right li{
  float: left;
  width: 33.33%;
  list-style: none;
padding-top: 3px;
} */
/* .header #navbar-right li:nth-child(1){
  text-align: left;
position: fixed;
    z-index: 1000000;
} */
/* .header #navbar-right li:nth-child(2){
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  width: 100%;
  z-index: 10;
} */
/* .header #navbar-right li:nth-child(3){
  text-align: right;
  position: fixed;
    width: 100%;
    z-index: 10011;
    padding-right: 20px;
} */


@media screen and (max-width: 580px) {

.header   #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

}
.header{
  position: absolute;
}
/* ----------- Drawer and am-navbar---------- */

.am-drawer.am-drawer-right .am-drawer-draghandle {
  display: none;
}

.am-navbar {
  background-color: transparent !important;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.main-wrap .am-drawer-open.am-drawer.am-drawer-right .am-drawer-sidebar{
  background: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: top;
  z-index: 99;
  overflow: auto;
}
.main-wrap .am-drawer.am-drawer-right .am-drawer-sidebar{
  background: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: top;
  z-index: 99;
}
.main-wrap .ant-menu{
  background: transparent;
  margin-top: 20px;
  color: white;
}
.main-wrap .menu-logo {
  height: auto!important;
  text-align: center;
  margin: 20px 0px;
}
.main-wrap .menu-logo img{
  width: 100px;
}

.main-wrap .ant-menu-inline{
  border-right: none;
}
.main-wrap .ant-menu-item > a{
  color: white;
}
.main-wrap .ant-menu-submenu-title span a{
  color: white;
}
.main-wrap .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  background-color: rgba(0, 0, 0, 0.16);
}
.main-wrap .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover{
  color: #c1c1c1!important;
}
.main-wrap .ant-menu-sub{
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.16)!important;
}
.main-wrap .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
  color: white!important;
}
.main-wrap .ant-menu-item:active, .ant-menu-submenu-title:active{
  background-color: transparent;
}
.main-wrap .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
  color: white!important;
}
.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
  color: white!important;
}
/* ----------- Login page ---------- */
/*  login-page  */
.login-page {
  background: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  min-height: 600px;
}
.login-page .ant-form-item-children .forget_pass{
  float: right;
}
.login-page form {
  margin: auto;
}

.login-page .logo {
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}

.login-page .logo img {
  width: 150px;
}

.login-page .ant-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #828282;
  border-radius: 0px;
  box-shadow: none;
  color: white;
}

.login-page .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 45px;
}

.login-page .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: white;
}

.login-page .has-error .ant-input:not([disabled]):hover {
  border-bottom: 1px solid red;
}

.login-page .has-error .ant-input:focus {
  box-shadow: none;
}

.login-page input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.login-page input:-webkit-autofill,
.login-page input:-webkit-autofill:hover,
.login-page input:-webkit-autofill:focus,
.login-page input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.login-page .ant-input-prefix i {
  color: white !important;
}

.login-page ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #78849E;
}

.login-page ::-moz-placeholder {
  /* Firefox 19+ */
  color: #78849E;
}

.login-page :-ms-input-placeholder {
  /* IE 10+ */
  color: #78849E;
}

.login-page :-moz-placeholder {
  /* Firefox 18- */
  color: #78849E;
}

.login-page .ant-checkbox-wrapper {
  width: 50%;
  float: left;
  color: #78849E;
}

.login-page .login-form-forgot {
  width: 50%;
  float: left;
  text-align: right;
}

.login-page .login-form-button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  height: auto;
}

.login-page .register-side {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #78849E;
}

/* ----------- logout-btn ---------- */
.logout-btn{
  background-color: #665EFF;
  position: fixed!important;
  bottom: 0;
  margin-top: 0px!important;
  margin-bottom: 0px!important;
  text-align: center;
}



/* ----------- Homepage ---------- */
/* -- homepage --*/
.homepage {
  background-color: #F7F7FA;
}

.homepage .am-wingblank.am-wingblank-lg {
  margin-left: 0px;
  margin-right: 0px;
}

.homepage .am-notice-bar {
  background-color: white;
  color: rgba(0, 0, 0, 0.65);
  border-bottom: 1px solid #F7F7FA;
}

/* -- TopButton --*/
.Banner {
  float: left;
  width: 100%;
}

/* -- TopButton --*/
.top-button {
  background-color: white;
  padding: 10px 0px;
  float: left;
  width: 100%;
  text-align: center;
}

.top-button .warp {
  width: 25%;
  float: left;
}

.top-button .img-icon img {
  width: 40px;
}

.top-button .warp p {
  margin-bottom: 0px;
  font-size: .8em;
  margin: 5px 0px;
  color: #78849E;
}

/* -- HotCaiZhong --*/
.hot-cai-zhong {
  background-color: white;
  margin-top: 10px;
  padding-bottom: 80px;
  float: left;
  width: 100%;
}

.hot-cai-zhong .sub-title {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #F7F7FA;
  color: black;
}

.hot-cai-zhong .ant-row {
  margin: 10px 0px;
}

.hot-cai-zhong .ant-col-8 {
  padding: 10px;
}

.hot-cai-zhong .ant-col-8 img {
  width: 80px;
}

.hot-cai-zhong .ant-col-8 p {
  margin: 10px 0px;
}

.hot-cai-zhong .ant-col-6 {
  padding: 15px 5px;
  text-align: center;
}


.hot-cai-zhong .ant-col-6 img {
  width: 55px;
}

.hot-cai-zhong .ant-col-6 p {
  margin: 5px 0px;
  color: #78849E;
  font-size: .9em;
}
@media (max-width: 350px){
  .hot-cai-zhong .ant-col-6 p{
    font-size: .8em;
  }
}
.hot-cai-zhong .more {
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: auto;
  box-shadow: 0px 5px 40px rgba(70, 70, 70, 0.15);
}

.hot-cai-zhong .more i {
  font-size: 1.5em;
  line-height: 60px;
  color: #1890ff;
}

/*  hot-cai-zhong modal */
.hot-cai-zhong .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.hot-cai-zhong .top-header h3 {
  background-color: #2A2E43;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}

.hot-cai-zhong .close-game {
  position: absolute;
  top: 13px;
  right: 15px;
}

.hot-cai-zhong .close-game i {
  font-size: 1.3em;
}

.hot-cai-zhong .modal {
  display: block;
  padding: 0 1em;
  text-align: center;
  width: 100%;
}

.hot-cai-zhong .modal .sub-title {
  color: #b9b9b9;
}

.hot-cai-zhong .modal>label {
  background: #000;
  border-radius: .2em;
  color: #FFDE16;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 1em;
  padding: 0.75em 1.5em;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}

.hot-cai-zhong .modal>label:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.hot-cai-zhong .modal input {
  position: absolute;
  right: 100px;
  top: 30px;
  z-index: -10;
}

.hot-cai-zhong .modal__overlay {
  background: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -800;
}

.hot-cai-zhong .modal__box label {
  background: #FFDE16;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
}

.hot-cai-zhong .modal__box h2 {
  color: #FFDE16;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.hot-cai-zhong .modal__box p {
  text-align: center;
  color: #78849E;
  font-size: .9em;
}

.hot-cai-zhong .modal__overlay {
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.hot-cai-zhong input:checked~.modal__overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 1000000;
}

.hot-cai-zhong input:focus+label {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

/* -- BottomButton --*/
.bottom-button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: white;
  border-top: 1px solid #f1f1f1;
  float: left;
  width: 100%;
}

.bottom-button a {
  color: #B3B3B3;
}

.bottom-button .ant-col-6 {
  padding: 10px 10px;
  text-align: center;
}

.bottom-button .ant-col-6 img {
  width: 30px;
}

.bottom-button .ant-col-6 p {
  font-size: .8em;
  margin: 5px 0px 0px 0px;
  color: #B3B3B3;
}

/* ----------- GameSummary ---------- */
/* -- game-summary --*/
.game-summary {
  background: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  height: 250px;
}

.game-summary-last-open-qh b {
  color: red;
}

.game-summary-last-open-nums li {
  list-style: none;
  width: 12.5%;
  float: left;
}

.game-summary-last-open-qh {
  margin-bottom: 5px;
}

.game-summary-last-open-qh .price_ball {
  margin: auto;
  width: 100%;
}

.game-summary-last-open-nums {
  max-width: 400px;
  width: 75%;
  margin: auto;
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
}

.game-summary-last-open .ball-loading {
  color: red;
}

.game-summary-last-open .price_ball .ball {
  margin: auto;
  width: 30px;
  height: 30px;
  background: red;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.45);
}

/* -- Countdown --*/
.game-summary-countdown-qh {
  margin-bottom: 5px;
}

.game-summary-countdown-qh b {
  color: #3ACCE1;
}

.game-summary-countdown-time {
  margin-bottom: 15px;
}

.game-summary-countdown-time span {
  background-color: #3A99D8;
  border-radius: 2px;
  padding: 0px 5px;
  margin: 3px;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  font-family: "Microsoft YaHei";
}

.game-summary-countdown-time b {
  color: #3A99D8;
  font-size: 1.5em;
}

/*  game-selector    close  */
.game-selector-missing {
  display: none;
}

.game-selector-boxpick-digitpos .label {
  display: none;
}

.game-selector-boxpick-digitpos .nums .miss {
  display: none;
}

.game-orders {}

/* -- end close --*/
/* ----------- BetTypeSelect ---------- */
.game-body-left {
  position: absolute;
  top: 190px;
  width: 100%;
}

.game-bettype-detail .ant-card-body {
  padding: 0px;
  background: transparent;
}

.game-bettype-detail .ant-card-actions {
  background: transparent;
  border-top: none;
}

.game-bettype-detail .detaillist {
  background: transparent;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.game-bettype-detail .ant-card {
  background: transparent;
  margin: auto;
  float: left;
  position: initial;
}

.game-bettype-detail .ant-card:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 30%;
}

.game-bettype-detail .ant-card:nth-child(2) {
  width: 40%;
}

.game-bettype-detail .ant-card:nth-child(3) {
  width: 30%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.game-bettype-detail .ant-card-head {
  border-bottom: none;
  min-height: 25px;
}

.game-bettype-detail .ant-card-head-title {
  color: #6d6d6d;
  text-align: center;
  padding: 0;
  font-size: .8em;
}

.game-bettype-detail .ant-card-body p {
  color: white;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.1em;
  word-break: break-all;
  padding: 0px 2px;
}

.game-bettype-detail .ant-card-bordered {
  border: none;
}

.game-bettype-detail .ant-card-actions>li>span>.anticon {
  color: white;
}

.game-bettype-detail .ant-card-actions>li:not(:last-child) {
  border-right: 1px solid rgba(232, 232, 232, 0.18);
}

.game-bettype-detail .yen_sym span {
  color: #FFC107 !important;
}

.game-bettype-detail .detaillist .game_infor {
  color: #6d6d6d;
  margin-top: -10px;
  margin-left: -65px;
  position: absolute;
  font-size: 1.5em;
}

.game-bettype-detail .detaillist .game_select {
  color: white;
  float: right;
  margin-top: -40px;
  margin-right: 5px;
  background: #03A9F4;
  padding: 8px;
  border-radius: 50%;
  font-size: 1.5em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.9)
}

/* infor-pop */
.infor-pop .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.infor-pop .overlay:target {
  visibility: visible;
  opacity: 1;
}

.infor-pop .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 3s ease-in-out;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.48);
}

.infor-pop .popup h2 {
  margin-top: 0;
  color: #333;
  text-align: left;
}

.infor-pop .popup .close {
  position: absolute;
  top: 0px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.infor-pop .popup .close:hover {
  color: #06D85F;
}

.infor-pop .popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: left;
}

.infor-pop .icon-infor {
  text-align: right;
  font-size: 1.5em;
}

@media screen and (max-width: 700px) {
  .infor-pop .box {
    width: 85%;
  }

  .infor-pop .popup {
    width: 85%;
  }
}

/*  game-bettype  */
/* -- modal --*/
.game-bettype .modal {
  display: block;
  /*padding: 0 1em;*/
  text-align: center;
  width: 100%;
}

@media (min-width: 43.75em) {
  .game-bettype .modal {
    /*padding: 1em 2em;*/
    text-align: right;
  }
}

.game-bettype .modal>.modal_close {
  /*background: #000;*/
  border-radius: .2em;
  color: #FFDE16;
  cursor: pointer;
  /*display: inline-block;*/
  font-weight: bold;
  margin: 0.5em 1em;
  padding: 0.75em 1.5em;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}

.game-bettype .modal>.modal_close:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.game-bettype .modal input {
  position: absolute;
  right: 100px;
  top: 30px;
  z-index: -10;
}

.game-bettype .modal__overlay {
  background: white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -800;
}

.game-bettype .modal__box {
  /*margin: 1em auto;
    padding: 1em .75em;*/
  position: relative;
  /*max-width: 500px;*/
  width: 100%;
  margin-bottom: 50px;
}

@media (min-height: 37.5em) {
  .game-bettype .modal__box {
    position: absolute;
    /*left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
        transform: translate(-50%, -80%);*/
  }
}

.game-bettype .modal__box .modal_close {
  /*background: #FFDE16;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    position: absolute;
    right: .5em;
    top: .5em;
    width: 1.5em;*/
}

.game-bettype .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.game-bettype .top-header h3 {
  background-color: #2A2E43;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}

.game-bettype .modal__box h2 {
  color: #FFDE16;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.game-bettype .modal__box p {
  text-align: left;
  padding: 5px;
}

.game-bettype .modal__box .sub-title {
  width: 100%;
  text-align: left;
  padding: 15px 10px;
  color: #b9b9b9;
}

.game-bettype .modal__overlay {
  opacity: 0;
  overflow: auto;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.game-bettype .modal input:checked~.modal__overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 800;
}

.game-bettype .modal input:focus+.modal_close {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

/*  game-bettype-group  */
.game-bettype-group ul {
  padding: 0;
  list-style: none;
  margin-bottom: 15px;
}

.bettype-warp {
  border-right: 1px solid #ececec;
  width: 25%;
  float: left;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}

.bettype-warp:nth-child(5) {
  border-top: none;
}

.bettype-warp:nth-child(6) {
  border-top: none;
}

.bettype-warp:nth-child(7) {
  border-top: none;
}

.game-bettype-group ul li {
  background-color: #fafafa;
  padding: 10px;
  text-align: center;
}

.game-bettype-group .bettype-warp .active {
  color: red;
}

.game-bettype .half {
  float: left;
  width: 50%;
  padding: 0 1em;
}

/* Acordeon styles */
.game-bettype .tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #fff;
  overflow: hidden;
  text-align: left;
}

.game-bettype .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.game-bettype .tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  /*  background: #1890ff;*/
  font-weight: bold;
  line-height: 2;
  cursor: pointer;
}

.game-bettype .blue label {
  background: #2980b9;
}

.game-bettype .tab-content {
  max-height: 0;
  overflow: hidden;
  background: #e4e4e4;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  margin-bottom: 0px;
}

.game-bettype .tab-content li {
  list-style: none;
  padding: 10px;
}

.game-bettype .blue .tab-content {
  background: #3498db;
}

.game-bettype .tab-content p {
  margin: 1em;
}

.game-bettype-types .ant-collapse {
  border: none;
  border-radius: 0px;
}

/* .game-bettype-types .ant-collapse-item-active .ant-collapse-header {
  color: red !important;
} */

.game-bettype-types .ant-collapse-content>.ant-collapse-content-box {
  padding: 7px 16px;
}

.game-bettype-types .ant-collapse>.ant-collapse-item {
  border-bottom: 0px !important;
}

.game-bettype-types .ant-collapse>.ant-collapse-item:last-child, .ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  border-radius: 0px !important;
}

.game-bettype-types .fn-clear {
  border-top: 1px solid #ececec;
}

.game-bettype-types .fn-clear:last-child {
  border-bottom: 1px solid #ececec;
}

.game-bettype-types .ant-collapse-content {
  border-top: 1px solid #ececec;
}

/* :checked */
.game-bettype .tab input:checked~.tab-content {
  max-height: 100vh;
}

/* Icon */
.game-bettype .tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.game-bettype .tab input[type=checkbox]+label::after {
  content: "+";
}

.game-bettype .tab input[type=radio]+label::after {
  content: "\25BC";
}

.game-bettype .tab input[type=checkbox]:checked+label::after {
  transform: rotate(315deg);
}

.game-bettype .tab input[type=radio]:checked+label::after {
  transform: rotateX(180deg);
}

/* ----------- TreeStyleSelect ---------- */
/* game-type-title */
.game-type-title {
  width: 15%;
  float: left;
}

.game-type-title #pointer {
  position: relative;
  background: red;
  text-align: center;
}

@media (max-width: 1440px) {
  .game-type-title {
    width: 5%;
  }
}

@media (max-width: 1050px) {
  .game-type-title {
    width: 10%;
  }
}

@media (max-width: 600px) {
  .game-type-title {
    width: 15%;
  }
}

.game-type-title #pointer:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: -20%;
  left: -6%;
  background: inherit;
  border-radius: 15% / 50%;
}

.game-type-title #pointer span {
  color: white;
  position: inherit;
  font-size: .9em;
}

/* bet-select-all */
.bet-select-all {
  float: right;
  width: 85%;
  text-align: right;
}

.bet-select-all .type_select .ant-radio-button-wrapper {
  border: none;
  height: 25px;
  line-height: 25px;
  position: inherit;
  text-align: center;
  background: #F8F8F8;
  color: #B2B2B2;
  margin-right: 2px;
}

.bet-select-all .type_select .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  border-color: transparent;
}

.bet-select-all .type_select .ant-radio-button-wrapper:first-child {
  border-radius: 0;
}

.bet-select-all .type_select .ant-radio-button-wrapper:last-child {
  border-radius: 0;
}

.bet-select-all .type_select .ant-radio-group {
  width: 100%;
}

@media (max-width: 380px) {
  .bet-select-all .type_select .ant-radio-button-wrapper {
    width: 15%;
  }
}

/*  nums  */
.nums .bet_table li {
  list-style: none;
  width: 20%;
}

.nums .bet_table .ball.active .ball {
  background: #1890ff;
  color: white;
  cursor: pointer;
}


.nums .bet_table .ball {
  cursor: pointer;
  margin: auto;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  color: black;
  font-size: 1.1em;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  list-style: none;
  margin-bottom: 15px;
}

.nums .bet_table {
  width: 100%;
  float: left;
  margin: auto;
  margin-top: 10px;
}

.nums .bet_table .aline-abll {
  width: 16.66%;
  margin: auto;
  text-align: center;
  padding: 0;
  float: left;
}

.nums .bet_table ul {
  padding: 0;
}

/*  game-selector-confirm  */
.game-selector-confirm .bet-value {
  text-align: left;
  padding: 10px 0px 80px 10px;
  clear: both;
}

.betcount b {
  color: red;
  padding: 0px 5px;
}

.amount b {
  color: red;
  padding: 0px 5px;
}
/*  ButtonBottom  */
.game-selector-confirm .ButtonBottom {
position: fixed;
bottom: 0;
width: 100%;
text-align: center;
color: white;
}

.game-selector-confirm .ButtonBottom a {
color: white;
}

.game-selector-confirm .ButtonBottom .btn_left {
width: 30%;
float: left;
background-color: red;
padding: 10px;
font-size: 1.2em;
}

.game-selector-confirm .ButtonBottom .btn_right {
width: 70%;
float: left;
background-color: #1890ff;
padding: 10px;
font-size: 1.2em;
}

/* ----------- kl8  ---------- */
.kl8 .game-summary {
  height: 290px;
}

.kl8 .game-body-left {
  top: 230px;
}

.kl8 .game-summary-last-open-nums li {
  margin-bottom: 10px;
  width: 10%;
}

@media (max-width: 450px) {
  .kl8 .game-summary-last-open-nums {
    width: 90%;
  }
}

@media (max-width: 370px) {
  .kl8 .game-summary-last-open-nums {
    width: 100%;
  }
}

/* ----------- FC3D  ---------- */
.FC3D .game-summary-last-open-nums li {
  width: 33.33%;
}

.FC3D .game-summary-last-open-nums {
  width: 55%;
}

@media (max-width: 1050px) {
  .FC3D .game-summary-last-open-nums {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .FC3D .game-summary-last-open-nums {
    width: 50%;
  }
}

/* ----------- KENO  ---------- */
.KENO .game-summary {
  height: 290px;
}

.KENO .game-body-left {
  top: 230px;
}

.KENO .game-summary-last-open-nums li {
  margin-bottom: 10px;
  width: 10%;
}

@media (max-width: 450px) {
  .KENO .game-summary-last-open-nums {
    width: 90%;
  }
}

@media (max-width: 370px) {
  .KENO .game-summary-last-open-nums {
    width: 100%;
  }
}

/* ----------- PL3  ---------- */
.PL3 .game-summary-last-open-nums li {
  width: 33.33%;
}

.PL3 .game-summary-last-open-nums {
  width: 55%;
}

@media (max-width: 1050px) {
  .PL3 .game-summary-last-open-nums {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .PL3 .game-summary-last-open-nums {
    width: 50%;
  }
}

/* ----------- CQSSC  ---------- */
.CQSSC .game-summary-last-open-nums li {
  width: 20%;
}

.CQSSC .game-summary-last-open-nums {
  width: 60%;
}

@media (max-width: 500px) {
  .CQSSC .game-summary-last-open-nums {
    width: 70%;
  }
}


/* ----------- PK10  ---------- */
.PK10 .game-summary-last-open-nums li {
  width: 10%;
}

@media (max-width: 450px) {
  .PK10 .game-summary-last-open-nums {
    width: 90%;
  }
}

@media (max-width: 370px) {
  .PK10 .game-summary-last-open-nums {
    width: 100%;
  }
}

/* ----------- BetOrderList  ---------- */
/*  game-orders  */
/*  ButtonBottom  */
.game-orders .ButtonBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.game-orders .ButtonBottom a {
  color: white;
}

.game-orders .ButtonBottom .btn_left {
  width: 30%;
  float: left;
  background-color: red;
  padding: 10px;
  font-size: 1.2em;
}

.game-orders .ButtonBottom .btn_right {
  width: 70%;
  float: left;
  background-color: #1890ff;
  padding: 10px;
  font-size: 1.2em;
}

/*  game-orders popup  */
.game-orders .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.game-orders .overlay:target {
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

.game-orders .popup {
  margin: 70px auto;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 3s ease-in-out;
  border-radius: 20px;
}

.game-orders .popup h2 {
  margin-top: 0;
  color: #333;
  text-align: left;
}

.game-orders .popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: left;
}

.game-orders .icon-infor {
  text-align: right;
  font-size: 1.5em;
}
@media (min-width: 1100px ){
  .game-orders .popup {
      width: 500px;
  }
}
@media (max-width: 1099px ){
  .game-orders .popup {
      width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .game-orders .box {
    width: 85%;
  }

  .game-orders .popup {
    width: 85%;
  }
}

/* order-top*/
.game-orders .order-top {
  background-color: #2A2E43;
  padding: 0px;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 30px;
}

.game-orders .order-top h2 {
  color: white;
  padding: 20px 20px 0px 20px;
}

.game-orders .left-content {
  padding: 0px 20px 10px 20px;
  width: 60%;
  float: left;
}

.game-orders .left-content p {
  margin-bottom: 0;
  color: white;
  word-break: break-all;
  font-size: .9em;
}

.game-orders .left-content span {
  font-size: .8em;
  color: rgba(255, 255, 255, 0.3);
}

.game-orders .left-content .side-1 {
  background-color: #353A50;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: left;
}

.game-orders .left-content .side-2 {
  background-color: #353A50;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: left;
}

.game-orders .right-content {
  padding: 0px 20px 10px 0px;
  width: 40%;
  float: left;
}

.game-orders .right-content p {
  margin-bottom: 0;
  color: white;
  word-break: break-all;
  color: white;
  font-size: .9em;
}

.game-orders .right-content span {
  font-size: .8em;
  color: rgba(255, 255, 255, 0.3);
}

.game-orders .right-content .side-1 {
  background-color: #353A50;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: left;
}

.game-orders .right-content .side-2 {
  background-color: #353A50;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
  text-align: left;
}

/* order-middle*/
.game-orders .order-middle {
  width: 100%;
  margin: auto;
  position: absolute;
  margin-top: -25px;
}

.game-orders .order-middle .input-order {
  background-color: white;
  width: 90%;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: auto;
  text-align: center;
}

.game-orders .order-middle .input-order-warp {
  padding: 5px 10px 10px 10px;
  color: #78849E;
}

.game-orders .order-middle .input-order-warp input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  width: 75%;
  padding: 8px;
  color: red;
}

.input-order-warp ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a9a9a9;
}

.input-order-warp ::-moz-placeholder {
  /* Firefox 19+ */
  color: #a9a9a9;
}

.input-order-warp :-ms-input-placeholder {
  /* IE 10+ */
  color: #a9a9a9;
}

.input-order-warp :-moz-placeholder {
  /* Firefox 18- */
  color: #a9a9a9;
}

/* order-bottom */
.game-orders .order-bottom {
  margin-top: 50px;
  padding: 0px 20px;
  text-align: left;
}

.game-orders .order-bottom p {
  margin-bottom: .3em;
}

.game-orders .order-bottom p:nth-child(1) {
  font-size: .8em;
  color: #959DAD;
}

.game-orders .order-bottom p:nth-child(2) {
  color: black;
}

/* order-button*/
.game-orders .order-button .left-btn {
  width: 30%;
  float: left;
  background: #EBEBEB;
  border-radius: 0px 0px 0px 10px;
  padding: 10px;
}

.game-orders .order-button a:nth-child(1) {
  color: #78849E;
}

.game-orders .order-button .right-btn {
  width: 70%;
  float: left;
  background: #1890ff;
  border-radius: 0px 0px 10px 0px;
  padding: 10px;
  color: white;
}

.game-orders .infor-order {
  width: 80%;
  float: left;
}

.game-orders .wallet-icon {
  width: 20%;
  float: left;
  text-align: right;
}

.game-orders .wallet-icon img {
  width: 30px;
}

.game-orders .ybag-icon {
  width: 20%;
  float: left;
  text-align: right;
}

.game-orders .ybag-icon img {
  width: 35px;
}

/* ----------- ResitList ---------- */
.resit-list .top-header {
  background-color: #2A2E43;
}

.resit-list .top-header h3 {
  background-color: #2A2E43;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}

/*  top-header  */
.top-header hr {
  float: left;
  margin: 10px 0px;
  width: 100%;
  border: .5px solid rgba(255, 255, 255, 0.05);
}

/*  top-content-warp  */
.top-content-warp {
  padding-top: 60px;
  width: 90%;
  margin: auto;
}

.top-content-warp .warp {
  width: 33.33%;
  float: left;
  padding: 10px 8px;
}

.top-content-warp .warp .content-warp {
  background: #353A50;
  padding: 10px;
  border-radius: 10px;
}

.top-content-warp .warp .content-warp i {
  width: 100%;
  font-size: 2em;
  margin: 0px 0px 5px 0px;
}

.top-content-warp .warp .content-warp label {
  width: 100%;
  color: white;
}

.top-content-warp .add i {
  color: #3497FD;
}

.top-content-warp .random i {
  color: #FF4F9A;
}

.top-content-warp .delete i {
  color: #FF9057;
}

/*  bet-total  */
.bet-total {
  color: white;
  font-size: .85em;
  float: left;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.bet-total span {
  color: red;
  padding: 0px 5px;
}

/*  payment-result  */
.payment-result {
  margin-top: 25px;
  margin-bottom: 50px;
}
.payment-result .am-tag{
  height: auto;
  margin-bottom: 25px;
}
.payment-result .warp {
  background: white;
  box-shadow: 0px 5px 40px #e6e6e6;
  width: 90%;
  margin: auto;
  padding: 20px 10px 5px 10px;
  border-radius: 10px;
}



/*--payment-result-closetab--- */
.payment-result .am-tag-normal{
  background-color: transparent;

  border: none;
  border-radius: 3px;
  width: 100%;
}

.payment-result .am-tag-close{
  position: absolute;
  right: 120px;
  left: auto;
  color: #bbb;
  top: 12px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    html:not([data-scale]) .am-tag-normal::before{
    border: none!important;
  }
  .payment-result .am-tag-close{
    right: 90px;
  }
}

@media screen and (max-width: 630px) {
  .payment-result .am-tag-close{
    right: 60px;
  }
}

@media screen and (max-width: 425px) {
  .payment-result .am-tag-close{
    right: 50px;
  }
}


/*  timeLinecontainer  */
.timeLinecontainer {
  padding-left: 2%;
  font-size: 14px;
}

.timeLinecontainer ul {
  position: relative;
  list-style: none;
  padding: 0;
}

.timeLinecontainer ul:before {
  content: '';
  position: absolute;
  top: 0;
  left: 27px;
  background-color: #e6e6e6;
  width: 2px;
  height: 80%;
}

.timeLinecontainer ul li {
  padding: 0px 50px;
  position: relative;
  margin-bottom: 20px;
}

.timeLinecontainer ul li:nth-child(2) {
  margin-bottom: 20px;
}

.timeLinecontainer li span {
  position: absolute;
  left: 10px;
  top: 0px;
  border-radius: 8px;
}

.timeLinecontainer .icon-1 {
  background-color: #40a9ff;
  color: white;
}

.timeLinecontainer .icon-1 i {
  color: rgba(255, 255, 255, 0.57);
  padding: 8px;
  font-size: 1.2em;
}

.timeLinecontainer .icon-2 {
  background-color: #e665fd;
  color: white;
}

.timeLinecontainer .icon-2 i {
  color: rgba(255, 255, 255, 0.57);
  padding: 8px;
  font-size: 1.2em;
}

.timeLinecontainer .text-warp {
  text-align: left;
}

.timeLinecontainer .text-warp p {}

.resit-list .ButtonBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.resit-list .ButtonBottom a {
  color: white;
}

.resit-list .ButtonBottom .btn_left {
  width: 30%;
  float: left;
  background-color: #3ACCE1;
  padding: 10px;
  font-size: 1.2em;
}

.resit-list .ButtonBottom .btn_right {
  width: 70%;
  float: left;
  background-color: #1890ff;
  padding: 10px;
  font-size: 1.2em;
}

/* ----------- zhuihao ---------- */
/*  zhuihao  */
.zhuihao .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.zhuihao .top-header h3 {
  background-color: #2A2E43;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}

/*  zhuihao-select  */
.zhuihao-select {
  margin-top: 20px;
  padding: 10px 0px 20px 22px;
  margin-bottom: 100px;
}

.zhuihao-select .dot-warp {
  background-color: dodgerblue;
  padding: 8px;
  border-radius: 5px;
}

.zhuihao-select .dot-warp span {
  color: white;
}

.zhuihao-select .left-content {
  width: 100%;
  float: left;
}

.zhuihao-select .right-content {
  width: 100%;
  float: left;
  margin-top: 10px;
  border-bottom: 1px solid #efefef;
}

.zhuihao-select .right-content p {
  width: 50%;
  float: left;
  color: #959DAD;
}

.zhuihao-select .left-content b {
  width: 40%;
  float: left;
  font-size: 1.3em;
}

@media (max-width: 600px){
  .zhuihao-select .left-content b {
    font-size: 1em;
  }
}

.zhuihao-select .left-content .input-group {
  width: 60%;
  float: left;
}

.zhuihao-select .ant-timeline-item {
  padding: 0 0 20px;
}

.zhuihao-select .ant-timeline-item-content {
  text-align: left;
  padding-left: 10px;
}

.zhuihao-select input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

.zhuihao-select input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.zhuihao-select input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.zhuihao-select .input-group {
  position: relative;
}

.zhuihao-select .input-group input[type='button'] {
  background-color: #eeeeee;
  transition: all 300ms ease;
  border: 1px solid #eeeeee;
}

.zhuihao-select .input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 30px;
  padding: 0;
  width: 20%;
  position: relative;
}

.zhuihao-select .input-group .quantity-field {
  position: relative;
  height: 30px;
  left: -1px;
  text-align: center;
  width: 50%;
  display: inline-block;
  margin: 0 0 5px;
  resize: vertical;
  background-color: white;
}

.zhuihao-select .button-plus {
  left: -3px;
}

.zhuihao-select input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

/* zhuihao-number-select */
.zhuihao-number-select {
  background-color: #2A2E43;
  position: fixed;
  bottom: 44px;
  width: 100%;
  padding: 10px;
}

.zhuihao-number-select .left-content {
  width: 50%;
  float: left;
  padding: 10px;
  text-align: left;
  margin: 10px 0;
}

.zhuihao-number-select .left-content span {
  color: white;
}

.zhuihao-number-select .right-content {
  width: 50%;
  float: left;
}

.zhuihao-number-select .right-content input,
textarea {
  border: 1px solid #78849e;
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

.zhuihao-number-select .right-content input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.zhuihao-number-select .right-content input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.zhuihao-number-select .right-content .input-group {
  clear: both;
  margin: 15px 0;
  position: relative;
}

.zhuihao-number-select .right-content .input-group input[type='button'] {
  background-color: #78849e;
  transition: all 300ms ease;
  color: white;
}

.zhuihao-number-select .right-content .input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 30px;
  padding: 0;
  width: 20%;
  position: relative;
}

.zhuihao-number-select .right-content .input-group .quantity-field {
  position: relative;
  height: 30px;
  left: -1px;
  text-align: center;
  width: 60%;
  display: inline-block;
  margin: 0 0 5px;
  resize: vertical;
  color: black;
}

.zhuihao-number-select .right-content .button-plus {
  left: -3px;
}

.zhuihao-number-select .right-content input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

/* zhuihao-ButtonBottom */
.zhuihao .ButtonBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
}

.zhuihao .ButtonBottom a {
  color: white;
}

.zhuihao .ButtonBottom .btn_left {
  width: 60%;
  float: left;
  background-color: red;
  padding: 14px 5px;
}

.zhuihao .ButtonBottom .btn_right {
  width: 40%;
  float: left;
  background-color: #1890ff;
  padding: 10px;
  font-size: 1.2em;
}

/*  zhuihao-bet-total  */
.zhuihao .bet-total {
  color: white;
  font-size: .85em;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}

.zhuihao .bet-total span {
  color: yellow;
  padding: 0px 5px;
}

/* ----------- GameInfor ----------- */
.game-infor {
  background-color: #F7F7FA;
  height: 100vh;
  min-height: 700px;
}

.game-infor .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.game-infor .top-header h3 {
  background-color: #2A2E43;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}

.game-infor .am-list-header {
  text-align: left;
  color: rgba(120, 132, 158, 0.61);
}

/* ---------------------------------------------------- Daniel  ------------------------------------------------ */
/* ----------- Registration page ---------- */
/*  Registration-page  */

.registration-page {
  background-image: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  min-height: 600px;
}
.registration-page .form .am-input-control ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #78849E;
}
.registration-page .form .am-input-control ::-moz-placeholder {
  /* Firefox 19+ */
  color: #78849E;
}

.registration-page .form .am-input-control :-ms-input-placeholder {
  /* IE 10+ */
  color: #78849E;
}

.registration-page .form .am-input-control :-moz-placeholder {
  /* Firefox 18- */
  color: #78849E;
}
.registration-page .form {
  padding-top: 65px;
  margin: auto;
  max-width: 300px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,0.65);
  box-sizing: border-box;
}

.registration-page .ant-input {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: transparent;
  border-style: none;
}

.registration-page .am-list-item {
  background-color: transparent;
  padding-left: 0px!important;
}

.registration-page .am-list-item .am-input-label.am-input-label-5 {
  width: 30px;
}
.registration-page .am-list-item .am-input-label.am-input-label-5 i{
  font-size: 15px;
}
.registration-page img.img-captcha {
  height: 30px;
}

.registration-page .ant-form label {
  color: white;
}

.registration-page .am-list-item .am-input-control input {
  color: white;
  font-size: 14px;
}
.registration-page .am-list-item .am-list-line{
  padding-right: 0px;
}
.registration-page .am-checkbox{
  float: left;
}
.registration-page .check-span{
  float: right;
}
/* ----------- Price hall ---------- */
/*  Price-hall  */


.danielph .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.game-infor .am-list-item .am-list-line .am-list-content {
  line-height: 3;
}

/* game-infor modal */
.game-infor .modal {
  display: block;
  padding: 0 1em;
  text-align: center;
  width: 100%;
}

.game-infor .top-banner {
  background: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
}

.game-infor .top-banner .close-modal-btn {
  width: 100%;
  text-align: right;
  padding: 15px;
}

.game-infor .top-banner .close-modal-btn i {
  font-size: 1.2em;
}

.game-infor .top-banner .infor-title {
  text-align: left;
  padding: 20px 15px 50px 15px;
}

.game-infor .top-banner .infor-title h2 {
  color: white;
}

.game-infor .top-banner .close-modal-btn label {
  color: white;
}

@media (min-width: 43.75em) {
  .game-infor .modal {
    padding: 1em 2em;
    text-align: right;
  }
}

.game-infor .modal__box {
  margin-bottom: 50px;
}

.game-infor .modal>label {
  background: #000;
  border-radius: .2em;
  color: #FFDE16;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 1em;
  padding: 0.75em 1.5em;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}

.game-infor .modal>label:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.game-infor .modal input {
  position: absolute;
  right: 100px;
  top: 30px;
  z-index: -10;
}

.game-infor .modal__overlay {
  background: #F7F7FA;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -800;
}

.game-infor .modal__box .am-list-item.am-list-item-middle .am-list-line {
  border-bottom: none;
}

.game-infor .modal__box .am-list-item {
  border-bottom: 1px solid #eaeaea;
}

.game-infor .modal__box .am-list-item .am-list-line .am-list-content {
  white-space: normal;
  line-height: 2;
  font-size: 1em;
}

.game-infor .modal__box label {
  background: #FFDE16;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
}

.game-infor .modal__box h2 {
  color: #FFDE16;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.game-infor .modal__box p {
  color: #FFDE16;
  text-align: left;
}

.game-infor .modal__overlay {
  opacity: 0;
  overflow: auto;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.game-infor input:checked~.modal__overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 800;
}

.game-infor input:focus+label {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.game-infor .am-list-item.am-list-item-middle .am-list-line {
  border-bottom: 1px solid #eaeaea;
}

/* ----------- PersonalInformation  ---------- */
/* personal-information  */
.personal-information .top-header {
  background-color: #2A2E43;
  height: 45px;
}

/*  top-content  */
.personal-information .top-content {
  padding: 20px;
  margin-top: 5px;
}

@media (max-width: 360px) {
  .personal-information .bottom-warp {
    padding: 5px !important;
  }
}

.personal-information .top-content .top-warp {
  width: 50%;
  float: left;
  padding: 20px 10px;
}

.personal-information .top-content .top-warp label {
  color: black;
}

.personal-information .top-content .top-warp:nth-child(1) {
  border-right: 1px solid #e6e6e6;
}

.personal-information .top-content .top-warp:nth-child(3) {
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.personal-information .top-content .top-warp:nth-child(4) {
  border-top: 1px solid #e6e6e6;
}

.personal-information .top-content .top-warp p {
  margin-bottom: 0px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

@media (max-width: 320px) {
  .personal-information .top-content .top-warp p {
    font-size: .9em
  }
}

.personal-information .top-content .left-content {
  width: 30%;
  float: left;
}

.personal-information .top-content .right-content {
  width: 70%;
  float: left;
}

.personal-information .top-content img {
  width: 50px;
}

.personal-information .top-btn {
  width: 100%;
  float: left;
}

@media (max-width: 400px) {
 
  .personal-information .top-content img {
    width: 40px;
  }

  .personal-information .top-content {
    padding: 10px
  }

  .personal-information .top-content .top-warp {
    padding: 20px 5px;
  }
}

.personal-information .top-btn .warp {
  width: 50%;
  float: left;
  padding: 20px;
}

.personal-information .top-btn .warp button {
  width: 100%;
  height: 40px;
  font-size: 1.3em;
}

.personal-information .top-btn .btn-1 button {
  background-color: #3ACCE1;
  border-color: #3ACCE1;
}

/*  bottom-content  */
.personal-information .bottom-content {
  background-color: #2A2E43;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  padding: 10px;
}

.personal-information .bottom-warp {
  padding: 10px;
  width: 33.33%;
  float: left;
}

.personal-information .bottom-content a {
  color: #a6a6a6;
}

.personal-information .bottom-warp .bottom-infor-btn p {
  margin-bottom: 0px;
  padding: 5px
}

.personal-information .bottom-warp .bottom-infor-btn {
  background-color: #353A50;
  border-radius: 10px;
  padding: 10px;
}

.personal-information .bottom-warp .bottom-infor-btn img {
  width: 25px;
}

.personal-information .bottom-content .btn-botttom {
  padding: 10px;
}

.personal-information .bottom-content .btn-botttom button {
  height: 45px;
  background-color: #665EFF;
  border-color: #665EFF;
  border-radius: 10px;
}

/* ----------- Promotion ---------- */
.promotion .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.danielph .dCircleNum {
  padding: 0px;
  background:#40a9ff;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin-left: 5px;
  width: 25px;
  height: 25px;
  font-size: .9em;
}

.danielph .dSquareNum {
  width: 27px;
  height: 27px;
  margin: 2px;
  background: red;
  display: inline-block;
  border-radius: 27%;
  text-align: center;
  color: white;
}

.danielph2 .pagination-container {
  margin: 0 15px;
}

.danielph2 .custom-pagination-with-icon .am-pagination-wrap-btn-prev .am-button-inline {
  padding-left: 0;
  padding-right: 10px;
}

.danielph2 .custom-pagination-with-icon .am-pagination-wrap-btn-next .am-button-inline {
  padding-left: 10px;
  padding-right: 0;
}

.danielph2 .arrow-align {
  display: flex;
  align-items: center;
}

.danielph2 .logosizee{
  width: 55px;
  height: 55px;
}

.danielph .ant-input {
  border: none;
  border-radius: 0px;
  background: transparent;
}

.danielph .ant-select-selection {
  border: none;
  border-left: 1px solid;
  border-radius: 0px;
  background: transparent;
}

.danielph .ant-select-selection-selected-value {
  padding-left: 20px;
}

.danielph .ant-select-selection__rendered {
  margin-left: 0px;
  margin-right: 0px;
}


.danielph .dSquareNum:nth-child(1){
  background: blue;
}

.danielph .dSquareNum:nth-child(2){
  background: rgb(0, 255, 115);
}

.danielph .dSquareNum:nth-child(3){
  background: rgb(255, 238, 0);
}

.danielph .dSquareNum:nth-child(4){
  background: rgb(255, 0, 212);
}

.danielph .dSquareNum:nth-child(5){
  background: rgb(255, 174, 0);
}

.danielph .dSquareNum:nth-child(6){
  background: blue;
}

.danielph .dSquareNum:nth-child(7){
  background: rgb(0, 217, 255);
}

.danielph .dSquareNum:nth-child(8){
  background: rgb(255, 0, 0);
}

.danielph .dSquareNum:nth-child(9){
  background: rgb(157, 255, 0);
}

.danielph .dSquareNum:nth-child(10){
  background: rgb(153, 0, 255);
}

.danielph .dSquareNum:nth-child(11){
  background: rgb(0, 255, 170);
}

.danielph .dSquareNum:nth-child(12){
  background: rgb(255, 81, 0);
}

.danielph .dSquareNum:nth-child(13){
  background: rgb(255, 238, 0);
}

.danielph .dSquareNum:nth-child(14){
  background: rgb(255, 0, 212);
}

.danielph .dSquareNum:nth-child(15){
  background: rgb(255, 174, 0);
}

.danielph .dSquareNum:nth-child(16){
  background: blue;
}

.danielph .dSquareNum:nth-child(17){
  background: rgb(0, 217, 255);
}

.danielph .dSquareNum:nth-child(18){
  background: rgb(255, 0, 0);
}

.danielph .dSquareNum:nth-child(19){
  background: rgb(157, 255, 0);
}

.danielph .dSquareNum:nth-child(20){
  background: rgb(153, 0, 255);
}

.danielph .ant-list-item-meta {
  flex: 11 1;
  width: 90%;
}

.danielph .ant-list-item-meta-avatar {
  margin-right: 0px;
}

.danielph .ant-list-item-meta-description {
  margin-right: 0px;
}

.danielph .ant-list-item-meta-content {
  width:10%
}

.danielph .ant-list-item-meta-title {
float: left;
}

.danielph .ant-list-item-meta-description {
float: left;
}

.danielph .ant-select {
  width: 100%;
}

.danielph .ant-calendar-picker {
  width:100%;
}

/* @media screen and (max-width: 390px) {
  .danielph .ant-list-item-meta-description {

  }
} */

@media screen and (max-width: 400px) {
  .danielph .dSquareNum {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .danielph .ant-list-item-meta-content {
    display: inline-grid;
    text-align: left;
  }
}




/* promo-top-banner */
.promo-top-banner {
  width: 100%;
}

.promo-top-banner img {
  width: 100%;
}

.promo-top-banner .ant-divider-inner-text {
  padding: 5px 0px;
  color: red;
}

.promo-top-banner .promo-warp {
  padding: 10px;
}

.promo-top-banner .promo-warp .warp-inner {
  border: 1px solid #f1f1f1;
}

.promo-top-banner .promo-warp .infor {
  padding: 10px;
  border-top: 1px solid #f1f1f1;
  background-color: #fafafa;
}

.promo-top-banner .ant-divider.ant-divider-horizontal.ant-divider-with-text-left {
  margin-bottom: 5px
}

.promo-top-banner .promo-warp .infor p {
  margin-bottom: 0px;
}

.promo-top-banner .promo-warp p:nth-child(1) {
  width: 70%;
  float: left;
  text-align: left;
  color: #78849E;
}

.promo-top-banner .promo-warp p:nth-child(2) {
  width: 30%;
  float: left;
  text-align: right;
  color: #40a9ff;
}

.promo-top-banner .promo-warp p:nth-child(2) i {
  padding-top: 4px;
}

/* ----------- withdraw ---------- */
/**-----------------daniel---------------------------**/
.danielwd .ant-alert-with-description {
  bottom: 349px;
  border: 1px solid #E5B368;
  background: #FFFDEB;
  color: #F56E00;
}

.danielwd .ant-alert-with-description .ant-alert-message {
  color: #F56E00;
}

.danielwd .ant-alert-info .ant-alert-icon {
  color: #F56E00;
}

.danielwd .game-orders .ButtonBottom {
  z-index: 1;
}

.danielwd .form-item-style .ant-col-18 input {
  border-bottom: none;
}

.danielwd .withdraw .has-error .ant-input:not([disabled]):hover {
  border-bottom: none;
}
.danielwd .am-list-item .am-list-line .am-list-extra {
  text-align: left;
}

.danielwd .ant-btn-primary {
  background-color: transparent;
  border-color: transparent;
  color: #bfbfbf;
}

.danielwd .ant-btn {
  border: 0px;
}

.danielwd .bangding {
  font-size: small;
  position: absolute;
  right: 26px;
  bottom: 1px;
}
/* .danielwd .ant-select-selection {
  border-radius: none;
  border: none;
} */

/* .danielwd .ant-select-open .ant-select-selection {
  border-color: none;
}

.danielwd .ant-select-selection:hover {
  border-color: none;
}

.danielwd .ant-select-selection:active {
  border-color: none;
} */
/** ------------------------------------------------------**/

.withdraw .ant-form-item {
  margin-bottom: 0px;
}
.withdraw_float a{
  float: right;
  padding-right: 20px;
}
.withdraw .form-line {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
}

.withdraw .ant-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #5f5f5f;
  border-radius: 0px;
  box-shadow: none;
  color: black;
}

.withdraw .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 45px;
}

.withdraw .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: black;
}

.withdraw .has-error .ant-input:not([disabled]):hover {
  border-bottom: 1px solid red;
}

.withdraw .has-error .ant-input:focus {
  box-shadow: none;
}

.withdraw input:-webkit-autofill {
  -webkit-text-fill-color: #9c9c9c !important;
}

.withdraw input:-webkit-autofill,
.withdraw input:-webkit-autofill:hover,
.withdraw input:-webkit-autofill:focus,
.withdraw input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.withdraw .ant-input-prefix i {
  color: white !important;
}

.withdrawe ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9c9c9c;
}

.withdraw ::-moz-placeholder {
  /* Firefox 19+ */
  color: #9c9c9c;
}

.withdraw :-ms-input-placeholder {
  /* IE 10+ */
  color: #9c9c9c;
}

.withdraw :-moz-placeholder {
  /* Firefox 18- */
  color: #9c9c9c;
}

.withdraw .ant-col-12 {
  width: 60%;
}

.withdraw .has-error .ant-input:focus {
  border-bottom: 1px solid red;
}




/* ----------- BetHistory ---------- */
/*  bet-history  */
.bet-history {
  background-color: #F7F7FA;
}



.bet-history .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.bet-history .bet-tab-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7FA;
  width: 100%;
}

.bet-history .am-icon {
  padding-top: 10px;
}

/*  this-month-bet  */
.this-month-bet {
  width: 100%;
}

.this-month-bet .am-list-header {
  color: #b9b9b9 !important;
  text-align: left
}

.this-month-bet .pending {
  color: #3ACCE1;
}

.this-month-bet .zhui {
  color: #FF9057;
}

.this-month-bet .add {
  color: #52c41a;
}

.this-month-bet .minus {
  color: red;
}

.this-month-bet .bet-money span {
  width: 100%;
  float: left;
  font-size: 14px;
}

.this-month-bet .bet-money .img-icon {
  float: left;
  width: 100%;
}

.this-month-bet .bet-money img {
  text-align: right;
}

.this-month-bet .game-icon {
  width: 50px;
  height: 50px;
}

.this-month-bet .am-list-item {
  padding-left: 5px;
}

.this-month-bet .am-list-item .am-list-thumb:first-child {
  margin-right: 7px;
}

.this-month-bet .am-list-item .am-list-line .am-list-brief {
  margin-top: 0px;
}

.this-month-bet .title-warp {
  font-size: .8em;
}

.this-month-bet .title-warp:nth-child(1) {
  padding-right: 2px;
}

.this-month-bet .title-warp:nth-child(2) {
  padding: 0px 2px;
}

.this-month-bet .title-warp:nth-child(3) {
  padding-left: 2px;
}

.this-month-bet .am-list-item .am-list-line .am-list-brief {
  font-size: .7em;
  color: #2a2e43;
}

.this-month-bet .am-list-item.am-list-item-top .am-list-line {
  border-bottom: 1px solid #f0f0f0;
}

/* top-menu */
.top-menu{
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  padding: 5px
}
.top-menu .this-month{
  width: 50%;
  float: left;
  border-right: 1px solid #f0f0f0;
  padding: 5px;
  color: #7d7d7d;
}
.top-menu .this-month:nth-child(2){
  border-right: none;

}

.top-menu .saixuan{
  width: 50%;
  float: left;
}

.top-menu .overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 84px;
  left: 0;
  background-color: #F7F7FA;
  overflow-y: auto;
  transition: 0.5s;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.top-menu .overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: auto;
  padding-bottom: 150px

}

.top-menu .overlay a {
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.top-menu .overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.top-menu .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .top-menu .overlay {overflow-y: auto;}
  .top-menu .overlay a {font-size: 20px}
  .top-menu .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}






/*  this-month-bet popup(new) */

.popup_new .content {
  max-height: 30%;
  overflow: auto;
  text-align: left;
}

.pop-popup_new  .icon-infor {
  text-align: right;
  font-size: 1.5em;
}

@media screen and (max-width: 700px) {
  .popup_new {
    width: 100%;
  }
}

@media (max-width: 767px){
  .ant-modal {
    width: 90%!important;
    margin: auto;
  }
}

.popup_new table {
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid #eaeaea;
  border-bottom: none;
  word-wrap: break-word;
  /*   white-space: nowrap;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: none;
}

.popup_new  body tr:first-child {
  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

.popup_new tbody tr:last-child {
  background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.popup_new table th,
.popup_new  table td {
  margin: 0;
  padding: 0.5rem 0.9rem;
  white-space: nowrap;
  border-bottom: 1px solid #eaeaea !important;
}

.popup_new .tr-style {
  background: #F7F7FA;
  color:black;
}
.popup_new  .tr-style th{
  font-weight: 500;
}
.popup_new  table thead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 30%;
}
.popup_new table tbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: auto;
  width: 70%;
}

.popup_new table tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*   -webkit-box-orient: vertical;*/
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.popup_new td,
.popup_new th {
  display: block;
}

.popup_new  td {
  background-image: none !important;
  border-left: 0;
}

.popup_new  th:not(:last-child),
.popup_new td:not(:last-child) {
  border-bottom: 0;
}



/*  this-month-bet popup */
.pop-month  .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  overflow: auto;
}

.pop-month  .overlay:target {
  visibility: visible;
  opacity: 1;
}

.pop-month  .popup {
  margin: 70px auto;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.48);
}
.pop-month .popup .popup-inner{
  padding: 20px;
}
.pop-month  .popup h2 {
  margin-top: 0;
  color: #333;
  text-align: left;
}
.pop-month  .popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: left;
}

.pop-month  .icon-infor {
  text-align: right;
  font-size: 1.5em;
}

@media screen and (max-width: 700px) {
  .pop-month  .box {
    width: 85%;
  }

  .pop-month  .popup {
    width: 85%;
  }
}

.pop-month  table {
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid #eaeaea;
  border-bottom: none;
  word-wrap: break-word;
  /*   white-space: nowrap;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: none;
}

.pop-month  body tr:first-child {
  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

.pop-month  tbody tr:last-child {
  background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.pop-month  table th,
.pop-month  table td {
  margin: 0;
  padding: 0.5rem 0.9rem;
  white-space: nowrap;
  border-bottom: 1px solid #eaeaea !important;
}

.pop-month .tr-style {
  background: #F7F7FA;
  color:black;
}
.pop-month  .tr-style th{
  font-weight: 500;
}
.pop-month  table thead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 30%;
}
.pop-month table tbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: auto;
  width: 70%;
}

.pop-month table tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*   -webkit-box-orient: vertical;*/
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.pop-month td,
.pop-month th {
  display: block;
}

.pop-month  td {
  background-image: none !important;
  border-left: 0;
}

.pop-month  th:not(:last-child),
.pop-month  td:not(:last-child) {
  border-bottom: 0;
}

.pop-month .popup .btn-popup{
  padding: 15px;
  background: #665EFF;
  width: 100%;

}
.pop-month .popup .btn-popup h4{
  color: white;
  margin-bottom: 0px;
}


/* bet-history */
.bet-history .modal {
  display: block;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.bet-history .am-list-extra{
  flex-basis: 30%!important;
}
.bet-history .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.bet-history .top-header h3 {
  background-color: #2A2E43;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}


.bet-history .modal .hide-input {
  position: absolute;
  right: 100px;
  top: 30px;
  z-index: -10;
}

.bet-history .modal__overlay {
  background:#F7F7FA;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -800;
}

.bet-history .modal__box {
  position: relative;
  margin: 0em auto;
  width: 100%;
  overflow: auto;
  float: left;
}

@media (max-height: 400px) {

  .bet-history .modal__box {
    height: 400px
  }
}
@media (max-height: 650px) {

  .bet-history .modal__box {
    height: 600px
  }
}
/*
@media (min-width: 50em) {

.bet-history .modal__box { padding: 1.75em; }
}
*/

.bet-history .modal__box h2 {
  color: #FFDE16;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.bet-history .modal__box p {
  color: #000000;
  text-align: left;
}
.bet-history .modal__box p span{
  color: #108ee9;
}
.bet-history .ant-calendar-range-picker-input{
  color: blue;
}
.bet-history .modal__overlay {
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

.bet-history input:checked ~ .modal__overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 800;
}

.bet-history input:focus + label {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}




.bet-history .top-header {
  background-color: #2A2E43;
  height: 45px;
}













/* saixuan-warp */


.saixuan-warp{
  width: 100%;

}
.saixuan-warp .form_btn{
  width: 100%;
  text-align: center;
}
.saixuan-warp .form_btn .am-button{
  padding: 0 35px;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  width: 45%;
}
.saixuan-warp .form_btn .am-button:nth-child(1){
  margin-right: 10px;
}
.saixuan-warp .form_btn .am-button:nth-child(2){
  margin-left: 10px;
}
.saixuan-warp .am-list-header{
  padding: 10px ;
  text-align: left;
}
.saixuan-warp .ant-input{
  border: none;
}

.saixuan-warp  .am-list-item .am-list-line .am-list-content{
  text-align: left;
  padding-left: 0px;
}

.saixuan-warp .am-list-item .am-list-line{
 padding-right: 15px;
}

.saixuan-warp .date-select .am-list-item .am-list-line .am-list-content{
  text-align: center;
}
.saixuan-warp .date-select{
  text-align: center;
}
.saixuan-warp .date-select .am-list-body{
  border-left: 1PX solid #ddd;
  border-right: 1PX solid #ddd;
}
.saixuan-warp .status-select{
  padding: 10px 0px;
}
.saixuan-warp .status-select .am-list-body{
  border-left: 1PX solid #ddd;
    border-right: 1PX solid #ddd;
}
.saixuan-warp .am-list-header{
  color: #b5b5b5;
}
.saixuan-warp .pop-btn{
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  background-color: #1890ff;
  border: none;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
}
.saixuan-warp .am-list-extra i{
  font-size: 25px;
  margin-top: -12px;
}
.saixuan-warp .game-type  img{
  width: 30px!important;
  height: 30px!important;
  margin-top: -4px;
  margin-right: 7px!important;
}

.saixuan-warp .am-list-extra img{
  width: 20px!important;
  height: 20px!important;
  margin-top: -4px;
  margin-right: 7px!important;
}
/* saixuan-pop(new-popup) */
.saixuan-warp.ant-modal-body{
  padding: 0px;
}
.saixuan-warp h2{
  margin-bottom: 0px;
}

.saixuan-warp .warp-form{
  background-color: #F7F7FA!important;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
}



/*  list-status  */
.saixuan-warp .list-status .content{
  width: 25%;
  float: left;
  padding: 5px 15px 5px 15px;
}

.saixuan-warp .list-status p{
  font-size: 14px;
  margin-bottom: 0px;
  padding: 5px 0px;
  color: black;
}
.saixuan-warp .list-status {
margin: 20px 0px;
}
.saixuan-warp .list-status .title{
  padding: 9px 15px 0px 15px;
  text-align: left;
  color: #7f7f7f;
}
.saixuan-warp .list-status .content p{
  font-size: 14px;
  margin-bottom: 0px;
  padding: 5px 0px;
  color: black;
}
.saixuan-warp .list-status i{
  font-size: 1.2em;
  line-height: 2.3;
}
.saixuan-warp .ant-divider-inner-text{
  font-size: 14px;
  color: #b5b5b5;
}

.saixuan-warp .ant-divider-horizontal{
  margin: 10px 0px;
}


/*  ButtonBottom  */
.bet-history .ButtonBottom {
  position: fixed;;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 1;
  float: left;
}

.bet-history .ButtonBottom a {
  color: white;
}

.bet-history .ButtonBottom .btn_left {
  width: 30%;
  float: left;
  background-color: red;
  padding: 10px;
  font-size: 1.2em;
}

.bet-history .ButtonBottom .btn_right {
  width: 70%;
  float: left;
  background-color: #1890ff;
  padding: 10px;
  font-size: 1.2em;
}












/*  game-select */

.game-select .am-list-item img{
  width: 60px!important;
  height: 60px!important;
  text-align: center;
  margin: auto;
}
.game-select .item{
  padding: 10px;
}
.game-select .am-list-item .am-list-line .am-list-content{
  text-align: left;
  padding-left: 20px;
}

.game-select .am-list-item .am-list-line{
 padding-right: 15px;
}


/*  game-type */
.game-type{
  margin: 10px 0px;

}
.game-type .pick-sty{
  color:#1890ff;
}
.game-select-type{
  padding-bottom: 200px
}
.game-select-type .game-inner{
  width: 100%;
  padding: 5px 0px;
}
.game-select-type .game-inner-warp{
  padding: 5px;
  width: 25%;
  text-align: center;
  float: left;
}
.game-select-type .game-inner-warp .ant-card-grid{
  width: 100%;
  padding: 10px;
  background: white;
}
.game-select-type .ant-card-grid {
  color:black!important;
}
.game-select-type .ant-card-grid:hover {
  background: #1890ff!important;
  color: white!important;
}
.game-select-type .ant-card-grid:active {
  background: #1890ff!important;
  color: white!important;
}
.game-select-type .ant-card-grid:focus {
  background: #1890ff!important;
  color: white!important;
}
.game-select-type  .am-list-item .am-list-line .am-list-content{
  text-align: left;
  padding-left: 0px;
}

.game-select-type .am-list-item .am-list-line{
 padding-right: 15px;
}










.picker-list .am-list-item .am-list-line .am-list-extra {
  flex-basis: initial;
}

.test {
  position: relative;
  border-bottom: 0;
}

.test:after {
  content: '';
  position: absolute;
  background-color: #ddd;
  display: block;
  z-index: 1;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1PX;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scaleY(0.5);
  -ms-transform: scaleY(0.5);
  transform: scaleY(0.5);
}





/* ------------------------- form-style ---------------------------- */
/* form-sty */

.form_sty {
  background-color: #F7F7FA;
  height: 100vh;
  min-height: 700px;
}

.form_sty .ant-alert-info{
  background-color: #FFFDEB;
  border: 1px solid #E5B368;
  color: #F56E00;
  margin: 20px;
}
.form_sty .ant-alert-info .ant-alert-icon{
  color: #F56E00;
}
.form_sty .ant-alert-with-description .ant-alert-message{
  color: #F56E00;
}
.form_sty .ant-alert-description p{
  color: #F56E00;
  text-align: left;
}
.form_sty .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.form-sty2 {
  background-color: #F7F7FA;
}

.form-sty2 .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.form-sty2 .ant-alert-with-description {
  margin: 10px;
}

.form_sty .top-header h3 {
  background-color: #2A2E43;
  color: white;
  padding: 10px;
  margin-bottom: 0;
}


.form_sty .form_title h5 {
  width: 100%;
  text-align: left;
  padding: 15px 10px;
  margin-bottom: 0px;
  color: #b9b9b9 !important;
}

.form_sty .form_title2 h5 {
  width: 100%;
  text-align: left;
  padding: 15px 10px;
  margin-bottom: 0px;
  color: #78849e8f;
}


.form_sty .form_title2 {
  text-align: left;
  padding-top: 30px;
}


.form_sty .am-list-item {
  padding-left: 0 !important;
  min-height: 60px;
}

.form_sty .am-list-item .am-input-label.am-input-label-5 {
  width: 90px;
}

.form_sty .am-list-line {
  padding-left: 15px;
}

.form-select-transfer .am-list-item img {
  margin-left: 15px;
  width: 40px;
  height: 30px;
}

.form_sty .game-orders .ButtonBottom .btn_left {
  width: 30%;
  float: left;
  background-color: red;
  padding: 10px;
  font-size: 1.2em;
  border: none;
}

.form_sty .game-orders .ButtonBottom .btn_right {
  width: 70%;
  float: left;
  background-color: #1890ff;
  padding: 10px;
  font-size: 1.2em;
  border: none;
}

.form_sty .ant-card-body {
  padding: 0;
}

.form_sty .ant-card-wider-padding .ant-card-body {
  padding: 0;
}

.form_sty .ant-card-body p {
  text-align: left;
  color: #F56E00;
  padding: 12px 0 0 12px;
}

.form_sty .ant-card-bordered {
  background: #FFFDEB;
  border: 1px solid #E5B368;
  margin: 20px 20px 10px 20px;
}

.form_sty .am-list-item .am-input-control {
  padding-left: 10px !important;
}

.form_sty .bank-add-style button{
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  margin-top: -20px;
  margin-bottom: 100px;
}

.form_sty .plus-style {
  font-size: 30px;
  padding-top: 50px;
}

.form_sty .plus-style .anticon {
  border-radius: 100px;
  background-color: white;
  color: #3497FD;
  width: 60px;
  height: 60px;
  line-height: 2.3;
}

.form_sty .plus-style h6 {
  font-size: 15px;
  padding-top: 20px;
  color: #78849E;
}


.form_sty .bank-add-style ul{
  list-style: none;
  display: inline;
}

.form_sty .bank-add-style {
  padding-top: 50px;
}


.form_sty .bank-add-style .ant-alert-info .ant-alert-icon{
  color: #F56E00;
}

.form_sty .bank-add-style .ant-alert-info span{
  color: #F56E00;
}

.form_sty .bank-add-style .ant-alert-info {
  background: #FFFDEB;
  border: 1px solid #E5B368;

  margin-left: 10px;
  margin-right: 10px;
}

.form_sty .bank-card-style .ant-card-bordered {
  background: #D43333;
  border: none;
  margin-top: 27px;
  margin-left: 20px;
  margin-right: 20px;
  /* padding: 10px;*/
  border-radius: 10px;
}

.form_sty .bankcard-icon img {
  opacity: 0.2;
  font-size: 10px;
  width: 40px;
  float: left;
}

.form_sty .bank-card-style .ant-card-extra{
  color: white;
}

.form_sty .bank-card-style .color-white{
  color: white;
}

.form_sty .bank-card-style .ant-card-head-title{
  color: white;
}

.form_sty .bank-card-style .ant-card-head{
  border-bottom: 1px solid #e8e8e838;
}

.form_sty .bank-card-bg img{
  opacity: 0.3;
  width: 100%;
  height: 80px;
}
.my-list .am-list-item{
  border-top: 1px solid rgba(221, 221, 221, 0.49);
}
/* ---------- btn_withdraw ----------*/
.withdraw_sty .am-list-body{
  border-top: none;
}
.btn_withdraw .ant-btn{
  height: 32px;
  padding: 0px 15px;
  background-color: #665EFF;
  border-color: #665EFF;
}


/* ----------- bank-style ---------- */
.bank-bg{
  height: auto;
}

/* ----------- form-item-style ---------- */
.form-item-style {
  background-color: white;
  padding: 10px;
}

.form-item-style .ant-form-item-label {
  text-align: left;
  padding-left: 5px;
}

.form-item-style .ant-col-6 {
  width: auto;
  padding-left: 4px;
  padding-top: 7px;
}

.form-item-style .ant-col-18 {
  width: 100%;
}
.form-item-style .ant-col-18 input{
  background: transparent;
  border: none;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}

/* ----------- form-list-style ---------- */
.form-list-style .am-list-item .am-list-line {
  position: static;
}

.form-list-style .am-list-item .am-input-control {
  padding-left: 20px !important;
}

/* ----------- form-countdown-style ---------- */
.form-countdown .ant-btn-sm {
  padding: 10px 20px 30px 20px !important;
  background-color: #665EFF;
  border-color: #665EFF;
  color: white;
}
.form-countdown .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{
  background-color: #665EFF;
  border-color: #665EFF;
  color: white;
}

/* ----------- form-border-line-style ---------- */
.border-line .am-list-item.am-list-item-middle{
  border-bottom: 1px solid #efefef;
}


/* ----------- form-media ---------- */
@media (max-width: 575px) {
  .form-item-style .ant-form-item-label, .ant-form-item-control-wrapper {
    width: 40%;
  }
  .add-bank-style .ant-col-14 {
    width: 100%;
  }
  .add-bank-style .ant-col-6 {
    width: 100%;
  }
  .bank-card-bg img{
    width: 100%;
    height: 58px;
  }
}


@media (max-width: 328px) {
  .form-countdown .ant-btn-sm {
    padding: 7px 3px 26px 5px !important;
  }

  .form_tab .am-list-item .am-input-control input {
    font-size: 13px;
    padding-left: auto !important;
  }
  .bank-card-bg img{
    height: 40px!important;
  }
}


.price_hall_style .am-list-extra{
  margin-top: 23px;
}

/*  fund-history  */
.fund-history {
  width: 100%;
}

.fund-history .top-header {
  background-color: #2A2E43;
  height: 45px;
}

.fund-history .am-list-header {
  color: #b9b9b9 !important;
  text-align: left
}

.fund-history .pending {
  color: #3ACCE1;
}

.fund-history .zhui {
  color: #FF9057;
}

.fund-history .add{
  color: #bfbfbf;
}

.fund-history .minus {
  color: red;
}

.fund-history .bet-money span {
  width: 100%;
  float: left;
}

.fund-history .bet-money .img-icon {
  float: left;
  width: 100%;
}

.fund-history .bet-money img {
  text-align: right;
}

.fund-history .game-icon {
  width: 50px;
  height: 50px;
}

.fund-history .am-list-item .am-list-thumb:first-child {
  margin-right: 7px;
}

.fund-history .am-list-item .am-list-line .am-list-brief {
  margin-top: 2px;
}

.fund-history .title-warp {
  font-size: .9em!important;
}

.fund-history .title-warp:nth-child(1) {
  padding-right: 2px;
}

.fund-history .title-warp:nth-child(2) {
  padding: 0px 2px;
}

.fund-history .title-warp:nth-child(3) {
  padding-left: 2px;
}

.fund-history .am-list-item .am-list-line .am-list-brief {
  font-size: .8em;
}

/*.fund-history .am-list-item.am-list-item-top .am-list-line {
  border-bottom: 1px solid #f0f0f0;
}
*/




/*  pop-list popup */
.pop-list  .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  overflow: auto;
}

.pop-list  .overlay:target {
  visibility: visible;
  opacity: 1;
}

.pop-list  .popup {
  margin: 70px auto;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.48);
}
.pop-list .popup .popup-inner{
  padding: 20px;
}
.pop-list  .popup h2 {
  margin-top: 0;
  color: #333;
  text-align: left;
}
.pop-list  .popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: left;
}

.pop-list  .icon-infor {
  text-align: right;
  font-size: 1.5em;
}

@media screen and (max-width: 700px) {
  .pop-list  .box {
    width: 85%;
  }

  .pop-list  .popup {
    width: 85%;
  }
}

.pop-list  table {
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid #eaeaea;
  border-bottom: none;
  word-wrap: break-word;
  /*   white-space: nowrap;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background: none;
}

.pop-list  body tr:first-child {
  background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

.pop-list  tbody tr:last-child {
  background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.pop-list  table th,
.pop-list  table td {
  margin: 0;
  padding: 0.5rem 0.9rem;
  white-space: nowrap;
  border-bottom: 1px solid #eaeaea !important;
}

.pop-list .tr-style {
  background: #F7F7FA;
  color:black;
}
.pop-list  .tr-style th{
  font-weight: 500;
}
.pop-list  table thead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 30%;
}
.pop-list table tbody {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow-x: auto;
  width: 70%;
}

.pop-list table tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /*   -webkit-box-orient: vertical;*/
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.pop-list td,
.pop-list th {
  display: block;
}

.pop-list  td {
  background-image: none !important;
  border-left: 0;
}

.pop-list  th:not(:last-child),
.pop-list  td:not(:last-child) {
  border-bottom: 0;
}

.pop-list .popup .btn-popup{
  padding: 15px;
  background: #665EFF;
  width: 100%;

}
.pop-list .popup .btn-popup h4{
  color: white;
  margin-bottom: 0px;
}





/*  fund-history-style */
.fund-history .date-select{
  text-align: center;
}
.fund-history {
  background-color: #F7F7FA;
  height: 100vh;
  min-height: 700px;
}
.fund-history a{
  color: #2a2e43;
}
.fund-history .ant-input {
 border:none;
}

.fund-history .form_title h5 {
  width: 100%;
  text-align: left;
  padding: 15px 10px;
  margin-bottom: 0px;
  color: #b9b9b9 !important;
}

.fund-history .ant-calendar-picker{
  width: 100%;
}

.fund-history .am-list-body{
   border-top: none;
   border-bottom: none;
  /* position: inherit; */
}

.fund-history .am-list-body .am-list-content{
  overflow: initial!important;
  text-overflow: initial!important;
  white-space: initial!important;
}
.fund-history .am-list-body .am-list-brief ul{
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  width: 315px;
}
.fund-history .am-list-body .am-list-brief li {
  width: 27px;
  height: 27px;
  margin: 2px;
  background: #40a9ff;
  border-radius: 50%;
  text-align: center;
  color: white;
  float: left;
  font-size: 1em;
  line-height: 27px;
}

.fund-history a:nth-child(3) .am-list-extra{
  margin-top: 40px;
}
.fund-history a:nth-child(5) .am-list-extra{
  margin-top: 40px;
}
/*  北京快乐8分-ball color */

.fund-history a:nth-child(3) .am-list-brief li{
  border-radius: 3px;
}
/* up 10 */
.fund-history a:nth-child(3) .am-list-brief li:nth-child(1){
  background: #faad14;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(2){
  background: #40a9ff;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(3){
  background: #790A00;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(4){
  background: #FF2407;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(5){
  background: #2ED8DE;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(6){
  background: #5334FB;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(7){
  background: #10BB00;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(8){
  background: #4A4C4C;
}
.fund-history  a:nth-child(3) .am-list-brief li:nth-child(9){
  background: #E8DC00;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(10){
  background: #BFBFBF;
}

/* down 10 */
.fund-history a:nth-child(3) .am-list-brief li:nth-child(11){
  background: #BFBFBF;
}
.fund-history  a:nth-child(3) .am-list-brief li:nth-child(12){
  background: #E8DC00;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(13){
  background: #4A4C4C;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(14){
  background: #10BB00;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(15){
  background: #5334FB;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(16){
  background: #2ED8DE;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(17){
  background: #FF2407;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(18){
  background: #790A00;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(19){
  background: #40a9ff;
}
.fund-history a:nth-child(3) .am-list-brief li:nth-child(20){
  background: #faad14;
}

/*  KENO-ball color */
.fund-history a:nth-child(5) .am-list-brief li{
  border-radius: 3px;
}
/* up 10 */
.fund-history a:nth-child(5) .am-list-brief li:nth-child(1){
  background: #faad14;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(2){
  background: #40a9ff;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(3){
  background: #790A00;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(4){
  background: #FF2407;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(5){
  background: #2ED8DE;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(6){
  background: #5334FB;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(7){
  background: #10BB00;
}
.fund-history  a:nth-child(5) .am-list-brief li:nth-child(8){
  background: #4A4C4C;
}
.fund-history  a:nth-child(5) .am-list-brief li:nth-child(9){
  background: #E8DC00;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(10){
  background: #BFBFBF;
}
/* down 10 */
.fund-history a:nth-child(5) .am-list-brief li:nth-child(11){
  background: #BFBFBF;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(12){
  background: #E8DC00;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(13){
  background: #4A4C4C;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(14){
  background: #10BB00;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(15){
  background: #5334FB;
}
.fund-history  a:nth-child(5) .am-list-brief li:nth-child(16){
  background: #2ED8DE;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(17){
  background: #FF2407;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(18){
  background: #790A00;
}
.fund-history  a:nth-child(5) .am-list-brief li:nth-child(19){
  background: #40a9ff;
}
.fund-history a:nth-child(5) .am-list-brief li:nth-child(20){
  background: #faad14;
}


/*  北京PK10-ball color */
.fund-history a:nth-child(7) .am-list-brief li{
  border-radius: 3px;
}
/* 10 */
.fund-history a:nth-child(7) .am-list-brief li:nth-child(1){
  background: #faad14;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(2){
  background: #40a9ff;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(3){
  background: #790A00;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(4){
  background: #FF2407;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(5){
  background: #2ED8DE;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(6){
  background: #5334FB;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(7){
  background: #10BB00;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(8){
  background: #4A4C4C;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(9){
  background: #E8DC00;
}
.fund-history a:nth-child(7) .am-list-brief li:nth-child(10){
  background: #BFBFBF;
}





/* pricedata_list */
.fund-history .pricedata_list_square .am-list-brief li{
  border-radius: 3px;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(1){
  background: #faad14;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(2){
  background: #40a9ff;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(3){
  background: #790A00;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(4){
  background: #FF2407;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(5){
  background: #2ED8DE;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(6){
  background: #5334FB;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(7){
  background: #10BB00;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(8){
  background: #4A4C4C;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(9){
  background: #E8DC00;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(10){
  background: #BFBFBF;
}
/* down 10 */
.fund-history .pricedata_list_square .am-list-brief li:nth-child(11){
  background: #BFBFBF;
}
.fund-history .pricedata_list_square  .am-list-brief li:nth-child(12){
  background: #E8DC00;
}
.fund-history .pricedata_list_square  .am-list-brief li:nth-child(13){
  background: #4A4C4C;
}
.fund-history .pricedata_list_square  .am-list-brief li:nth-child(14){
  background: #10BB00;
}
.fund-history .pricedata_list_square  .am-list-brief li:nth-child(15){
  background: #5334FB;
}
.fund-history .pricedata_list_square  .am-list-brief li:nth-child(16){
  background: #2ED8DE;
}
.fund-history .pricedata_list_square  .am-list-brief li:nth-child(17){
  background: #FF2407;
}
.fund-history .pricedata_list_square  .am-list-brief li:nth-child(18){
  background: #790A00;
}
.fund-history  .pricedata_list_square  .am-list-brief li:nth-child(19){
  background: #40a9ff;
}
.fund-history .pricedata_list_square .am-list-brief li:nth-child(20){
  background: #faad14;
}



@media (max-width: 450px){
  .fund-history .pricedata_list_square ul{
    width: 315px!important;
  }
  .fund-history .am-list-body .am-list-brief ul{
    width: 250px;
  }
  
  .fund-history a:nth-child(3) .am-list-brief li{
    width: 20px;
    height: 20px;
    font-size: .9em;
    line-height: 20px;
  }
  .fund-history  a:nth-child(5) .am-list-brief li{
    width: 20px;
    height: 20px;
    font-size: .9em;
    line-height: 20px;
  }
  .fund-history a:nth-child(7) .am-list-brief li{
    width: 20px;
    height: 20px;
    font-size: .9em;
    line-height: 20px;
  }
  .fund-history a:nth-child(3) .am-list-extra{
    margin-top: 35px;
  }
  .fund-history a:nth-child(5) .am-list-extra{
    margin-top: 35px;
  }
  .fund-history .title-warp {
    font-size: .8em!important;
}
}
@media (max-width: 370px){
  .fund-history .pricedata_list_square ul{
    width: 245px!important;
  }
  .fund-history .am-list-body .am-list-brief ul{
    width: 205px;
  }
  .fund-history .am-list-body .am-list-brief li{
    width: 22px;
    height: 22px;
    margin: 1px;
    font-size: .9em;
    line-height: 22px;
  }
  .fund-history a:nth-child(3) .am-list-brief li{
    width: 18px;
    height: 18px;
    font-size: .8em;
    line-height: 20px;
    margin: 1px;
  }
  .fund-history  a:nth-child(5) .am-list-brief li{
    width: 18px;
    height: 18px;
    font-size: .8em;
    line-height: 20px;
    margin: 1px;
  }
  .fund-history a:nth-child(7) .am-list-brief li{
    width: 18px;
    height: 18px;
    font-size: .8em;
    line-height: 20px;
    margin: 1px;
  }
}























/*  add-bank-style */
.add-bank-style .form_title2 h5 {
  width: 100%;
  text-align: left;
  padding-top: 20px!important;
  margin-bottom: 0px;
  color: #78849e8f;
}


.add-bank-style .form_title2 {
  text-align: left;
  padding: 10px 0;
}

.add-bank-style .add-bank-input{
  padding: 10px 0;
  border: none;
  border-bottom: 1PX solid #dddddd30;
}

.add-bank-style .am-list-body{
  position: initial;
border: none;
}

.add-bank-style .ant-col-14{
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-bank-style .am-list-item{
  padding-left: 0;
}

.add-bank-style .ant-col-offset-6{
  margin-left: auto;
}

.add-bank-style .am-list-item .am-list-line .am-list-extra{
  flex-basis: auto;
}

.add-bank-style .am-list-item .am-list-line{
padding-right: 0;
}

.add-bank-style .am-list-item.am-input-item{
  padding-left: 0;

}
/*  add-bank-popup */
.ant-modal-header{
  text-align: center;
}

/* ------------------------- form-style-end ---------------------------- */

.danielph3 li {
  list-style: none;
  width: 33.33%;
  float: left;
  padding-top: 3px;
}


.email-verification-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}


.email-verification-row {
  width: auto;

}
