@import './custom.less';

@header: header-nav;
.@{header} {height: 64px; width: 100%; z-index: 970; 
    position: fixed; top: 0;
    transition: all .5s ease;
    &.top{box-shadow: 0 5px 8px fade(#000, 15);background: @template-nav-bg-color;}
    &-logo {display: inline-block; position: absolute; left: 4%; width: 150px; line-height: 64px;
        & img {vertical-align: middle; display: inline-block;}
        & a {display: block;}
    }
    &-nav {float: right; line-height: 64px; position: relative;
        & .ant-menu-horizontal {border-bottom-color: transparent;}
        & .ant-menu {background: transparent; color: @template-text-color-light; line-height: 62px; height: 100%;
            & li {float: left; text-align: center; width: 100px;
                & a{color: inherit}}
        }
        & .ant-menu-horizontal > .ant-menu-item-active {color: #fff; border-bottom-color: rgba(255, 255, 255, 0.78);}
        & .ant-menu-horizontal > .ant-menu-item:hover {color: #fff; border-bottom-color: rgba(255, 255, 255, 0.78);}
        & .ant-menu-horizontal > .ant-menu-item > a:hover{color:inherit;}
    }
    &-user {float: right; margin-right: 4%; line-height: 62px; height: 64px;
        & .help {width: 100px; text-align: center; font-size: 22px; border-left: 1px solid fade(@line-color, 5);
            & .anticon {vertical-align: middle;}
            & span {display: inline-block; margin-left: 10px; font-size: 12px; line-height: 22px;}
        }
        & .user {font-size: 14px; text-align: right; width: 100px; border-left: 1px solid fade(@line-color, 5);
            & .img {margin-left: 0;
                & img {vertical-align: middle;}
            }
            & span {display: inline-block; margin-left: 10px; font-size: 12px; line-height: 24px;
            }
        }
        & a {display: inline-block; color: #fff;}
        & a:hover {color: @primary-color;}
    }
}
