/* Template 2102 Constructive http://www.tooplate.com/view/2102-constructive */
 body {
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     font-size: 18px;
     font-weight: 300;
     color: white;
     overflow-x: hidden;
     min-height: 100vh;
     height: 100%;
     position: relative;
     background: #222222;
    /*font-family: 'Roboto Mono';
    */
}
 #preload-01 {
     background: url(../img/constructive_bg_01.jpg) no-repeat -9999px -9999px;
}
 #preload-02 {
     background: url(../img/constructive_bg_02.jpg) no-repeat -9999px -9999px;
}
 #preload-03 {
     background: url(../img/constructive_bg_03.jpg) no-repeat -9999px -9999px;
}
 #preload-04 {
     background: url(../img/constructive_bg_04.jpg) no-repeat -9999px -9999px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.28); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.45); 
}
 .timeline {
     margin: 4em auto;
     position: relative;
    /*max-width: 46em;
    */
}
 .timeline:before {
     background-color: black;
     content: '';
     margin-left: -1px;
     position: absolute;
     top: 0;
     left: 2em;
     width: 2px;
     height: 100%;
}
 .timeline-event {
     position: relative;
     list-style: none;
}
 .timeline-event:hover .timeline-event-icon {
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
     background-color: #33ccff;
}
 .timeline-event:hover .timeline-event-thumbnail {
     -moz-box-shadow: inset 40em 0 0 0 #33ccff;
     -webkit-box-shadow: inset 40em 0 0 0 #33ccff;
     box-shadow: inset 40em 0 0 0 #33ccff;
}
 .timeline-event-copy {
     padding: 2em;
     position: relative;
     top: -1.875em;
     left: 4em;
     width: 80%;
     background-color: rgba(0,0,0,0.25);
     padding: 30px;
     margin-bottom: 30px;
    /*border: 1px solid white;
    */
}
 .timeline-event-copy h3 {
     font-size: 1.75em;
}
 .timeline-event-copy h4 {
     font-size: 1em;
     margin-bottom: 1em;
}
 .timeline-event-copy strong {
     font-weight: 700;
}
 .timeline-event-copy p:not(.timeline-event-thumbnail) {
     padding-bottom: 1.2em;
}
 .timeline-event-icon {
     -moz-transition: -moz-transform 0.2s ease-in;
     -o-transition: -o-transform 0.2s ease-in;
     -webkit-transition: -webkit-transform 0.2s ease-in;
     transition: transform 0.2s ease-in;
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
     background-color: black;
     outline: 6px solid white;
     display: block;
     margin: 0.5em 0.5em 0.5em -0.5em;
     position: absolute;
     top: 0;
     left: 2em;
     width: 1em;
     height: 1em;
}
 .timeline-event-thumbnail {
     -moz-transition: box-shadow 0.5s ease-in 0.1s;
     -o-transition: box-shadow 0.5s ease-in 0.1s;
     -webkit-transition: box-shadow 0.5s ease-in;
     -webkit-transition-delay: 0.1s;
     transition: box-shadow 0.5s ease-in 0.1s;
     color: white;
     font-size: 0.75em;
     background-color: black;
     -moz-box-shadow: inset 0 0 0 0em #33ccff;
     -webkit-box-shadow: inset 0 0 0 0em #33ccff;
     box-shadow: inset 0 0 0 0em #33ccff;
     display: inline-block;
     margin-bottom: 1.2em;
     padding: 0.25em 1em 0.2em 1em;
}
 .edi_sty{
     margin-right: 5px;
}
 .timeline-event-copy strong{
     padding-left: 50px;
}
 .timeline-event-copy ul{
     margin-top: 10px;
     padding-left: 100px;
}
 .skill_sty header h2{
     text-align:left!important;
}
 .skill_sty{
     margin-bottom: 50px;
}
 .work_sty{
     margin-bottom: 50px;
}
 .in_about{
     margin-bottom: 1rem!important;
}
 .title_effect{
     margin-bottom:50px!important;
}
 .title_effect h1{
     font-size: 2.8rem;
}
 .title_effect a{
     color: #FFEB3B;
}
 .title_effect a:hover{
     color: #FFEB3B;
     text-decoration: none;
}
 .about-grids-top{
     margin: 50px 0 30px;
}
 .about-grid{
     width: 25%;
     float: left;
     text-align:center;
}
 .about-grid i {
     font-size: 50px;
     line-height: 50px;
     width: 80px;
     height: 80px;
     border-bottom: 2px solid white;
}
 .about-grid h4 {
     margin-top: 20px;
     font-size: 17px;
     letter-spacing: 1px;
     font-weight: 500;
     text-transform: uppercase;
}
 .timeline-event-copy ul li{
     margin-bottom: 10px;
}
 @media (max-width: 1160px) {
     .timeline-event-copy ul li{
         font-size: 1rem;
         margin-bottom: 10px;
    }
}
 @media (max-width: 1025px) {
     .tm-font-big {
         font-size: 1rem!important;
    }
     .about-grid i {
         font-size: 40px;
         line-height: 40px;
         width: 80px;
         height: 60px;
         border-bottom: 2px solid white;
    }
     .about-grid h4 {
         margin-top: 20px;
         font-size: .9rem;
         text-transform: uppercase;
    }
     .about-grids-top{
         margin: 30px 0 30px;
    }
     .title_effect h1{
         font-size: 2.5rem;
    }
     .timeline-event-copy ul li{
         font-size: .8rem;
    }
     .timeline-event-copy h3 {
         font-size: 1.3em;
    }
     .timeline-event-copy h4 {
         font-size: .8em;
         margin-bottom: .6em;
    }
     .timeline-event-copy strong {
         font-weight: 500;
         font-size: .8em;
    }
}
 @media (max-width: 550px) {
     .title_effect h1{
         font-size: 1.6rem;
    }
     .about-grid h4 {
         margin-top: 20px;
         font-size: .8rem;
    }
     .in_about h2{
         font-size: 1.4rem;
    }
     .title_effect {
         margin-bottom: 30px!important;
         margin-top: 30px 
    }
     .about .tm-font-big {
         font-size: .9rem!important;
         margin-top: 0px!important;
    }
     .about-grid {
         width: 50%;
         margin-bottom:20px;
    }
     .about-grids-top{
         margin: 30px 0 10px;
    }
     .timeline-event-copy {
         padding: 1em;
         width: 90%;
         left: 2.5em;
    }
     .timeline-event-copy ul {
         padding-left: 40px;
    }
     .timeline-event-copy strong {
         padding-left: 30px;
    }
     .timeline:before {
         left: .8em;
    }
     .timeline-event-icon{
         margin: 0.5em 0.5em 0.5em -1.5em;
         left: 2em;
         width: .6em;
         height: .6em;
    }
     .skill .skill__img {
         width: 70px!important;
         height: 70px!important;
    }
     .skill .skill__content {
         padding: 1.1rem 0 0.5rem 2rem!important;
    }
	
}
 @media (max-width: 400px) {
     .about-grid {
         width: 100%;
         margin-bottom:40px;
    }
     .title_effect h1{
         font-size: 2rem;
    }
     .in_about h2{
         font-size: 1.8rem;
    }
     .about-grid i {
         font-size: 50px;
         line-height: 50px;
    }
     .about-grid h4 {
         margin-top: 20px;
         font-size: 1.2rem;
    }
     .res_mar{
         margin-bottom:20px!important;
    }
     .timeline-event-copy {
         padding: .8em;
         width: 90%;
         left: 1.5em;
    }
     .timeline-event-copy h3 {
         font-size: 1.1em;
    }
     .timeline-event-copy ul {
         padding-left: 20px;
    }
     .timeline-event-copy strong {
         padding-left: 20px;
    }
     .timeline:before {
         left: .3em;
    }
     .timeline-event-icon{
         left: 1.5em;
    }
     .timeline-event-copy h4 {
         font-size: .6em;
    }
     .timeline-event-copy strong {
         font-size: .7em;
    }
     .skill .skill__content .skill__name {
         font-size: .8rem!important;
    }
     .skill .skill__content {
         padding: 1.1rem 0 0.5rem 1.5rem!important;
    }
	  #tm-section-4 .tm-bg-transparent-black{
		 padding: 5px;
	 }
	  #tm-section-4 header{
		padding-top: 30px;
	 }
}
 MATERIAL PHOTO GALLERY \*------------------------------------*/
 .m-p-g {
     max-width: 100%;
     margin: 0 auto;
}
 .m-p-g__thumbs-img {
     margin: 0;
     float: left;
     vertical-align: bottom;
     cursor: pointer;
     z-index: 1;
     position: relative;
     opacity: 0;
     -webkit-filter: brightness(100%);
     filter: brightness(100%);
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     will-change: opacity, transform;
     transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
 .m-p-g__thumbs-img.active {
     z-index: 50;
}
 .m-p-g__thumbs-img.layout-completed {
     opacity: 1;
}
 .m-p-g__thumbs-img.hide {
     opacity: 0;
}
 .m-p-g__thumbs-img:hover {
     -webkit-filter: brightness(110%);
     filter: brightness(110%);
}
 .m-p-g__fullscreen {
     position: fixed;
     z-index: 10;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     height: 100vh;
     background: rgba(0, 0, 0, 0);
     visibility: hidden;
     transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
     will-change: background, visibility;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}
 .m-p-g__fullscreen.active {
     transition: background .25s ease-out, visibility .01s 0s linear;
     visibility: visible;
     background: rgba(0, 0, 0, 0.95);
}
 .m-p-g__fullscreen-img {
     pointer-events: none;
     position: absolute;
     -webkit-transform-origin: left top;
     transform-origin: left top;
     top: 50%;
     left: 50%;
     max-height: 100vh;
     max-width: 100%;
     visibility: hidden;
     will-change: visibility;
     transition: opacity 0.5s ease-out;
}
 .m-p-g__fullscreen-img.active {
     visibility: visible;
     opacity: 1 !important;
     transition: opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
     transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
     transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
 .m-p-g__fullscreen-img.almost-active {
     opacity: 0;
     -webkit-transform: translate3d(0, 0, 0) !important;
     transform: translate3d(0, 0, 0) !important;
}
 .m-p-g__controls {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 200;
     height: 20vh;
     background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
     opacity: 0;
     visibility: hidden;
     transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
 .m-p-g__controls.active {
     opacity: 1;
     visibility: visible;
}
 .m-p-g__controls-close, .m-p-g__controls-arrow {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     border: none;
     background: none;
}
 .m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
     outline: none;
}
 .m-p-g__controls-arrow {
     position: absolute;
     z-index: 1;
     top: 0;
     width: 20%;
     height: 100vh;
     display: flex;
     align-items: center;
     cursor: pointer;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     opacity: 0;
}
 .m-p-g__controls-arrow:hover {
     opacity: 1;
}
 .m-p-g__controls-arrow--prev {
     left: 0;
     padding-left: 3vw;
     justify-content: flex-start;
}
 .m-p-g__controls-arrow--next {
     right: 0;
     padding-right: 3vw;
     justify-content: flex-end;
}
 .m-p-g__controls-close {
     position: absolute;
     top: 3vh;
     left: 3vw;
     z-index: 5;
     cursor: pointer;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
 .m-p-g__btn {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background: rgba(255, 255, 255, 0.07);
     transition: all .25s ease-out;
}
 .m-p-g__btn:hover {
     background: rgba(255, 255, 255, 0.15);
}
 .m-p-g__alertBox {
     position: fixed;
     z-index: 999;
     max-width: 700px;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     background: white;
     padding: 25px;
     border-radius: 3px;
     text-align: center;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
     color: grey;
}
 .m-p-g__alertBox h2 {
     color: red;
}
/* DEMO */
 .demo-btn {
     display: inline-block;
     margin: 0 2.5px 4vh 2.5px;
     text-decoration: none;
     color: grey;
     padding: 15px;
     line-height: 1;
     min-width: 140px;
     background: rgba(0, 0, 0, 0.07);
     border-radius: 6px;
}
 .demo-btn:hover {
     background: rgba(0, 0, 0, 0.12);
}
 @media (max-width: 640px) {
     .demo-btn {
         min-width: 0;
         font-size: 14px;
    }
}
 .skill {
     color: #fff;
     position: relative;
     display: inline-flex;
     margin: 2rem 5rem;
     transition: all 200ms ease;
}
 .skill:hover {
     transform: scale(1.1);
}
 .skill .skill__img {
     position: relative;
     display: inline-block;
     width: 80px;
     height: 80px;
     max-width: 100px;
     max-height: 100px;
     background-color: #fff;
     transform: rotate(45deg);
     overflow: hidden;
}
 .skill .skill__img img {
     position: absolute;
     top: 50%;
     left: 50%;
     max-width: 60%;
     transform: translate(-50%, -50%) rotate(-45deg);
}
 .skill .skill__content {
     padding: 1.1rem 0 0.5rem 3rem;
}
 .skill .skill__content .skill__name {
     text-align: left;
     padding-bottom: 0.5rem;
     font-size: 1rem;
}
 .skill .skill__content .skill__name #procent {
     float: right;
}
 .skill .skill__content .skill__progress {
     position: relative;
     width: 350px;
     height: 15px;
     border-radius: 3px;
     background-color: rgba(255, 255, 255, 0.32);
}
 @media (max-width: 1840px) {
     .skill_sty {
         text-align: center;
    }
     .skill_sty header h2{
         text-align: left!important;
    }
     .skill {
         width: 100%;
         margin: 2rem 0rem;
    }
     .skill .skill__content {
         width: 100%;
    }
     .skill .skill__content .skill__progress {
         width: 100%;
    }
}
 @media (max-width: 769px) {
}
 .skill .skill__content .skill__progress #progress {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 0%;
     background-color: #333;
     border-radius: 3px;
}
 #css .skill__img {
     border-top: 3px solid #6ab8f2;
     border-right: 3px solid #3187c6;
     border-bottom: 3px solid #1872b5;
     border-left: 3px solid #074a7c;
}
 #css .skill__img img {
     width: 100%;
}
 #css #progress {
     background-color: #1872b5;
     transition: all 1000ms;
}
 #css.active #progress {
     width: 80%;
}
 #js .skill__img {
     border-top: 3px solid #fcfcab;
     border-right: 3px solid #ffff84;
     border-bottom: 3px solid #f4f458;
     border-left: 3px solid #ffff00;
}
 #js #progress {
     background-color: #f4f458;
     transition: all 850ms;
}
 #js.active #progress {
     width: 50%;
}
 #react .skill__img {
     border-top: 3px solid #98def2;
     border-right: 3px solid #67c6e0;
     border-bottom: 3px solid #53c0dd;
     border-left: 3px solid #2e88a0;
}
 #react #progress {
     background-color: #53c0dd;
     transition: all 350ms;
}
 #react.active #progress {
     width: 60%;
}
 #node .skill__img {
     border-top: 3px solid #a1e59c;
     border-right: 3px solid #6aaf64;
     border-bottom: 3px solid #4d9946;
     border-left: 3px solid #2b5627;
}
 #node #progress {
     background-color: #4d9946;
     transition: all 500ms;
}
 #node.active #progress {
     width: 60%;
}
 #npm .skill__img {
     border-top: 3px solid #a1e59c;
     border-right: 3px solid #6aaf64;
     border-bottom: 3px solid #4d9946;
     border-left: 3px solid #2b5627;
}
 #npm #progress {
     background-color: #4d9946;
     transition: all 500ms;
}
 #npm.active #progress {
     width: 50%;
}
 #sass .skill__img {
     border-top: 3px solid #fcb5d9;
     border-right: 3px solid #d376a5;
     border-bottom: 3px solid #c69;
     border-left: 3px solid #c43c80;
}
 #sass #progress {
     background-color: #c69;
     transition: all 600ms;
}
 #sass.active #progress {
     width: 80%;
}
 #bootstrap .skill__img {
     border-top: 3px solid #a186d2;
     border-right: 3px solid #9d83ce;
     border-bottom: 3px solid #7c4cd4;
     border-left: 3px solid #a28bcc;
}
 #bootstrap #progress {
     background-color: #a186d2;
     transition: all 600ms;
}
 #bootstrap.active #progress {
     width: 80%;
}
 #responsive .skill__img {
     border-top: 3px solid #98def2;
     border-right: 3px solid #67c6e0;
     border-bottom: 3px solid #53c0dd;
     border-left: 3px solid #2e88a0;
}
 #responsive .skill__img img {
     width: 50%;
}
 #responsive #progress {
     background-color: #53c0dd;
     transition: all 1000ms;
}
 #responsive.active #progress {
     width: 90%;
}
 #ps .skill__img {
     border-top: 3px solid #6ab8f2;
     border-right: 3px solid #3187c6;
     border-bottom: 3px solid #1872b5;
     border-left: 3px solid #074a7c;
}
 #ps .skill__img img {
     width: 40px;
}
 #ps #progress {
     background-color: #1872b5;
     transition: all 500ms;
}
 #ps.active #progress {
     width: 50%;
}
 #web .skill__img {
     border-top: 3px solid #6ab8f2;
     border-right: 3px solid #3187c6;
     border-bottom: 3px solid #1872b5;
     border-left: 3px solid #074a7c;
}
 #web .skill__img img {
     width: 40px;
}
 #web #progress {
     background-color: #1872b5;
     transition: all 500ms;
}
 #web.active #progress {
     width: 80%;
}
 #adobe .skill__img {
     border-top: 3px solid #bd3026;
     border-right: 3px solid #d6376d;
     border-bottom: 3px solid #F44336;
     border-left: 3px solid #bf6447;
}
 #adobe .skill__img img {
     width: 40px;
}
 #adobe #progress {
     background-color: #E91E63;
     transition: all 500ms;
}
 #adobe.active #progress {
     width: 60%;
}
 #ic .skill__img {
     border-top: 3px solid #e46993;
     border-right: 3px solid #e46993;
     border-bottom: 3px solid #e46993;
     border-left: 3px solid #e46993;
}
 #ic .skill__img img {
     width: 40px;
}
 #ic #progress {
     background-color: #e46993;
     transition: all 500ms;
}
 #ic.active #progress {
     width: 60%;
}
 #an .skill__img {
     border-top: 3px solid #0aa092;
     border-right: 3px solid #009688;
     border-bottom: 3px solid #009688;
     border-left: 3px solid #009688;
}
 #an .skill__img img {
     width: 40px;
}
 #an #progress {
     background-color: #009688;
     transition: all 500ms;
}
 #an.active #progress {
     width: 70%;
}
 #uiux .skill__img {
     border-top: 3px solid #8fefef;
     border-right: 3px solid #53d2d2;
     border-bottom: 3px solid #53d2d2;
     border-left: 3px solid #126d6d;
}
 #uiux #progress {
     background-color: #53d2d2;
     transition: all 500ms;
}
 #uiux.active #progress {
     width: 50%;
}
 .skill__img, .skill__content .skill__name, .skill__content .skill__progress {
     transition: all 500ms ease;
}
 .skill.left .skill__img {
     box-shadow: 5px 15px 7px 0px rgba(0,0,0,0.25);
}
 .skill.left .skill__name {
     text-shadow: -15px 10px 3px rgba(0, 0, 0, 0.25);
}
 .skill.left .skill__progress {
     box-shadow: -15px 15px 7px 0px rgba(0,0,0,0.25);
}
 .skill.right .skill__img {
     box-shadow: 15px 5px 7px 0px rgba(0,0,0,0.25);
}
 .skill.right .skill__name {
     text-shadow: 15px 10px 3px rgba(0, 0, 0, 0.25);
}
 .skill.right .skill__progress {
     box-shadow: 15px 15px 7px 0px rgba(0,0,0,0.25);
}
 ul {
     margin: 0;
     padding: 0;
}
 a, button {
     transition: all 0.3s ease;
}
 button:focus {
     outline: none;
}
 a:focus {
     text-decoration: none;
     outline: none;
}
 a {
     color: #FFF;
}
 a:hover {
     color: #FF0;
}
 h1,h2,h3 {
     font-weight: 300;
}
 p {
     font-size: 1rem;
     line-height: 2.2;
}
 p:last-child {
     margin-bottom: 0;
}
 .tm-bg-transparent-black {
     background-color: rgba(0,0,0,0.25);
     padding: 25px;
}
 .work_sty .tm-btn {
     padding: 5px 35px;
     font-size: 1.3rem;
     float: right;
}
 .tm-contact-box-pad {
     padding: 60px 55px;
}
 .tm-border-white {
     border: 1px solid white;
}
 .media {
     align-items: center;
}
 .tm-icon-circled {
     font-size: 3rem;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     width: 200px;
     height: auto;
}
 .tm-font-big {
     font-size: 1.3rem;
}
 .row {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-right: auto;
     margin-left: auto;
}
 .tm-main {
     height: 100%;
     min-height: 100vh;
     padding: 0;
}
 .tm-main-row {
     height: 100%;
     min-height: 100vh;
     position: relative;
}
 #tmMainNavToggle {
     display: none;
}
 .sidebar {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     padding: 60px 50px;
     cursor: default;
     z-index: 100;
     background: rgba(0,0,0,0.5);
     color: white;
     z-index: 1000;
}
 .tm-content {
     display: -webkit-box;
     display: -ms-flexbox;
    /*display: flex;
     -ms-flex-item-align: stretch;
     align-self: stretch;
    */
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     padding: 50px;
     width: 100%;
     position: relative;
     overflow-y: auto;
     height: 100vh;
     margin-bottom: 0px!important;
}
 .tm-nav-fa-icon {
     width: 55px;
     height: 55px;
     border-radius: 50%;
     border: 1px solid white;
     padding: 8px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     margin-right: 35px;
}
 .tm-main-nav {
     font-size: 1.6rem;
}
 .tm-main-nav li {
     list-style: none;
}
 .tm-main-nav a {
     background-image: url(../img/nav-item.png);
     background-repeat: no-repeat;
     background-position: left bottom;
     color: white;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     margin: 20px 0 40px 0;
     padding-bottom: 40px;
    /* padding-right: 80px;
    */
}
 .tm-main-nav a:hover, .tm-main-nav a:focus, .tm-main-nav a.active {
     background-image: url(../img/nav-item-highlight.png);
     color: #33ccff;
     text-decoration: none;
}
 .tm-main-nav a:hover .tm-nav-fa-icon, .tm-main-nav a:focus .tm-nav-fa-icon, .tm-main-nav a.active .tm-nav-fa-icon {
     border-color: #33ccff;
}
 .fa-menu {
     width: 50px;
     height: 50px;
}
 .tm-btn {
     padding: 15px 50px;
     font-size: 1.3rem;
     font-weight: 300;
     background: transparent;
     border-color: white;
     color: white;
     cursor: pointer;
}
 .tm-btn:hover, .tm-btn:focus {
     color: #33ccff;
     border-color: #33ccff;
}
 .tm-btn-submit {
     border-radius: 0;
     display: block;
     padding: 15px 43px;
}
 .slick-dots {
     bottom: -45px;
}
 .slick-dots li button:before {
     font-size: 20px;
}
 .slick-slide {
     margin: 0 10px;
}
 .slick-list {
     margin: 0 -10px;
}
 .tm-text-shadow {
     text-shadow: 0px 3px 2px rgba(50, 50, 50, 1);
}
 .tm-section {
     max-width: 100%;
     width: auto;
     background: transparent;
}
 .col-md-6.tm-contact-col {
     margin-bottom: 0;
}
 .tm-img-slider {
     max-width: 940px;
}
 .tm-icon-media {
     margin-right: 1.5rem;
     margin-bottom: 0;
}
 address {
     font-size: 1rem;
}
 .form-control {
     background: transparent;
     border-color: white;
     color: white;
     font-weight: 300;
     border-radius: 0;
     padding: 15px;
}
 .form-control:focus {
     background: transparent;
     color: white;
     border-color: #33ccff;
     box-shadow: none;
}
 ::-webkit-input-placeholder {
     color: rgba(255, 255, 255, 1) !important;
     opacity: 1.0;
}
 :-moz-placeholder {
     color: rgba(255, 255, 255, 1) !important;
     opacity: 1.0;
}
 ::-moz-placeholder {
     color: rgba(255, 255, 255, 1) !important;
     opacity: 1.0;
}
 :-ms-input-placeholder {
     color: rgba(255, 255, 255, 1) !important;
     opacity: 1.0;
}
 .footer-link {
     position: absolute;
     bottom: 20px;
     right: 20px;
     margin-left: 20px;
     color: white;
     text-align:right;
     width:100%;
     z-index: 999;
}
 .footer-link.relative {
     position: relative;
}
 .tm-copyright-text {
     display: inline-block;
     padding: 5px 30px;
     background-color: rgba(0,0,0,0.5);
}
 footer a {
     color: white;
}
 @media (max-width: 1800px) {
     .tm-section {
         margin-right: auto;
    }
}
 @media (max-width: 1724px) {
     .tm-nav-fa-icon {
         margin-right: 25px;
    }
     .tm-main-nav a {
         margin: 20px 0 23px 0;
         padding-right: 10px;
    }
     .tm-content {
         padding: 50px 5%;
    }
     .tm-icon-circled{
         width: 150px;
    }
}
 @media (max-width: 1400px) {
     .tm-main-nav {
         font-size: 1.4rem;
    }
     .tm-main-nav a {
         padding-right: 10px;
    }
     .tm-nav-fa-icon {
         margin-right: 25px;
    }
     .sidebar {
         padding: 20px 30px;
    }
	  .work_sty .col-xl-6 {
         max-width: 100%!important;
         flex: 0 0 100%;
    }
}
 @media (max-width: 1340px) {
     .tm-content {
         padding: 50px;
         margin: 0 auto;
    }
   
}
 @media (max-width: 1199px) {
     .col-md-6.tm-contact-col {
         -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%;
         margin-bottom: 30px;
    }
}
 @media (max-width: 991px) {
    /* Nav toggle https://www.youtube.com/watch?v=uyT3NSHhke8 */
     .tm-main-row {
         position: relative;
    }
     .ed_sty header {
         margin-top: 30px;
    }
     .skill_res {
         margin-top: 30px;
    }
     .work_res {
         margin-top: 30px;
    }
     #tmMainNavToggle {
         display: block;
         position: absolute;
         right: -60px;
         top: 0;
    }
     .menu-icon {
         padding: 10px 15px;
         background: #000000c4;
         border: 1px solid;
         color: #33ccff;
         cursor: pointer;
         margin-top: 4px;
         margin-left: 4px;
         border-radius: 5px;
         width: 60px;
         height: 50px;
         z-index: 1001;
    }
     #tmSideBar {
         width: 300px;
         position: absolute;
         min-height: 100vh;
         height: auto;
         left: -300px;
         transition: all .3s ease-in-out;
         -webkit-transition: all .3s ease-in-out;
         -moz-transition: all .3s ease-in-out;
         -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
    }
     #tmSideBar.show {
         left: 0;
    }
     .sidebar {
         background: rgba(0,0,0,0.9);
         padding: 20px;
    }
     .tm-main-nav a {
         padding-bottom: 20px;
         margin: 20px 0 25px 0;
    }
     .tm-section {
         margin-left: auto;
    }
     .tm-section-carousel {
         max-width: 620px;
         width: 100%;
    }
}
 @media (max-width: 767px) {
     .tm-content {
         padding: 50px 30px;
    }
}
 @media (max-width: 640px) {
     .tm-section-carousel {
         max-width: 300px;
         padding-bottom: 50px;
    }
}
 @media (max-width: 600px) {
	 #tm-section-4{
		 margin-top: 30px!important;
	 }
	
	 .title_effect{
		 margin-top: 30px;
	 }
	 .mr-4, .mx-4 {
    margin-right: 0rem!important;
}
     .tm-contact-box-pad {
         padding: 30px 25px;
    }
     .footer-link {
         margin: 0 auto;
         width: 90%;
    }
     .media {
         flex-direction: column;
    }
     .tm-icon-media {
         margin-right: 0;
         margin-bottom: 1.5rem;
    }
     .media-body{
         text-align: center;
    }
     .work_sty .tm-btn {
         float: none;
    }
     .work_sty .mb-4{
         padding-left: 0px;
         padding-right: 0px;
    }
     .tm-bg-transparent-black {
         background-color: rgba(0, 0, 0, 0.43);
    }
}
 @media (max-width: 500px), (max-width: 809px) and (min-width: 767px) {
     .tm-icon-media {
         margin-right: 0;
         margin-bottom: 1.5rem;
    }
}
 .contact_box .tm-bg-transparent-black{
     background: rgba(0, 0, 0, 0);
     border: none;
}
 #tm-section-4 {
     margin: auto;
}
 #tm-section-4 .tm-icon-circled{
     width: 100px;
}
/* Loader */
 #loader-wrapper {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 2000;
}
 #loader {
     display: block;
     position: relative;
     left: 50%;
     top: 50%;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #3498db;
     -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
     animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
     z-index: 1001;
}
 #loader:before {
     content: "";
     position: absolute;
     top: 5px;
     left: 5px;
     right: 5px;
     bottom: 5px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #e74c3c;
     -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
     animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
 #loader:after {
     content: "";
     position: absolute;
     top: 15px;
     left: 15px;
     right: 15px;
     bottom: 15px;
     border-radius: 50%;
     border: 3px solid transparent;
     border-top-color: #f9c922;
     -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
     animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}
 @-webkit-keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
         -ms-transform: rotate(0deg);
        /* IE 9 */
         transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
     100% {
         -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
         -ms-transform: rotate(360deg);
        /* IE 9 */
         transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}
 @keyframes spin {
     0% {
         -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
         -ms-transform: rotate(0deg);
        /* IE 9 */
         transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
     100% {
         -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
         -ms-transform: rotate(360deg);
        /* IE 9 */
         transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}
 #loader-wrapper .loader-section {
     position: fixed;
     top: 0;
     width: 51%;
     height: 100%;
     background: #222222;
     z-index: 1000;
     -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
     -ms-transform: translateX(0);
    /* IE 9 */
     transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}
 #loader-wrapper .loader-section.section-left {
     left: 0;
}
 #loader-wrapper .loader-section.section-right {
     right: 0;
}
/* Loaded */
 .loaded #loader-wrapper .loader-section.section-left {
     -webkit-transform: translateX(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
     -ms-transform: translateX(-100%);
    /* IE 9 */
     transform: translateX(-100%);
    /* Firefox 16+, IE 10+, Opera */
     -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
 .loaded #loader-wrapper .loader-section.section-right {
     -webkit-transform: translateX(100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
     -ms-transform: translateX(100%);
    /* IE 9 */
     transform: translateX(100%);
    /* Firefox 16+, IE 10+, Opera */
     -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
     transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
 .loaded #loader {
     opacity: 0;
     -webkit-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
}
 .loaded #loader-wrapper {
     visibility: hidden;
     -webkit-transform: translateY(-100%);
    /* Chrome, Opera 15+, Safari 3.1+ */
     -ms-transform: translateY(-100%);
    /* IE 9 */
     transform: translateY(-100%);
    /* Firefox 16+, IE 10+, Opera */
     -webkit-transition: all 0.3s 1s ease-out;
     transition: all 0.3s 1s ease-out;
}
/* JavaScript Turned Off */
 .no-js #loader-wrapper {
     display: none;
}
 