/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	border: 0px;
	position: relative;
	zoom: 1;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
    width: 45px;
    height: 45px;
    margin: 0;
    display: block;
   
    position: absolute;
    top: 35%;
    z-index: 99;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border: 1px solid #673ab7; 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
    border-radius: 50%;
}
.flex-direction-nav .flex-next {
    background-position: -14px center;
    right: -9%;
}
.flex-direction-nav .flex-prev {left: -9%;}
.flexslider:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev {opacity: 1;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1; 
	border-color: #673ab7;
    background-color:transparent; 
	border-radius: 0;
}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
/* Control Nav */
.flex-control-nav {
    display: block;
    position: absolute;
    left: 0;
    bottom: -65%;
    width: 100%;
    text-align: center;
	display: none;
}
.flex-control-nav li {margin: 0 8px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {
    width: 15px;
    height: 15px;
    display: block;
    background: #fff;
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 50%;
    border: 2px solid #FAFAFA;
}
.flex-control-paging li a.flex-active { 
	background:#2EB6AF;
    cursor: default;
}
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


/* -- RESPONSIVE --*/

@media screen and (max-width: 1366px){
	.flex-direction-nav .flex-prev {
		left: -5%;
	} 
	.flex-direction-nav .flex-next { 
		right: -5%;
	}
}
@media screen and (max-width: 1280px){
	.flex-direction-nav .flex-prev {
		left: 0;
	}
	.flex-direction-nav .flex-next { 
		right: 0;
	}	 
}
@media screen and (max-width: 1080px) {
  
}
@media screen and (max-width: 991px) {
	.flex-direction-nav a { 
		top: 41%; 
		width: 40px;
		height: 40px;
	}
	.flexslider.flexslider1 .flex-direction-nav a { 
		top: -65%; 
	} 
}
@media screen and (max-width: 800px) {
	.flex-control-nav { 
		bottom: -43%; 
	} 
	.flex-direction-nav .flex-prev {
		left: 3%;
	}
	.flex-direction-nav .flex-next { 
		right: 3%;
	}
}
@media screen and (max-width: 640px) {
 	.flexslider.flexslider1 .flex-direction-nav a {
		top: -52%;
	} 
}
@media screen and (max-width: 480px) {
	.flex-direction-nav a { 
		top: 38%; 
	} 
}
@media screen and (max-width: 414px) {
	.flex-control-paging li a {
    width: 12px;
    height: 12px; 
}
.flex-direction-nav .flex-prev {
    left: 0%;
}
.flex-direction-nav .flex-next { 
	right: 0%;
}
.flex-direction-nav a {
    width: 35px;
    height: 35px;
    margin: 0;
    display: block;
    background-position: 12px center; 
    background-size: 100%;
}
.flexslider.flexslider1 .flex-direction-nav a {
	top: -43%;
} 
}
@media screen and (max-width: 384px){
.flex-control-nav {
    bottom: -29%;
}	
}
@media screen and (max-width: 320px) {
.flex-direction-nav .flex-prev {
	left: -2%;
} 
.flex-direction-nav .flex-next { 
	right: -2%;
}
.flex-control-nav {
    bottom: -22%;
}
}