body{
	margin:0;
	font-family: 'Roboto', sans-serif;
	background: #fff;  
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
body a:focus {
    outline: none;
}
/*-- banner --*/ 
/*-- banner --*/ 
.banner{ 
	
	-webkit-background-size:cover; 
	-moz-background-size:cover;  
	background-size:cover; 
} 
.banner-info {
    background: rgba(0, 0, 0, 0.44);
}
/*-- top-header --*/
.agileheader{
    padding-top: 1.5em;
}
/*-- header --*/   
.agileits-w3layouts-icons {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 1em;
}  
.agileheader p {
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 2px;
}
.agileheader p i.fa {
    font-size: 1.2em;
    margin-right: 2px;
    vertical-align: middle;
}
/*-- social-icons --*/ 
.social-icon a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 .2em;
    border: 1px solid transparent;
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
	line-height: 2.1em;
} 
.social-icon a:hover {
    color: #673ab7;
	border-color: #673ab7;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    border-radius: 50%;
}
/*-- //social-icons --*/
/*-- //top-header --*/
/*-- banner-text --*/ 
.banner-text {
    padding: 16em 0;
	text-align: center;
}
.banner-w3lstext h5 {
    font-size: 2.5em;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.banner-w3lstext h3,.banner-w3lstext h1 {
    font-size: 7em;
    color: #fff;
    font-weight: 100; 
    text-transform: uppercase;
    border: 1px solid #fff;
    display: inline-block;
    padding: .1em .5em;
    margin: 0.3em 0;
}
.banner-w3lstext p {
    font-size: 1em;
    color: #fff;
    line-height: 2em;
    width: 55%;
    margin: 0 auto;
    font-weight: 300;
}
/*-- //banner --*/ 
/*-- top-navigation --*/
.agile-logo { 
    background: #673ab7;
    width: 25%;
}
.w3lsnav-right{
    margin: 0;
    width: 100%;
} 
.agile-logo h2{
	font-size:4em; 
}
.agile-logo h2 a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-align: center;
    height: 89px;
    line-height: 1.5em;
	letter-spacing: 5px;
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
	transition: .5s all;
}
.agile-logo h2 a:hover {
    letter-spacing: 8px;
}
.w3lsnav-right nav {
    background: #C5CDD1;
    overflow: hidden;
    font-size: 1.2em;
    color: #fff;
    line-height: 100px;
}
.w3lsnav-right nav ul {
	height: 89px;
	overflow: hidden;
}  
.w3lsnav-right nav ul li {
    width: 20%;
    float: left;
    text-align: center;
    display: inline-block;
    border-right: 1px solid #333;
}
.w3lsnav-right .item-container {
	top: 0;
	position: relative;
	height: 89px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; 
} 
.w3lsnav-right .item-container:hover {
	top: -89px;
} 
.w3lsnav-right .item-top,
.w3lsnav-right .item-bottom {
	height: 89px;
	position: relative;
	display: block;
}  
.w3lsnav-right .item-top {
	color: #ffffff;
} 
.w3lsnav-right .item-bottom,.w3lsnav-right .item-top.active{ 
	color: #fff;
	background: #ff9800;
}
.w3lsnav-right i.fa {
    display: block; 
	padding: 1em 0 0; 
}
.w3lsnav-right i.fa.fa-caret-down {
    display: inline-block;
    padding: 0 0 0 0.5em;
    vertical-align: middle;
} 
/*-- //top-navigation --*/  
/*-- navigation dropdown --*/  
.w3lsnav-right nav ul.nav1 {
    z-index: 999;
    width: 15%;
    height: inherit !important;
    background-color: #242424;
    position: absolute;
	margin-top: 1px;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
} 
.w3lsnav-right li.w3dropdown:hover ul.nav1{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.w3lsnav-right ul.nav1 li {
    display: block;
    float: none;
    width: 100%;
    border: none;
}
.w3lsnav-right ul.nav1 li a {
    font-size: 0.9em;
    color: #797979;
    display: block;
	text-decoration:none;
}
.w3lsnav-right ul.nav1 li a:hover,.w3lsnav-right ul.nav1 li a.active{
    color: #fff;
	background:#000;
}
/*-- //navigation dropdown --*/  
/*-- welcome --*/ 
.welcome-agileits,.w3about,.news,.subscribe,.about,.team,.gallery,.codes,.contact,.single,.blog{
	padding:5em 0;
}
h3.w3ls-title {
    font-size: 4em;
    color: #673ab7;
    font-weight: 200;
    margin-bottom: 0.8em;
    text-align: center;
}
p {
    font-size: 1em;
    color: #999;
    line-height: 1.8em;
}
.welcome-wthreegrid {
    text-align: center;
}
.welcome-wthreegrid h4 {
    font-size: 1.8em;
    color: #242424;
}
.welcome-wthreegrid img.img-responsive {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
    border-radius: 50%;
    margin: 1em auto;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
}
.welcome-wthreegrid img.img-responsive:hover {
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
    transform: rotate(20deg);
} 
/*-- //welcome --*/ 
/*-- banner-about --*/ 
.w3about {
  
    background-size: cover;
	text-align: right;
	position:relative;
}
.w3about-agileinfo p {
    color: #fff;
    text-align: right;
    width: 78%;
    margin: 0 0 0 auto;
    font-size: 1.3em;
    letter-spacing: 2px;
}
a.w3layouts-more {
    color: #fff;
    font-size: 1.1em;
    border: 1px solid #fff;
    padding: .7em 2em;
    margin-top: 1.5em;
    display: inline-block;
	text-decoration:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all; 
}
a.w3layouts-more:hover {
    background: #673ab7;
    color: #fff;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05); 
	-ms-transform: scale(1.05); 
	-o-transform: scale(1.05); 
    transform: scale(1.05);
}
img.w3slid-img {
    position: absolute;
    top: -46px;
    width: 300px;
    left: 110px;
}
/*-- //banner-about --*/ 
/*-- news --*/ 
.wthree-news-grids {
    margin-top: 2em;
}
.datew3-agileits-info {
    padding-left: 2em;
} 
.datew3-agileits img.img-responsive {
    width: 155px;
    height: inherit;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
	overflow:hidden;
}
.wthree-news-grids:hover .datew3-agileits img.img-responsive {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
    transform: scale(1.2);
}
.datew3-agileits-info h5 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.8em 0 0;
}
.datew3-agileits-info h5 a {
    color: #673ab7;
    text-decoration: none;
}
.datew3-agileits-info h5 a:hover {
    color: #000;
}
.datew3-agileits-info h6 {
    font-size: 1.1em;
    color: #333;
    margin-top: 1em;
    letter-spacing: 3px;
}
.datew3-agileits-info p {
    margin: 1em 0 0;
}
.datew3-agileits.datew3-agileits-fltrt {
    float: right;
}
.news-right h4 {
    color: #000;
    font-size: 2.2em;
    font-weight: 300;
    margin-bottom: 1em;
}
.news-right {
    padding-left: 4em;
}
.achievesw3-agile {
    background: #673ab7;
    padding: 2em 2em;
    display: inline-block;
}
.achievesw3-agile ul li {
    display: block;
    margin: 1.3em 1em;
}
.achievesw3-agile ul li a{
    font-size:1em;
	color:#fff;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.achievesw3-agile ul li a:hover{ 
	color:#000;
}
.achievesw3-agile ul li a i.fa {
    margin-right: 0.8em;
}
/*-- //news --*/
/*-- footer --*/
.map-agileits-w3layouts {
    position:relative; 
}
.map-agileits-w3layouts iframe {
    width: 100%;
    height: 400px; 
	border:none;
} 
.address-left {
    background: rgba(255, 255, 255, 0.9);
    display: inline-block;
    position: absolute;
    padding: 2.5em;
    left: 41%;
    top: 19%;
    border: 1px solid #d6d6d6;
	-webkit-box-shadow: 0px 0px 15px 10px rgb(191, 191, 191);
	-moz-box-shadow: 0px 0px 15px 10px rgb(191, 191, 191); 
    box-shadow: 0px 0px 15px 10px rgb(191, 191, 191);
}
.address-left h4 {
    font-size: 2em;
    color: #673ab7;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0.8em;
}
.address-left ul li {
    display: block;
    font-size: 1em;
    color: #999;
    margin-top: 1em;
}
.address-left ul li a{
	color:#999;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.address-left ul li a:hover{
    color: #673ab7;
}
.address-left ul li i.fa {
    width: 24px;
    font-size: 1.3em;
}
.address-left ul li a i.fa{
    font-size: 1.1em;
}
/*-- subscribe --*/ 
.subscribe {
    text-align: center;
    background: #292929;
}
.subscribe h4 {
    font-size: 2.8em;
    color: #fff;
    font-weight: 300;
}
.subscribe form {
    width: 50%;
    margin: 3em auto 2em;
}
.subscribe input[type="email"] {
    width:85%;
    padding: .8em 1em;
    font-size: 1em;
	float: left;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-right: none;
    background: none;
    -webkit-appearance: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
} 
.subscribe input[type="submit"] {
    float: left;
    color: #673ab7;
    font-size: 1em;
    outline: none;
    padding: .8em 2em;
    border: 1px solid #fff;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-appearance: none;
    background: #fff;
    font-weight: 600;
}
.subscribe form:hover input[type="email"] {
    border-color: #673ab7;
}
.subscribe form:hover input[type="submit"] {
    border-color: #673ab7;
    background:#673ab7 ; 
	color: #fff;
} 
.subscribe p{
    width: 45%;
    margin: 0.5em auto 0;
	color: #fff;
}
.subscribe p a {
    color: #9d66ff;
}
.subscribe p a:hover{
    color: #fff;
}  
/*-- //subscribe --*/
/*-- copy-w3right --*/
.copy-w3right {
    background: #191919;
    padding: 1.5em 0;
    text-align: center;
}
.copy-w3right a.social-button {
    color: #fff;
    margin-bottom: 0.5em;
}
.copy-w3right p {
    color: #fff;
    text-align: center;
}
.copy-w3right p a,.copy-w3right a.social-button:hover{
    color: #673ab7; 
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all; 
}
.copy-w3right p a:hover{
    color:#fff;  
}
/*-- //footer --*/
/*-- slider-up-arrow --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    
}
#toTopHover {
	width: 40px;
    height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //slider-up-arrow --*/ 
/*-- about page --*/ 
.banner-text.about-w3bnr-text{
    padding: 4em 0; 
}
.about-w3bnr-text .banner-w3lstext h1{
    font-size: 5em;
}
.about-w3grids img.img-responsive {
	-webkit-transform: rotatey(180deg);
	-moz-transform: rotatey(180deg);
	-o-transform: rotatey(180deg);
	-ms-transform: rotatey(180deg);
    transform: rotatey(180deg);
}
.about-w3grids h3 {
    font-size: 3em;
    color: #000;
    font-weight: 300;
}
.about-w3grids h4 {
    font-size: 1.4em;
    color: #673ab7;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: capitalize;
    font-style: italic;
}
.w3ls_services {
    margin-top: 2.5em;
}
.w3ls_services_grids ul li {
    display: block;
    font-size: 1em;
    color: #999;
    margin-top: 1em;
}
.w3ls_services_grids ul li  i.fa {
    font-size: 1em;
    margin-right: .8em;
    color: #673ab7;
}
/*-- //stats --*/ 
.w3about.stats h3.w3ls-title {
    color: #fff;
}
.stats-info {
	text-align: center;
} 
.stats-grid {
    border: 10px double rgba(255, 255, 255, 0.57);
    padding: 4em 1em;
}
.stats-img i.fa {
    font-size: 5.5em;
    color: #191919;
}
.numscroller {
    font-size: 2em;
    color: #fff;
    margin: 0.8em 0 .2em;
    letter-spacing: 5px;
}
.stats-info p {
    font-size: 1.2em;
    font-weight: 500;
    color: #000;
}
/*-- //about page --*/ 
/*-- team --*/
.wthree_team_grid{
	text-align:center;
}
.wthree_team_grid h4 {
    font-size: 2em;
    color: #242424;
    margin: 1em 0 0;
}
.wthree_team_grid p {
    margin-top: 0.3em;
}
.hovereffect {
    overflow: hidden;
    position: relative;
    text-align: center;
} 
.hovereffect .overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
} 
.hovereffect img {
	width: 100%;
	display: block;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
} 
.hovereffect:hover img,.wthree_team_grid:hover .hovereffect img{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
} 
.hovereffect h6 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 2em;
    width: 100%;
    letter-spacing: 4px;
	top: 86% !important;
} 
.hovereffect:hover h6,.wthree_team_grid:hover .hovereffect h6{
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
	-moz-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
	-o-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
	-ms-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
	transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
} 
.hovereffect a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
} 
.hovereffect a.info:hover {
	-webkit-box-shadow: 0 0 5px #fff;
	-moz-box-shadow: 0 0 5px #fff;
	-o-box-shadow: 0 0 5px #fff;
	-ms-box-shadow: 0 0 5px #fff;
	box-shadow: 0 0 5px #fff;
} 
.hovereffect .rotate {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 100%;
	height: 100%;
	position: absolute;
}

.hovereffect hr {
	width: 50%;
	opacity: 0;
	filter: alpha(opacity=0);
}

.hovereffect  hr:nth-child(2) {
	-webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
	-moz-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
	-o-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
	-ms-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
	transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
}

.hovereffect  hr:nth-child(3) {
	-webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
	-moz-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
	-o-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
	-ms-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
	transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
} 
.hovereffect h6, .hovereffect hr {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform-origin: 50%;
	-ms-transform-origin: 50%;
	transform-origin: 50%;
	background-color: rgba(103, 58, 183, 0.78);
	margin: 0px;
}

.group1, .group2 {
	left: 50%;
	position: absolute;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s; 
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform-origin: 50%;
	-ms-transform-origin: 50%;
	-moz-transform-origin: 50%; 
	transform-origin: 50%;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
} 
.group1 {
	top: 43%;
} 
.group2 {
	top: 57%;
} 
.hovereffect p {
	width: 31%;
	text-transform: none;
	font-size: 15px;
	line-height: 2;
} 
.hovereffect p a {
	color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus{
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.hovereffect  a i {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, transform 0.35s; 
	transition: opacity 0.35s, transform 0.35s;
	padding: 10px;
	font-size: 20px;
}

.group1 a:first-child i {
	-webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
	-moz-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
	-o-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
	-ms-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
	transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
}

.group1 a:nth-child(2) i {
	-webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
	-moz-transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
	-o-transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
	-ms-transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
	transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
}

.group2 a:first-child i {
	-webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
	-moz-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
	-o-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
	-ms-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
	transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
}

.group2 a:nth-child(2) i {
	-webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
	-moz-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
	-o-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
	-ms-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
	transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
} 
.hovereffect:hover hr:nth-child(2),.wthree_team_grid:hover .hovereffect hr:nth-child(2){
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
	-moz-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
	-o-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
	-ms-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
	transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
}

.hovereffect:hover hr:nth-child(3),.wthree_team_grid:hover .hovereffect hr:nth-child(3){
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
	-moz-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
	-ms-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
	-o-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
	transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
}

.hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty,.wthree_team_grid:hover .hovereffect .group1 i:empty,.wthree_team_grid:hover .hovereffect .group2 i:empty{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0) rotate(45deg) scale(1);
	-ms-transform: translate3d(0,0,0) rotate(45deg) scale(1);
	-o-transform: translate3d(0,0,0) rotate(45deg) scale(1);
	transform: translate3d(0,0,0) rotate(45deg) scale(1);
	opacity: 1;
	filter: alpha(opacity=100);
}
/*-- //team --*/
/*-- gallery --*/
.gallery-wthree-grids img {
    width: 100%;
}
.gallery-wthree-grids {
    margin-top: 2em;
}
.w3ls-hover.gallery-w3grid-btm {
    margin-top: 2em;
}
/*-- gallery-hover effect --*/
.w3ls-hover {
	background-color: #FFF;
	display: block; 
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	text-align: center;
}
.w3ls-hover img {  
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.w3ls-hover:hover .captionw3-agile {
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	-moz-transform: rotate(0deg) scale(1) translateY(0);
	-o-transform: rotate(0deg) scale(1) translateY(0);
	-ms-transform: rotate(0deg) scale(1) translateY(0);
	-webkit-transform: rotate(0deg) scale(1) translateY(0);
	transform: rotate(0deg) scale(1) translateY(0);
}
.w3ls-hover .captionw3-agile {
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	padding: 4em 0;
	position: absolute;
	left: 0;
	top: -100%;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-moz-transform: rotate(36deg) scale(0.5) translateY(-100%);
	-o-transform: rotate(36deg) scale(0.5) translateY(-100%);
	-ms-transform: rotate(36deg) scale(0.5) translateY(-100%);
	-webkit-transform: rotate(36deg) scale(0.5) translateY(-100%);
	transform: rotate(36deg) scale(0.5) translateY(-100%);
}
.w3ls-hover .captionw3-agile.w3big-caption {
    padding: 12em 0;
}
.w3ls-hover .captionw3-agile h5{
	color: #fff;
	font-size: 2.5em;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 5px; 
}
.w3ls-hover .captionw3-agile span {
	color: #fff;
	font-size: 18px;
	margin-top: 5%;
	display: inline-block;
	border: 2px solid #fff;
	padding: 10px 15px;
	line-height: 18px;
	border-radius: 4px; 
} 
.w3ls-hover .captionw3-agile span:hover {
  color: #673ab7;
  border-color: #673ab7;
}
/*-- //gallery --*/
/*-- contact --*/ 
.w3ls-address h4 {
    font-size: 2.2em;
    color: #673ab7;
    margin-bottom: .5em;
}
.w3ls-address p.cnt-p {
    width: 75%;
}
p.address {
    margin: 1.5em 0;
}
.w3ls-address p { 
	color:#aaa;
    font-weight: 300; 
}
.w3ls-address p a {
    color: #242424;
    text-decoration: none;
}
.w3ls-address p a:hover{
    color: #673ab7; 
}
.contact input[type="text"],.contact input[type="email"] {
    width: 100%;
    color: #999; 
    background: none;
    outline: none;
    font-size: 1em;
    padding: .7em 1em;
    margin-bottom: 1.5em;
    border: solid 1px #dedede;
    -webkit-appearance: none;
    display: inline-block;
}
.contact textarea,.contact textarea  { 
    width: 100%;
    background: none;
    color: #999;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #dedede;
    min-height: 12em;
    -webkit-appearance: none;
}
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.6em 4em;
    font-size: 1em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #673ab7;
    transition: 0.5s all;
    border: 2px solid #673ab7;
    -webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
    transition: 0.5s all; 
}
.contact input[type="submit"]:hover {
    background: none;
    color: #673ab7;
} 
/*-- //contact --*/
/*-- pages --*/ 
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:3em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none; 
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none; 
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.w3ls-hdg, h3.bars {
	margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
} 
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #5f5f5f;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 28px;
    color: #000 !important;
    margin: 30px 0 15px;
}
.agileits-icons-title {
    text-align: center;
    font-size: 36px;
    color: #ef2e46;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icons .bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.icons .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.icons .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
/*-- //icons --*/
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
} 
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
 .codes .row {
    margin: 0;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
.form-control1, .form-control_2.input-sm{
	border: 1px solid #e0e0e0;
	padding:5px 18px;
	color: #616161;
	background: #fff;
	box-shadow: none !important;
	width: 100%;
	font-size: 0.85em;
	font-weight: 300;
	height: 40px;
	border-radius: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	-webkit-appearance: none;
	outline:none;
}
.control3{
	margin:0 0 1em 0;
}
.codes label {
    font-weight: 400;
}
@media (max-width:1080px){
.icon-box {
    padding: 8px 9px; 
}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	h3.w3ls-hdg {
		font-size: 1.6em;
		margin: 1em 0 0.6em;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.codes .alert {
		font-size: 0.9em;
		padding: 10px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
	.agileits-icons-title {  
		font-size: 30px; 
	}
	h3.icon-subheading {
		font-size: 22px; 
	}
	.icons .bs-glyphicons li { 
		width: 31%; 
	} 
}
@media (max-width: 320px){ 
	.alert,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 1em;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 13px!important;
	}
	.codes .row {
		margin: 0;
	}
	.agileits-icons-title { 
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 18px;
		margin: 21px 0 12px;
	}
}
/*-- //pages --*/  
/*-- blog --*/
.w3agile_blog_left_grid_l{
	float:left;
	width:100px;
	height:100px;
	background:#673ab7;
	text-align:center;
	padding-top: .7em;
}
.w3agile_blog_left_grid_r{
	float:right;
	width:80%;
}
.w3agile_blog_left_grid_l p{
	color:#fff;
	text-transform:uppercase;
}
.w3agile_blog_left_grid_l h4{
	font-size: 1.5em;
    margin: .2em 0;
    color: #fff;
}
.w3agile_blog_left_grid_r h3{
	font-size:1.5em;
	color:#212121;
	text-transform: capitalize;
	border-bottom:1px solid #DBDBDB;
	text-align: right;
	padding-bottom:.5em;
}
.w3agile_blog_left_grid_r h3 a{
	color:#212121;
	text-decoration:none;
} 
.w3agile_blog_left_grid_sub img.img-responsive {
    width: 100%;
}
.w3agile_blog_left_grid_r ul{
	padding:1em 0 0;
	text-align: right;
}
.w3agile_blog_left_grid_r ul li{
	display:inline-block;
	color:#ccc; 
	font-size: 1em;
}
.w3agile_blog_left_grid_r ul li i{
	padding:0 1.5em;
}
.w3agile_blog_left_grid_r ul li span{ 
	padding-right:0.6em;
}
.w3agile_blog_left_grid_r ul li a{
	color:#ccc;
	text-decoration:none;
}
.w3agile_blog_left_grid_r ul li a:hover{
	color:#673ab7;
}
.w3agile_blog_left_grid_sub1{
	position: relative;
    margin: 2em 0;
	min-height: 140px;
}
i.fa.fa-quote-left {
    font-size: 4em;
    color: rgba(103, 58, 183, 0.21);
}
.w3agile_blog_left_grid_sub1_pos{
	position:absolute;
	top:0%;
	left:0%;
}
.w3agile_blog_left_grid_sub1_pos p{
	color:#999;
	line-height:2em;
}
.agileits_more1 a{
	color: #212121 !important;
    margin: 0 !important;
}
.w3agile_blog_left_grid:nth-child(2){
	margin:3em 0;
} 
.agileits_search input[type="email"]{
	outline:none;
	border:1px solid #999;
	border-right: none;
	background:none;
	color:#212121;
	padding:10px;
	width:80%;
	float:left;
	font-size:14px;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.agileits_search input[type="submit"] {
    outline: none;
    border: 1px solid #673ab7;
    background: #673ab7;
    color: #ffffff;
    padding: 10px 0;
    width: 20%;
    font-size: 1em;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.agileits_search input[type="submit"]:hover {
    background: transparent;
    color: #673ab7;
}
.agile_author,.w3ls_recent_posts{
	margin:3em 0;
}
.agile_author h3, .wthree_faq h3, .agileits_comment h3, .w3ls_recent_posts h3, .w3l_categories h3, .agileinfo_calender h3 {
    text-transform: capitalize;
    font-size: 1.8em;
    color: #673ab7;
    padding-bottom: .5em;
    border-bottom: 1px solid #ecebeb;
}
.agile_author_grid{
	padding:2.5em 1.5em 1.5em;
	background:#f5f5f5;
	position:relative;
	margin: 6em 0 0;
}
.agile_author_grid p{
	color:#999;
	line-height:2em;
	text-align:center;
}
.agile_author_grid_pos{
	position: absolute;
    top: -38%;
    left: 40%;
    width: 80px;
    height: 80px;
}
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:10px 35px;
}
.panel-title {
    font-size: 1.1em;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border-color: #FFF;
    color: #fff;
    background-color:#8D8D8D;
}
.panel-body {
    padding: 1.5em;
    font-size: 1em;
    line-height: 2em;
    color: #999;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.wthree_panel{
	margin:2em 0 0;
}
.agileits_recent_posts_gridl {
    float: left;
    width: 30%;
}
.agileits_recent_posts_gridr {
    float: right;
    width: 65%;
}
.agileits_recent_posts_gridr h4 a {
    font-size: 1em;
    text-decoration: none;
    color: #212121;
    line-height: 1.5em;
    text-transform: capitalize;
}
.agileits_recent_posts_gridr h4 a:hover {
    color: #999;
}
.agileits_recent_posts_gridr ul li {
    display: inline-block;
    margin-right: 1.5em;
    color: #999;
	font-size: 0.9em;
}
.agileits_recent_posts_gridr ul li:last-child{
	margin:0;
}
.agileits_recent_posts_gridr ul li span {
    padding-right: .5em;
    color:#673ab7;
	font-size: .95em;
}
.agileits_recent_posts_gridr ul li a {
    color: #999;
    text-decoration: none;
}
.agileits_recent_posts_gridr ul li a:hover {
    color: #ff9900;
}
.agileits_recent_posts_gridr h4 {
    margin: 0 0 0.5em 0;
}
.agileits_recent_posts_grid:nth-child(2) {
    margin: 2em 0 1em;
}
.agileits_recent_posts_grid:nth-child(3){
	margin: 0em 0 1em;
}
.w3l_categories ul{
	padding:2em 0 0;
}
.w3l_categories ul li{
	display:block;
	margin-bottom:1.5em;
}
.w3l_categories ul li:last-child{
	margin:0;
}
.w3l_categories ul li a{
	color:#212121;
	text-transform:capitalize;
	text-decoration:none;
}
.w3l_categories ul li a:hover{
	color:#673ab7;
}
.w3l_categories ul li a span{
	padding-right:1em;
	color:#673ab7;
}
.agileinfo_calender_grid{
	margin:2em 0 0;
}
.wthree_faq,.agileits_comment{
	margin:3em 0 0;
}
/*-- //blog --*/
/*-- single --*/
.w3agile_blog_left_grid_sub2 p{
	color:#212121;
	line-height:2em;
	font-style:italic;
}
.w3agile_blog_left_grid1_left ul li{
	color:#212121;
	margin-top: 1em;
	display:block;
	text-transform:uppercase;
}
.w3agile_blog_left_grid1_left ul li span{
	color:#673ab7;
	padding-right:1.5em;
}
.w3agile_blog_left_grid1{
	margin:3em 0;
}
.w3agile_blog_left_grid1_left {
    padding-left: 0;
}
.w3agile_blog_left_grid1_left ul li:last-child{
	margin-bottom:0;
}
.w3agile_blog_left_grid1_w3:nth-child(2){
	margin:2em 0 0;
} 
.agileits_comment_grid{
	margin:2em 0 0;
}
.agileits_comment_grid_left{
	padding-left:0;
}
.agileits_comment_grid_left input[type="text"],.agileits_comment_grid_left input[type="email"],.agileits_comment_grid_left textarea{
	outline:none;
	background:#f5f5f5;
	padding:10px;
	font-size:1em;
	color:#212121;
	width:100%;
	border:1px solid #DDD;
}
.w3_in {
    margin-top: 2em;
}
.agileits_comment_grid_left input[type="email"]{
	margin-bottom:2em;
}
.agileits_comment_grid_left label{
	font-size: 14px;
    color: #212121;
    margin-bottom: 1em;
    font-weight: 500; 
}
.agileits_comment_grid_left label span{
	color:#673ab7;
}
.agileits_comment_grid_left textarea{
	min-height:252px;
	resize:none;
}
.agileits_comment_grid input[type="submit"]{
	outline:none;
	background:#673ab7;
	padding:10px 0;
	font-size:1em;
	color:#fff;
	width:47%;
	border:none;
	text-transform:uppercase;
	margin:2em 0 0;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.agileits_comment_grid input[type="submit"]:hover{
	background:#212121; 
}
/*-- //single --*/
/*-- responsive-design --*/ 
@media(max-width:1080px){
.banner-text {
    padding: 13em 0;
    text-align: center;
}
.w3about-agileinfo p { 
    font-size: 1.2em;
    letter-spacing: 1px;
}
img.w3slid-img { 
    left: 40px;
}
h3.w3ls-title {
    font-size: 3.6em; 
}
.datew3-agileits {
    padding: 0;
}
.datew3-agileits-info h5 { 
    margin: 0.5em 0 0;
}
.news-right {
    padding-left: 1em;
}
.achievesw3-agile { 
    padding: 1.5em 1em; 
}
.subscribe form {
    width: 55%; 
}
.w3_in {
    margin-top: 1em;
}
.w3ls-hover .captionw3-agile { 
    padding: 2em 0;
}
.wthree_team_grid { 
    padding: 0 .5em;
}
.group1 {
    top: 41%;
}
.hovereffect p {
    width: 55%; 
}
}
@media(max-width:1024px){
.agile-logo h2 a { 
    line-height: 1.6em; 
}
.agile-logo h2 {
    font-size: 3.8em;
}
.w3lsnav-right nav { 
    line-height: 40px;
}
.w3lsnav-right i.fa { 
    padding: 1.3em 0 0;
}
img.w3slid-img { 
    top: -41px;
    width: 269px; 
}
.welcome-agileits, .w3about, .news, .subscribe, .about, .team, .gallery, .codes, .contact, .single, .blog {
    padding: 4em 0;
}
.about-w3bnr-text .banner-w3lstext h1{
    font-size: 4em;
}
.banner-text.about-w3bnr-text {
    padding: 3em 0;
}
.w3ls-hover  .captionw3-agile.w3big-caption {
    padding: 10em 0;
}
.w3ls-hover .captionw3-agile { 
    padding: 2em 0;
}
.w3ls-hover .captionw3-agile span { 
    margin-top: 1%; 
}
.address-left { 
    left: 32%;
}
.map-agileits-w3layouts iframe { 
    height: 300px; 
}
.address-left { 
    padding: 2em;
    left: 33%;
    top: 10%; 
}
.subscribe h4 {
    font-size: 2.6em; 
}
.subscribe form { 
    margin: 2em auto 1.5em;
}
.subscribe p {
    width: 55%; 
}
}
@media(max-width:991px){
.banner-w3lstext p { 
    width: 75%; 
}
.banner-w3lstext h3,.banner-w3lstext h1 {
    font-size: 6em; 
}
.banner-text {
    padding: 11em 0; 
}
.news-right.agileits-w3layouts {
    margin-top: 3em;
}
.subscribe form {
    width: 75%;
}
.about-w3grids h3 {
    font-size: 2.2em; 
}
.about-w3grids img.img-responsive { 
    width: 200px;
    margin: 0 auto;
}
.stats-img i.fa {
    font-size: 4.5em; 
}
.stats-grid { 
    padding: 3em 1em;
}
.wthree_team_grids {
    width: 68%;
    margin: 0 auto;
}
.hovereffect h6 { 
    padding: 1.5em; 
    top: 89% !important;
}
.wthree_team_grid:nth-child(2) {
    margin-bottom: 2em;
}
.wthree_team_grid h4 {
    font-size: 1.8em; 
    margin: 0.6em 0 0;
}
.w3ls-hover .captionw3-agile h5 { 
    font-size: 2em; 
}
.w3ls-hover .captionw3-agile span { 
    font-size: 12px; 
    padding: 6px 13px; 
}
.w3ls-hover .captionw3-agile.w3big-caption {
    padding: 7em 0;
}
.w3ls-hover .captionw3-agile {
    padding: 1.5em 0;
}
.about-w3bnr-text .banner-w3lstext h1{
    font-size: 3.5em;
} 
.contact-form {
    margin-top: 2em;
}
.agileits_comment_grid input[type="submit"] { 
    margin: 1em 0 0; 
}
.agileits_search {
    margin-top: 3em;
}
.agile_author_grid_pos { 
    top: -58%;
    left: 43%; 
}
}
@media(max-width:800px){
.agile-logo h2 {
    font-size: 3.2em;
}
.agile-logo h2 a {
    line-height: 1.9em;
}
.w3lsnav-right nav {
    line-height: 35px;
    font-size: 1.1em;
}
.w3lsnav-right i.fa {
    padding: 1.6em 0 0;
}
.w3about-agileinfo p {
    font-size: 1.1em; 
}
img.w3slid-img {
    top: 24px;
    width: 205px;
    left: 12px;
}
}
@media(max-width:768px){
.banner-w3lstext h5 {
    font-size: 2em; 
}
.banner-text.about-w3bnr-text {
    padding: 2em 0;
}
}
@media(max-width:767px){ 
.agileheader {
    padding: 1.5em 1em 0;
}
.agile-hdleft {
    margin: 0;
    float: left;
}
.agileits-hdright{
    margin: 0;
    float: right;
} 
.agile-logo { 
    float: left;
	width: 30%;
}
.w3lsnav-right {
    margin: 0;
    width: 100%;
}
.welcome-agileits, .w3about, .news, .subscribe, .about, .team, .gallery, .codes, .contact, .single, .blog {
    padding: 3em 0;
}
}
@media(max-width:736px){
.welcome-wthreegrid:nth-child(2){
    margin: 2em 0;
}
.welcome-wthreegrid p{
	width:80%;
	margin:0 auto;
}
h3.w3ls-title {
    font-size: 3.2em;
}
.subscribe h4 {
    font-size: 2.4em;
}
.subscribe p {
    width: 75%;
}
.banner-w3lstext h3,.banner-w3lstext h1 {
    font-size: 5em;
}
.stats-grid {
    padding: 2em 1em;
}
.stats-img i.fa {
    font-size: 3.5em;
}
.numscroller { 
    margin: 0.6em 0 .2em; 
}
.wthree_team_grids {
    width: 89%; 
}
.gallery-wthree-grids {
    margin-top: 1.1em;
    padding: 0 .5em;
}
.w3ls-hover.gallery-w3grid-btm {
    margin-top: 1em;
}
.group2 {
    top: 55%;
}
.group1 {
    top: 43%;
}
}
@media(max-width:667px){
.banner-w3lstext h5 {
    font-size: 1.6em;
}
.banner-w3lstext h3,.banner-w3lstext h1 {
    font-size: 4.5em;
}
.banner-w3lstext p {
    width: 80%;
}
.subscribe form {
    width: 83%;
}
.w3agile_blog_left_grid1_left ul li span { 
    padding-right: 0.5em;
}
.wthree_team_grids {
    width: 99%;
}
.w3ls-hover .captionw3-agile.w3big-caption {
    padding: 6em 0;
}
.about-w3bnr-text .banner-w3lstext h1{
    font-size: 3em;
}
.agileits_comment_grid_left input[type="email"] {
    margin-bottom: 1em;
}
}
@media(max-width:640px){
.banner-text {
    padding: 8em 0;
}
.subscribe form {
    width: 87%;
}
.w3agile_blog_left {
    padding: 0;
}
.w3agile_blog_left_grid1_right.w3layouts_recent_grid {
    padding-left: 0;
}
}
@media(max-width:600px){
.subscribe input[type="email"] {
    width: 83%; 
}
.address-left h4 {
    font-size: 1.8em; 
}
.map-agileits-w3layouts iframe {
    height: 280px;
} 
.address-left {
    padding: 1.5em;
    left: 21%; 
}
.about-w3grids h4 {
    font-size: 1.2em; 
    letter-spacing: 1px; 
}
.wthree_team_grids {
    width: 100%;
}
.wthree_team_grid { 
    padding: .5em;
}
.hovereffect h6 {
    padding: 1em;
    top: 92% !important;
}
.w3ls_services_grids {
    padding-left: 0;
}
.w3ls_services {
    margin-top: 1.5em;
}
.wthree_team_grid h4 {
    font-size: 1.6em; 
}
.about-w3bnr-text .banner-w3lstext h1{
    font-size: 2.5em;
}
.w3ls-hover .captionw3-agile h5 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.w3ls-hover .captionw3-agile span {
    font-size: 10px;
    padding: 3px 10px;
}
.w3ls-hover .captionw3-agile.w3big-caption {
    padding: 5em 0;
}
.w3ls-hover .captionw3-agile span {
    font-size: 10px;
    padding: 4px 10px;
}
.w3lsnav-right ul.nav1 li a {
    font-size: 0.8em; 
}
.w3ls-address h4 {
    font-size: 2em; 
} 
}
@media(max-width:568px){
.about-w3bnr-text .banner-w3lstext h1{
    font-size: 2em;
}
.agile-logo h2 {
    font-size: 2.5em;
} 
.w3lsnav-right nav { 
    font-size: 1em;
}
.agile-logo h2 a {
    line-height: 2.3em;
    letter-spacing: 3px;
}
.agile-logo h2 a:hover {
    letter-spacing: 5px;
}
a.w3layouts-more { 
    font-size: 1em; 
}
.w3about-agileinfo p {
    font-size: 1em;
    letter-spacing: 0px;
    width: 90%;
}
img.w3slid-img {
    top: 124px;
    width: 155px; 
}
.news-w3row {
    padding: 0;
}
.w3agile_blog_left_grid_sub1 { 
    min-height: 160px;
}
.w3agile_blog_left_grid1_left ,.w3agile_blog_left_grid1_right{
    padding: 0;
    float: none;
    width: 100%;
}
.w3agile_blog_left_grid1_right {
    margin-top: 1em;
}
.agileits_comment_grid_left textarea {
    min-height: 150px; 
}
.agileits_comment_grid input[type="submit"] { 
    width: 35%;
}
.agile_author_grid_pos {
    top: -45%; 
}
.subscribe p {
    width: 85%;
}
.about-w3grids h3 {
    font-size: 2em;
}
.hovereffect p {
    width: inherit; 
}
.w3ls-hover .captionw3-agile {
    padding: 0.8em 0;
}
}
@media(max-width:480px){
.agileheader {
    padding: 1.5em 0 0;
}
.agileheader p {
    font-size: 1.1em; 
    letter-spacing: 1px;
} 
.social-icon a {
    font-size: 1em; 
    margin: 0 .1em; 
    width: 30px;
    height: 30px; 
}
.banner-w3lstext h3,.banner-w3lstext h1 {
    font-size: 3.5em;
}
.agile-logo { 
    width: 25%;
}
.agile-logo h2 {
    font-size: 2em;
}
.agile-logo h2 a {
    line-height: 3.2em; 
}
.welcome-wthreegrid p {
    width: 100%; 
}
.w3about-agileinfo p { 
    width: 100%;
}
h3.w3ls-title {
    font-size: 2.8em;
}
.datew3-agileits-info h5 {
    font-size: 1.2em; 
}
.datew3-agileits-info h6 {
    font-size: 1em; 
    margin-top: 0.5em; 
}
.datew3-agileits-info {
    padding-left: 1em;
}
.subscribe input[type="email"] {
    width: 78%;
}
.subscribe p {
    width: 100%;
}
.w3ls_services_grids {
    padding: 0;
    width: 100%;
    float: none;
}
.gallery-wthree-grids { 
    float: none;
    width: 100%;
}
.w3ls-hover .captionw3-agile,.w3ls-hover .captionw3-agile.w3big-caption {
    padding: 6.5em 0;
}
.w3agile_blog_left_grid_l {
    float: none;
    margin: 0 auto;
}
.w3agile_blog_left_grid_r {
    float: none;
    width: 100%;
    margin: 1em 0;
}
.w3ls-address p.cnt-p {
    width: 100%;
}
}
@media(max-width:414px){
.agileheader p {
    font-size: 1em; 
}
.banner-w3lstext h5 {
    font-size: 1.2em;
}
.banner-w3lstext h3,.banner-w3lstext h1 {
    font-size: 3em;
}
.banner-text {
    padding: 5em 0;
}
.agile-logo {
    width: 100%;
    float: none;
}
.agile-logo h2 a {
    line-height: 2.2em;
    height: inherit;
}
.w3lsnav-right nav ul.nav1 { 
    width: 28%;
}
.welcome-agileits, .w3about, .news, .subscribe, .about, .team, .gallery, .codes, .contact, .single, .blog {
    padding: 2em 0;
}
.welcome-wthreegrid img.img-responsive { 
    width: 200px;
}
a.w3layouts-more { 
    padding: .5em 1.5em;
    margin-top: 1em; 
}
img.w3slid-img {
    top: 142px;
    width: 123px;
}
h3.w3ls-title {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
.datew3-agileits-info p {
    margin: 0.5em 0 0;
}
p {
    font-size: 0.9em; 
}
.datew3-agileits-info h5 {
    margin: 0;
}
.news-right h4 { 
    font-size: 2em; 
    margin-bottom: 0.5em;
}
.achievesw3-agile {
    padding: 0.5em 1em;
}
.achievesw3-agile ul li a {
    font-size: 0.9em; 
}
.address-left ul li { 
    font-size: 0.9em; 
}
.address-left { 
	left: 11%;
    -webkit-box-shadow: 0px 0px 8px 5px rgb(191, 191, 191);
    -moz-box-shadow: 0px 0px 8px 5px rgb(191, 191, 191);
    box-shadow: 0px 0px 8px 5px rgb(191, 191, 191);
}
.map-agileits-w3layouts iframe {
    height: 265px;
}
.subscribe h4 {
    font-size: 1.8em;
}
.subscribe form {
    width: 97%;
}
.subscribe input[type="email"] { 
    padding: .8em 1em;
    font-size: 0.9em;
}
.subscribe input[type="submit"] { 
    font-size: 0.9em; 
    padding: .8em 1.5em; 
}
.about-w3grids {
    padding: 0;
}
.about-w3grids h4 {
    font-size: 1em; 
    margin: 1.5em 0 .5em;
}
.w3ls_services_grids ul li { 
    font-size: 0.9em; 
}
.stats-img i.fa {
    font-size: 3em;
}
.numscroller {
    font-size: 1.5em;  
    letter-spacing: 3px;
}
.stats-info p {
    font-size: 1.1em; 
}
.stats-grid {
    padding: 1.5em 1em;
}
.wthree_team_grid {
    padding:0 4em;
    width: 100%;
}
.wthree_team_grid:nth-child(2) {
    margin: 1em 0;
}
.wthree_team_grid:nth-child(4) {
    margin-top: 1em;
}
.w3ls-hover .captionw3-agile, .w3ls-hover .captionw3-agile.w3big-caption {
    padding: 5.5em 0;
}
.w3ls-address {
    padding: 0;
}
.contact-form {
    margin-top: 1em; 
}
.contact input[type="text"], .contact input[type="email"] { 
    font-size: 0.9em; 
    margin-bottom: 1em; 
}
.contact textarea, .contact textarea { 
    font-size: 0.9em; 
    min-height: 9em; 
}
.contact input[type="submit"] { 
    padding: 0.6em 2em; 
}
.w3agile_blog_left_grid_r ul li { 
    font-size: 0.9em;
}
.w3agile_blog_left_grid_r ul li i {
    padding: 0 1em;
}
.w3agile_blog_left_grid_sub1 {
    min-height: 190px;
}
.w3agile_blog_left_grid1_left ul li { 
    font-size: .9em;
}
.w3agile_blog_left_grid1 {
    margin: 2em 0;
}
.agileits_comment_grid_left label {
    font-size: .9em; 
    margin-bottom: 0.5em; 
}
.agileits_comment_grid_left input[type="text"], .agileits_comment_grid_left input[type="email"], .agileits_comment_grid_left textarea {
    padding: 8px;
    font-size: .9em; 
}
.agileits_comment_grid_left textarea {
    min-height: 100px;
}
.agileits_comment_grid input[type="submit"] { 
    font-size: .9em; 
}
.contact-form { 
    padding: 0;
}
.banner-w3lstext p {
    font-size: 0.9em; 
}
}
@media(max-width:384px){
.w3ls-hover .captionw3-agile, .w3ls-hover .captionw3-agile.w3big-caption {
    padding: 4.5em 0;
}
.agile_author_grid_pos { 
    left: 37%;
}
.agileits_comment_grid_left {
    padding: 0;
}
.welcome-wthreegrid h4 {
    font-size: 1.6em; 
}
.about-w3grids h3 {
    font-size: 1.8em;
}
.w3ls-address h4 {
    font-size: 1.8em;
}
.banner-text.about-w3bnr-text {
    padding: 1em 0;
}
.about-w3bnr-text .banner-w3lstext h1{
    font-size: 1.5em;
}
.w3lsnav-right i.fa {
    padding: 1.8em 0 0;
}
.contact input[type="submit"] { 
    font-size: 0.9em; 
}
}
@media(max-width:375px){
a.w3layouts-more {
    font-size: 0.9em;
}
.w3agile_blog_left_grid_sub1 {
    min-height: 256px;
	margin: 1em 0;
}
.datew3-agileits {
    float: none;
    margin: 0 auto 1em;
    width: 50%;
}
.datew3-agileits-info {
    padding: 0;
    float: none;
    width: 100%;
}
.datew3-agileits.datew3-agileits-fltrt {
    float: none;
}
.panel-body {
    padding: 1em;
    font-size: 0.9em; 
}
.wthree_team_grid {
    padding: 0 1em; 
}
.w3ls-hover .captionw3-agile, .w3ls-hover .captionw3-agile.w3big-caption {
    padding: 3.5em 0;
}
.hovereffect h6 { 
    top: 93% !important;
}
}
@media(max-width:320px){
.agileheader {
    padding: 1em 0 0;
}
.agileheader p {
    font-size: 0.9em;
    letter-spacing: 0px;
}
.social-icon a {
    font-size: 0.9em; 
    width: 22px;
    height: 22px;
    line-height: 1.6em;
}
.banner-w3lstext h3,.banner-w3lstext h1 {
    font-size: 2.8em;
}
.banner-w3lstext h5 {
    font-size: 1.1em;
    letter-spacing: 1px;
}
.banner-w3lstext p {
    width: 100%;
}
.banner-text {
    padding: 4em 0;
}
.w3lsnav-right nav {
    font-size: 0.9em;
}
.w3lsnav-right i.fa {
    padding: 2.1em 0 0;
}
.welcome-wthreegrid { 
    padding: 0;
}
.w3about-agileinfo p {
    font-size: 0.9em; 
}
img.w3slid-img {
    top: 171px;
    width: 95px;
} 
.news-right.agileits-w3layouts {
    margin-top: 2em;
    padding: 0;
}
.news-right h4 {
    font-size: 1.8em; 
}
.address-left {
    left: 2%; 
}
.subscribe h4 {
    font-size: 1.6em;
}
}
/*-- //responsive-design --*/