/* ----------------------------------- fonts --------------------------------------- */
@font-face {
  font-family: 'font_family';
  /* project id 1015847 */
  src: url('//at.alicdn.com/t/font_1015847_9291vi7k7q.eot');
  src: url('//at.alicdn.com/t/font_1015847_9291vi7k7q.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1015847_9291vi7k7q.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1015847_9291vi7k7q.woff') format('woff'),
    url('//at.alicdn.com/t/font_1015847_9291vi7k7q.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1015847_9291vi7k7q.svg#font_family') format('svg');
}
@font-face {
  font-family: 'digitgraphics-bold';
  src: url("assets/fonts/01digitgraphicsbold.ttf");
}

/* ----------------------------------- Common Styles ------------------------------------- */
.fn-width-100p {width: 100%;}

/* ----------------------------------- Start Override ant styles ------------------------------------- */
/* ------------------ input ------------------ */
.ant-input, .ant-input-group-addon {border: none !important;}

/* ------------------ modal ------------------ */
.ant-modal-header {
  border: none !important;
  padding: 18px 24px !important;
}

.ant-modal-title {
  text-align: center;
  font-size: 21px !important;
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
  border-bottom: none!important;
  color: white!important;
}
.ant-menu-horizontal.ant-menu-sub, .ant-menu-vertical.ant-menu-sub, .ant-menu-vertical-left.ant-menu-sub, .ant-menu-vertical-right.ant-menu-sub{
  min-width: auto!important;
}
.ant-menu-submenu-popup ul li:hover{
  color:white!important;
  background-color: #8181f7!important;
}
.ant-menu-submenu-popup ul li:active{
  color:white!important;
  background-color: #8181f7!important;
}
.ant-menu-submenu-popup ul li:focus{
  color:white!important;
  background-color: #8181f7!important;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  color:white!important;
  background-color: #8181f7!important;
}
.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-vertical-left .ant-menu-item:not(:last-child), .ant-menu-vertical-right .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child){
  margin-bottom: 0!important;
  margin-top: 0!important;
}
.ant-menu-vertical > .ant-menu-item{
  margin-bottom: 0!important;
  margin-top: 0!important;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link{
  color: white!important;
}
.ant-pagination-item-active{
  border: none!important;
  background-color: #0D0D3A!important;
  color: white!important;
}
.ant-pagination-item-active a{
  color: white!important;
}
.ant-pagination-disabled a, .ant-pagination-disabled:hover a, .ant-pagination-disabled:focus a, .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link, .ant-pagination-disabled:focus .ant-pagination-item-link{
  border: none!important;
  background-color: #46469B!important;
}

.ant-select-dropdown-menu-item-selected, .ant-select-dropdown-menu-item-selected:hover {
  background-color: #8181f7 !important;
}

.ant-select-dropdown-menu-item-active {
  background-color: #8181f7 !important;
}

.ant-select-dropdown-menu-item img {
  width: 20px !important;
  margin-right: 10px !important;
}

.ant-popover-inner {
  background-color: #0D0D3A !important;
}

.ant-popover-message .anticon-exclamation-circle {
  display: none;
}

.ant-popover-buttons .ant-btn:nth-child(1) {
  display: none !important;
}

.ant-popover-message {
  padding: 30px 0 12px !important;
}

.ant-popover-placement-bottomRight>.ant-popover-content>.ant-popover-arrow {
  border-top-color: #0d0d3a !important;
  border-left-color: #0d0d3a !important;
}
.ant-popover-buttons {
  display: none;
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td{
  background: #985eff!important;
}
.ant-calendar-range .ant-calendar-input, .ant-calendar-range .ant-calendar-time-picker-input{
  background-color: transparent!important;
  color: #1890ff!important;
}
.ant-calendar-range .ant-calendar-in-range-cell:before{
  background-color: #985eff!important;
}
.ant-calendar-date:hover{
  background: #1890ff!important;
}

/* ----------------------------------- End Override ant styles --------------------------------------- */

/* ----------------------------------- Public --------------------------------------- */
body {margin: 0;background-color: #181847 !important;}
#niuniu {width: 1400px;margin: auto;}
main {margin-top: 30px;}
.gameintro_width {width: 100% !important;}
.gameintro_width #header {width: 1400px;margin: auto;}
.loading_width {width: 100% !important;}
.loading_width header{display: none;}
.loading_width #header {display: none;}
.loading_width main {margin-top: 0;}
.clearfix {clear: both;}
.red-color {color: #EF5261 !important;}
@media (max-width: 1799px) {#niuniu {width: 1300px;}}
@media (max-width: 1649px) {#niuniu {width: 1230px;}}
@media (max-width: 1550px) {
  .gameintro_width #header {width: 1200px;}
  main {margin-top: 30px;}
}
@media (max-width: 1549px) {#niuniu {width: 1100px;}}
@media (max-width: 1364px) {
  #niuniu {width: 1000px;}
  .gameintro_width #header {width: 1000px;}
}
@media (max-width: 1289px) {#niuniu {width: 900px;}}
@media (max-width: 1149px) {main {margin-top: 20px;}}
@media (max-width: 1190px) {.gameintro_width #header {width: 900px;}}
@media (max-width: 1149px) {
  #niuniu {width: 750px;}
  .ant-popover-message {padding: 20px 0 12px !important;}
}
@media (max-width: 1050px) {.gameintro_width #header {width: 750px;}}
@media (max-width: 830px) {
  #niuniu {width: 600px;}
  main {margin: 0px;padding-top: 7px;}
  .loading_width main {padding-top: 0px;}
}
@media (max-width: 767px) {
  #niuniu {width: 550px;}
  main {margin: 0px;padding-top: 20px;}
  .ant-modal {margin: auto !important;}
}
@media (max-width: 670px) {
  #niuniu {width: 530px;}
  main {padding-top: 10px;}
}
@media (max-width: 580px) {
  #niuniu {width: 420px;}
}


/* ----------------------------------- SlideOutPanel------------------------------------- */
/* ---------- back-btn ----------*/
#SlideOutPanel .back-btn {
  top: 10%;
  position: fixed;
  left: 0;
  height: 50px;
  width: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #22244b;
  border-radius: 0px 10px 10px 0px;
  line-height: 50px;
}
#SlideOutPanel .back-btn i {font-size: 1.5em;color: white;}

/* ---------- game-role-btn----------*/
#SlideOutPanel .game-role-btn {
  top: 10%;
  position: fixed;
  right: 0;
  height: 50px;
  width: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #3a3d82;
  border-radius: 10px 0px 0px 10px;
  line-height: 58px;
}
#SlideOutPanel .game-role-btn i {font-size: 1.8em;color: white;}

/* ---------- PaihangbangPanel ----------*/
#slideOut {
  position: fixed;
  width: 400px;
  height: 800px;
  top: 30px;
  right: -400px;
  /* Animation  */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.showSlideOut {right: 0px !important;}
.slideOutTab {
  top: 30%;
  position: absolute;
  left: -40px;
  height: 200px;
  width: 40px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #2a2a6b;
  border-radius: 15px 0px 0px 15px
}
.slideOutTab .right-title {color: white;}
.slideOutTab div {
  text-align: center;
  position: relative;
  right: 70px;
  top: 90px;
  background: #2a2a6b;
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}
/* ----------------------------------- modal-body------------------------------------- */
.modal-body {
  height: 100vh;
  background: url("assets/images/svg/background/Table.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #985EFF;*/
  top: 10%;
  position: absolute;
  width: 100%;
  color: white;
  padding: 20px;
  border-radius: 20px 0px 20px 0px;
  overflow: auto;
}
.modal-body h3 {color: white;font-weight: bold;font-size: 1.5em;}
.modal-body .list-content {margin-top: 20px;}
.modal-body .list-content label {width: 100%;}
.modal-body .list-content label p {
  width: 33.33%;
  float: left;
  font-size: 1.2em;
  font-family: 'digitgraphics-bold';
}
.modal-body .list-content ul {list-style: none;padding: 0;margin-top: 10px;margin-bottom: 100px;}
.modal-body .list-content ul li {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.modal-body .list-content ul li span {
  width: 33.33%;
  float: left;
  color: black;
  font-size: 1.1em;
  font-family: 'Helvetica-Medium';
  line-height: 25px
}
.modal-body .list-content ul li span img {width: 33px;}
@media (max-width: 1149px) {
  .slideOutTab {top: 15%;}
  #SlideOutPanel .game-role-btn {top: 5%;}
}
@media (max-width: 830px) {
  #slideOut {width: 300px;right: -300px;}
  #SlideOutPanel .back-btn {width: 35px;}
  .slideOutTab div {right: 35px;top: 65px;width: 107px;}
  .slideOutTab {left: -35px;width: 35px;height: 160px;top: 13%;}
  .modal-body {padding: 10px;}
  .modal-body .list-content label p {margin-bottom: 0px;font-size: 1em;}
  .modal-body h3 {margin-bottom: 0px;}
  .modal-body .list-content {margin-top: 10px;}
  .modal-body .list-content ul li {padding: 5px;}
  .modal-body .list-content ul li span {font-size: .9em;}
  .modal-body h3 {font-size: 1.2em;}
}
@media (max-width: 767px) {
  #slideOut {width: 300px;right: -300px;}
  .slideOutTab div {right: 35px;top: 65px;width: 107px;}
  .slideOutTab {left: -35px;width: 35px; height: 160px;top: 12%;}
}

/* ---------- ZhoushituPanel----------*/
#slideOut2 {
  position: fixed;
  width: 400px;
  height: 800px;
  top: 30px;
  left: -400px;
  /* Animation  */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.showSlideOut2 {left: 0px !important;}
.slideOutTab2 {
  top: 30%;
  position: absolute;
  right: -40px;
  height: 200px;
  width: 40px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #2a2a6b;
  border-radius: 0px 15px 15px 0px
}
.slideOutTab2 .right-title {color: white;}
.slideOutTab2 div {
  text-align: center;
  position: relative;
  right: 70px;
  top: 90px;
  background: #2a2a6b;
  width: 180px;
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  writing-mode: lr-tb;
}

/* ---------- modal-body2----------*/
.modal-body2 h3 {color: white;font-weight: bold;ont-size: 1.5em;}
.modal-body2 {
  height: 100vh;
  background: url("assets/images/svg/background/Table.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-color: #985EFF;*/
  top: 10%;
  position: absolute;
  width: 100%;
  padding: 20px;
  border-radius: 0px 20px 0px 20px;
  overflow: auto;
}
.modal-body2 .list-content {margin-top: 20px;}
.modal-body2 .list-content .zoushi-icon {width: 100%;}
.modal-body2 .list-content .zoushi-icon div:nth-child(1) {width: 40%;float: left;}
.modal-body2 .list-content .zoushi-icon div:nth-child(2) {width: 60%;float: left;}
.modal-body2 .list-content .zoushi-icon .href-icon i {font-size: 2em;}
.modal-body2 .list-content .zoushi-icon div span {width: 25%;float: left;}
.modal-body2 .list-content .zoushi-icon div span i {font-size: 2em;}
.modal-body2 .list-content ul {list-style: none;padding: 0;margin-top: 20px;margin-bottom: 100px;}
.modal-body2 .list-content ul li {
  background-color: rgba(255, 255, 255, 0.90);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.modal-body2 .list-content ul li span {
  float: left;
  color: black;
  font-size: 1.1em;
  font-family: 'Helvetica-Medium';
  line-height: 25px
}
.modal-body2 .list-content ul li span:nth-child(1) {width: 40%;}
.modal-body2 .list-content ul li span:nth-child(2) {width: 15%;}
.modal-body2 .list-content ul li span:nth-child(3) {width: 15%;}
.modal-body2 .list-content ul li span:nth-child(4) {width: 15%;}
.modal-body2 .list-content ul li span:nth-child(5) {width: 15%;}
.modal-body2 .list-content ul li span img {width: 33px;}

/* ----------------------------------- trend-modal popup ------------------------------------- */
.trend-modal {width: 1200px !important;}
.trend-modal .id-number {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  top: -10px;
  width: 100%;
  font-size: 1.2em;
}
.trend-modal .trend-content ul {list-style: none;padding: 0;padding: 20px 60px;}
.trend-modal .trend-content ul li {width: 20%;float: left;}
.trend-modal .trend-content ul li i {font-size: 2em;padding-top: 12px;font-size: 2.5em;padding-left: 10px;}
.trend-modal .trend-content .user-trend {padding: 0px 10px;}
.trend-modal .trend-content .user-trend .user {
  background: url("assets/images/svg/icon/Host_Icon.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  float: left;
}
.trend-modal .trend-content .user-trend p {margin-bottom: 0;float: left;padding-top: 20px;margin-left: 10px;font-size: 1.5em;}
.trend-modal .trend-content ul li .trend-result {padding: 10px;margin-top: 5px;}
.trend-modal .trend-content ul li .trend-result .result-content {
  background: url("assets/images/svg/background/Gradient.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 8px;
}
.trend-modal .trend-content ul li .trend-result .game-type span {
  width: 20%;
  float: left;
  text-align: center;
  font-size: 2.5em;
}
.trend-modal .trend-content ul li .trend-result .game-type:nth-child(2) span {font-size: 1.5em;padding-bottom: 10px;}
.trend-modal .trend-verify form {width: 700px;margin: auto;}
.trend-modal .trend-verify .form-input {margin-bottom: 30px;text-align: center;}
.trend-modal .trend-verify .form-input label {
  width: 30%;
  float: left;
  text-align: right;
  padding-right: 20px;
  font-size: 1.8em;
}
.trend-modal .trend-verify .form-input .textarea-input {
  width: 50%;
  float: left;
  background-color: rgba(255, 255, 255, 0.18);
  color: white;
  border: none;
}
.trend-modal .trend-verify .form-input .ant-checkbox-wrapper {width: 20%;float: left;text-align: left;padding-left: 20px;}
.tooltip-i i {
  background-color: rgba(255, 255, 255, 0.18);
  font-size: .6em;
  vertical-align: 2px;
  padding: 3px;
  margin-right: 10px;
  border-radius: 3px;
}
.trend-modal .trend-verify .form-input .ant-btn {background-color: #8383FF;border-color: #8383FF;padding: 0 45px;}
@media (max-width: 1364px) {
  .trend-modal {width: 900px !important;}
  .trend-modal .trend-content ul {padding: 10px 30px;}
  .trend-modal .trend-verify .form-input label {font-size: 1.2em;}
}
@media (max-width: 1149px) {
  .slideOutTab2 {top: 15%;}
  #SlideOutPanel .back-btn {top: 5%;}
}
@media (max-width: 1000px) {
  .trend-modal {width: 700px !important;}
  .trend-modal .trend-content .user-trend .user {width: 40px;height: 40px;}
  .trend-modal .trend-content .user-trend p {font-size: 1em;}
  .trend-modal .trend-content ul li i {font-size: 2em;}
  .trend-modal .trend-content ul {padding: 10px;}
  .trend-modal .trend-content ul li .trend-result .game-type span {font-size: 1.5em;}
  .trend-modal .trend-content ul li .trend-result .game-type:nth-child(2) span {font-size: 1.2em;}
  .trend-modal .trend-content ul li .trend-result {padding: 8px;}
}
@media (max-width: 830px) {
  .slideOutTab2 {right: -35px;width: 35px;height: 160px;top: 13%;}
  #slideOut2 {width: 300px;left: -300px;}
  .slideOutTab2 div {right: 37px;top: 65px;width: 107px;}
  .modal-body2 {padding: 10px;}
  .modal-body2 h3 {margin-bottom: 0px;}
  .modal-body2 .list-content {margin-top: 10px;}
  .modal-body2 .list-content ul {margin-top: 10px;}
  .modal-body2 .list-content ul li {padding: 5px;}
  .modal-body2 .list-content ul li span {font-size: .9em;}
  .modal-body2 h3 {font-size: 1.2em;}
  .modal-body2 .list-content {margin-top: 10px !important;}
  .modal-body2 .list-content .zoushi-icon div span img {width: 30px;}
  .modal-body2 .list-content .zoushi-icon .href-icon img {width: 30px;}
}
@media (max-width: 767px) {
  .slideOutTab2 {right: -35px;width: 35px;height: 160px;top: 12%;}
  #slideOut2 {width: 300px;left: -300px;}
  .slideOutTab2 div {right: 37px;top: 65px;width: 107px;}
  .trend-modal {width: 550px !important;}
  .trend-modal .trend-verify form {width: 500px;}
  /*.trend-modal .ant-modal-body{
    padding: 10px 5px 20px 5px;
  }*/
  .trend-modal .trend-content ul li:nth-child(1) {width: 100%;}
  .trend-modal .trend-content ul li {width: 25%;}
  .trend-modal .trend-content ul li .trend-result .game-type:nth-child(2) span {padding-bottom: 5px;}
  .trend-modal .trend-verify .form-input label {padding-left: 20px;}
}
/* ----------------------------------- phone hide menu ------------------------------------- */
.menu-hide {
  display: block;
  box-sizing: border-box;
  background: #096dd9;
  height: 50px;
  width: 35px;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 10%;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.menu-hide.expanded {width: 550px;}
.span-hide {
  padding: 9px 5px;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: .3s;
  transform: rotateY(0deg);
  float: left;
  margin-top: -10px;
}
.span-hide:nth-of-type(1) {transition-delay: .4s;}
.span-hide:nth-of-type(2) {transition-delay: .5s;}
.span-hide:nth-of-type(3) {transition-delay: .6s;}
.span-hide:nth-of-type(4) {transition-delay: .7s;}
.span-hide.hidden-hide {width: 0;visibility: hidden;opacity: 0;transform: rotateY(90deg);}
.span-hide.hidden-hide:nth-of-type(1) {transition-delay: .3s;}
.span-hide.hidden-hide:nth-of-type(2) {transition-delay: .2s;}
.span-hide.hidden-hide:nth-of-type(3) {transition-delay: .1s;}
.span-hide.hidden-hide:nth-of-type(4) {transition-delay: 0s;}
.span-hide a {color: black;text-decoration: none;font-size: 16.3636363636px;transition: .3s;}
.span-hide a:hover {color: #1D90F5;}
.container-hide {
  position: absolute;
  top: 22.5px;
  right: calc(100% - 49.125px);
  height: 42.75px;
  width: 38.5px;
  transition: 1s;
}
.container-hide.close-hide {right: 0;}
.toggle-hide {position: relative;height: 15px;width: 20px;cursor: pointer;}
.toggle-hide:after, .toggle-hide:before {
  content: '';
  background: white;
  width: 14px;
  height: 3px;
  /*margin: auto;*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.toggle-hide:before {top: -30%;}
.toggle-hide:after {top: 30%;}
.toggle-hide.close-hide:before {transform: rotate(-225deg);top: 0;}
.toggle-hide.close-hide:after {transform: rotate(225deg);top: 0;}
.lang-hide {float: left;}
.lang-hide .lang_i {font-size: 1.5em; vertical-align: middle; padding-right: 3px;}
.lang-hide .ant-select {width: 100% !important;}
.lang-hide .ant-select-selection {background-color: transparent !important;border: none !important;color: white !important;}
.lang-hide .ant-select-arrow {color: white !important;}
.lang-hide .ant-select-selection-selected-value {font-size: .9em;}
.span-hide .rate-view {width: 100%;float: left;}
.span-hide .rate-view .warp {width: 50%;float: left;}
.span-hide .rate-view .warp:nth-child(1) {padding-right: 15px;}
.span-hide .rate-view .warp div {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
  padding: 5px;
  margin: auto;
  line-height: 15px;
  margin-top: -4px;
  color: white;
  font-size: .8em;
}
.span-hide .rate-view .warp div p {padding: 0;margin: 0;color: white;font-size: .8em;}
.span-hide .user-view .ant-select-selection {background-color: transparent !important;border: none !important;color: white !important;}
.span-hide .user-view .ant-select-arrow {color: white !important;}
.span-hide .user-view .ant-select-selection-selected-value {font-size: 1em;}
.span-hide .game-role-hide button {font-size: .9em;background-color: #6c6ce8;border-color: #6c6ce8; padding: 0px 7px;} 
.span-hide .ant-menu {
  text-align: left;
  background-color: #8181f7;
  border-radius: 5px;
  line-height: 32px;
  border-bottom: none;
  margin:0px 10px;
  width: 134px;
  height: 32px
}
.span-hide .ant-menu li{width: 100%;border-bottom: none;}
.span-hide .ant-menu li span i:nth-child(2){float: right!important;padding-top: 10px;}
.span-hide .ant-menu-submenu-title{padding: 0 10px;}
.span-hide .ant-menu-submenu-title:hover{color: white;}
@media (max-width: 1149px) {.menu-hide {top: 5%;}}
@media (min-width: 831px) {.menu-hide {display: none;}}
@media (max-width: 830px) {
  #header {display: none;}
  .game-role-btn {display: none;}
}
