
.popup(@bg, @slogan){
    :global(.ant-modal-content){
        background: url(@bg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        :global(.vic-img){
            width: 100%;
            margin: auto;
            text-align: center;
            margin-top: -50px;
        }

        :global(.slogan){
            background:url(@slogan) center no-repeat;
            background-size: cover;
            display: block;
            width: 365px;
            height: 340px;
            margin:0 auto;
        }

        :global(.detial-win){
            margin-top: -100px;
            width: 100%;
            p {
                font-size: 1.5em;
                color: white;
                font-family: 'Helvetica-Medium';
            }
        }

        :global(.logo-title) {
            position: absolute;
            top: 140px;
            text-align: center;
            width: 100%;
            -ms-transform: rotate(-7deg);
            -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
            color: white;
            font-size: 2em;
            margin:0;
            left:0;
        }
    }
}

.popup_win{
    .popup("@/assets/images/svg/background/PopUp_Bg.svg",'@/assets/images/svg/background/win.svg');
}

.popup_loss{
    .popup("@/assets/images/svg/background/Lose_Bg.svg",'@/assets/images/svg/background/lose.svg');
    :global(.slogan){
        width:364px !important;
        height: 195px !important;
    }

    :global(.logo-title) {top:90px !important;}

    .detial-loss {
        width: 100%;
    }
}