.weather .ant-col{
  padding: 10px;
  color:#fff
}
.card_warpper{
  width: 350px;
  min-width: 350px;
}
.card_warpper .ant-card-head{
  padding: 0px 10px;
}
.card_warpper .ant-card-head-title{
  color:#fff;
  text-transform: capitalize;
}
.card_warpper .ant-card-body{
  padding: 5px 0px;
}
.status{
  text-align: right;
}
.image_weather{
  height: 200px;
}
.weather_card_warp{
  height: 350px!important;
  overflow-x: scroll;
  width: 100%;
  display: flex!important;
  flex-direction: row;
}
.weather .ant-card{
  background: #00000082;
}
.enter_city input{
  width: 100%;
  border: none;
  height: 35px;
  color: #000;
}
.enter{
  color:#fff;
  font-weight: bold;
  font-size: 2em;
  margin-top: 50px;
}
.icon_sty{
  color: #fff!important;
  font-size: 20px;

}

/* .weather_card_warp::-webkit-scrollbar {
  display: none;
}


.weather_card_warp {
  -ms-overflow-style: none;
}
 */
