@import '../screen.less';

@font-face {
  font-family: 'digitgraphics-bold';
  src: url("@/assets/fonts/01digitgraphicsbold.ttf");
}
@font-face {
  font-family: 'digitgraphics-thin';
  src: url("@/assets/fonts/01Digitgraphicsthin.ttf");
}
@font-face {
  font-family: 'digital-7';
  src: url("@/assets/fonts/digital-7.ttf");
}

/* ------------------------ TopInfor -------------------*/
.TopInfor{width: 100%;
  @media @PhoneX{margin-bottom: 0px;}
  .warp{
    &:nth-child(1){width: 25%;float: left;
      @media @PhoneX{width: 30%;}
    }
    &:nth-child(2){width: 50%;float: left;
      @media @PhoneX{width: 40%;}
    }
    &:nth-child(3){width: 25%;float: left;
      @media @PhoneX{width: 30%;}
    }
  }

}

/* ------------------------ MiddleInfor -------------------*/
.MiddleInfor{margin-top: 20px;
  @media @PhoneX{margin-top: 0px;}
  @media @Phone{margin-top: 10px;}
  @media @PhoneS{margin-top: 5px;}
  @media @Phone5{margin-top: 0px;}
}


/* ------------------------ User -------------------*/
.user{
  .user_card{
    position: relative;
    height: 141px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;


    @media @DesktopsL{height: 132px;}
    @media @DesktopsM{height: 120px;}
    @media @LaptopL{height: 120px;}
    @media @LaptopM{height: 115px;}
    @media @LaptopS{height: 101px;}
    @media @LaptopXS{height: 101px;}
    @media @ipadL{height: 85px;}
    @media @ipadS{height: 85px;}
    @media @PhoneX{height: 67px;}
    @media @Phone{height: 67px;}
    @media @PhoneS{height: 63px;}
    @media @Phone5{height: 57px;}

    :local(p){margin: 0px;padding: 0px;width: 80%;text-align: left;font-family: 'digitgraphics-thin';}
    :local(div){margin: 0px;padding: 0px;font-family: 'Microsoft YaHei',@familyFaces;}
    :local(i){width: 20%;text-align: right;font-size: 1.5em;
      @media @Phone5{font-size: 1.2em;}
    }

    .avatar{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      font-size: 4em;
      color: #676a6c;
      margin-top: -50px;

      @media @DesktopsL{margin-right: 10px;}
      @media @DesktopsM{margin-right: 10px;}
      @media @LaptopL{margin-right: 10px;}
      @media @LaptopM{margin-right: 10px;}
      @media @LaptopS{margin-right: 10px;}
      @media @LaptopXS{margin-right: 10px;}
      @media @ipadL{margin-right: 5px;}
      @media @ipadS{margin-right: 5px;}
      @media @PhoneX{margin-right: 3px; margin-top: -30px;}
      @media @Phone{margin-right: 3px; margin-top: -30px;}
      @media @PhoneS{margin-right: 3px; margin-top: -30px;}
      @media @Phone5{margin-right: 3px; margin-top: -30px;}

      :local(img){height: 155px;
        @media @LaptopL{height: 133px;}
        @media @LaptopM{height: 133px;}
        @media @LaptopS{height: 115px;}
        @media @LaptopXS{height: 115px;}
        @media @ipadL{height: 110px;}
        @media @ipadS{height: 110px;}
        @media @PhoneX{height: 85px; padding-top: 22px;margin-right: 5px;}
        @media @Phone{height: 85px; padding-top: 22px;margin-right: 5px;}
        @media @PhoneS{height: 85px; padding-top: 22px;margin-right: 5px;}
        @media @Phone5{height: 70px; padding-top: 20px;margin-right: 2px;}
      }

    }

    .details{
      width: 100%;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 20px;
        word-wrap: break-word;
        color: white;
        text-align: left;
        font-size: 1.5em;
        font-family: 'digitgraphics-bold';

        @media @LaptopXS{font-size: 1em;}
        @media @ipadL{font-size: 1em;}
        @media @ipadS{font-size: 1em;}
        @media @PhoneX{font-size: .9em;}
        @media @Phone{font-size: .9em;}
        @media @PhoneS{font-size: .9em;}
        @media @Phone5{font-size: .9em;}
      }

      .number{
        margin: 0;
        padding: 0;
        color: white;
        display: flex;
        align-items: center;
        margin-top: 5px;
        font-size: 1em;

        @media @DesktopsL{font-size: .9em;}
        @media @DesktopsM{font-size: .9em;}
        @media @LaptopL{font-size: .85em;}
        @media @LaptopM{font-size: .85em;}
        @media @LaptopS{font-size: .85em;}
        @media @LaptopXS{font-size: .7em;}
        @media @ipadL{font-size: .6em;}
        @media @ipadS{font-size: .6em;}
        @media @PhoneX{font-size: .6em;}
        @media @Phone{font-size: 8px;}
        @media @PhoneS{font-size: 8px;margin-top: 2px;}
        @media @Phone5{font-size: 7px;margin-top: 2px;}

        :local(i){margin-right: 5px;}
      }

      .user_up_btn{
        margin: 0;
        padding: 0;
        color: white;
        display: flex;
        align-items: center;
        margin-top: 5px;
        font-size: 1.2em;
        background-color: #985EFF;
        padding: 5px;
        border-radius: 8px;
        cursor: pointer;

        @media @LaptopL{font-size: 1em;}
        @media @LaptopM{font-size: 1em;}
        @media @LaptopS{padding: 2px;font-size: 1em;}
        @media @LaptopXS{padding: 2px;font-size: 1em;}
        @media @ipadL{padding: 2px;font-size: .9em;}
        @media @ipadS{padding: 2px;font-size: .9em;}
        @media @PhoneX{padding: 1px;font-size: .9em;margin-top: 3px;border-radius: 3px;}
        @media @Phone{padding: 1px;font-size: .9em;margin-top: 3px;border-radius: 3px;}
        @media @PhoneS{padding: 1px;font-size: .9em;margin-top: 3px;border-radius: 3px;}
        @media @Phone5{padding: 1px;font-size: .9em;margin-top: 3px;border-radius: 3px;}

        :local(p){
          text-align: center;
          width: 100%;
          margin-left: -30px;
          font-weight: bold;
          font-family: 'Microsoft YaHei',@familyFaces;

          @media @ipadL{margin-left: -20px;}
          @media @ipadS{margin-left: -20px;}
          @media @PhoneX{margin-left: -20px; font-size: 11px;}
          @media @Phone{margin-left: -20px; font-size: 10px;}
          @media @PhoneS{margin-left: -20px; font-size: 10px;}
          @media @Phone5{margin-left: -20px; font-size: 10px;}

        }

      }
      .user_up_btn:hover{background-color: rgba(152, 94, 255, 0.68);}
    }

  }
}

/* ------------------------ jackport -------------------*/
.jackport{
  width: 100%;
  background-color: #FFA45A;
  padding: 10px 3px;
  border-radius: 8px;

  @media @LaptopL{padding: 5px;}
  @media @LaptopM{padding: 5px;}
  @media @LaptopS{padding: 3px 5px;}
  @media @LaptopXS{padding: 3px 5px;}
  @media @ipadL{padding: 3px 5px;line-height: 17px;}
  @media @ipadS{padding: 3px 5px;line-height: 17px;}
  @media @PhoneX{padding: 0px 5px;;line-height: 17px;border-radius: 3px;}
  @media @Phone{padding: 0px 5px;;line-height: 17px;border-radius: 3px;}
  @media @PhoneS{padding: 0px 5px;;line-height: 17px;border-radius: 3px;}
  @media @Phone5{padding: 0px 2px;;line-height: 17px;border-radius: 3px;}

  .warp_content{color: white;font-size: 1.2em;

    @media @LaptopXS{font-size: 1em;}
    @media @PhoneX{font-size: .9em;}
    @media @Phone{font-size: .9em;}
    @media @PhoneS{font-size: .9em;}
    @media @Phone5{font-size: .65em;}

    &:nth-child(1){width: 10%;float: left;}
    &:nth-child(2){width: 20%;float: left;}
    &:nth-child(3){width: 50%;float: left;
      p{text-align: right;}
    }
    &:nth-child(4){width: 20%;float: left;}

  }

  :local(i){text-align: left;font-size: 1.2em;
    @media @LaptopXS{font-size: 1.2em;padding-top: 3px;}
    @media @ipadL{font-size: 1em;padding-top: 3px;}
    @media @ipadS{font-size: 1em;padding-top: 3px;}
    @media @PhoneX{font-size: 1em;padding-top: 3px;padding-top: 2px;}
    @media @Phone{font-size: 1em;padding-top: 3px;padding-top: 2px;}
    @media @PhoneS{font-size: 1em;padding-top: 3px;padding-top: 2px;}
    @media @Phone5{font-size: 1em;padding-top: 3px;padding-top: 5px;}
  }
  :local(p){margin-bottom: 0;font-family: 'digitgraphics-bold';line-height: 25px; font-size: .85em; font-weight: 400;
    @media @DesktopsM{font-size: .8em;}
    @media @LaptopL{font-size: .7em;padding-left: 0px;}
    @media @LaptopM{font-size: .7em;padding-left: 0px;}
    @media @LaptopS{font-size: .6em;padding-left: 0px;}
    @media @LaptopXS{font-size: .6em;padding-left: 0px;}
    @media @ipadL{font-size: 8px;padding-left: 0px;}
    @media @ipadS{font-size: 8px;padding-left: 0px;}
    @media @PhoneX{font-size: 8px;padding-left: 0px;line-height: 20px;}
    @media @Phone{font-size: 8px;padding-left: 0px;line-height: 20px;}
    @media @PhoneS{font-size: 7px;padding-left: 0px;line-height: 20px;}
    @media @Phone5{font-size: 6px;padding-left: 0px;line-height: 20px;}
  }

}

/* ------------------------ shangzhuang popup form style -------------------*/
.shangzhuang{

  @media @PhoneX{top: 15px !important;}
  @media @Phone{top: 30px !important;}
  @media @PhoneS{top: 10px !important;}


  :global(.ant-modal-header){background-color: #1B1B56;color: white;border-bottom: none;}
  :global(.ant-modal-title ){
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Microsoft YaHei',@familyFaces;
    font-weight: bold;
  }
  :global(.ant-modal-close-x){color: white;}

  .top_content {margin-top: 10px;font-family: 'Microsoft YaHei',@familyFaces;
    .left_side{width: 60%;float: left;
      p{margin-bottom: 0;}
      .icon_user{width: 20%;float: left;}
      .user_title{width: 80%;float: left;padding-left: 10px;
        p{margin-bottom: 0;font-family: 'digitgraphics-bold';
          i{margin-left: 20px;}
        }
      }
    }

    .right_side{width: 40%;float: left;

      p{margin-bottom: 0;

        &:nth-child(1){width: 65%;float: left;}
        &:nth-child(2){width: 35%;float: left;}

      }

    }
  }

  .bottom_content{margin-top: 20px;font-family: 'Microsoft YaHei',@familyFaces;

    :local(ul){list-style: none;padding: 0;
      li{background-color: #25256D;padding: 8px;border-radius: 5px;margin-bottom: 10px;
        &:nth-child(1){background-color: transparent;}
        p{width: 50%;float: left;margin-bottom: 0;padding: 0px 20px;
          &:nth-child(1){text-align: left;}
          &:nth-child(2){text-align: right;}
        }
      }
    }
  }

  .btn_shangzhuang{text-align: center;
    :global(.ant-btn){
      padding: 0 25px;
      background-color: #8383FF;
      border-color: #8383FF;
      font-family: 'Microsoft YaHei',@familyFaces;
    }
  }


}
/* ------------------------ jackpot button click popup modal -------------------*/
.jackpot_popup{

  @media @PhoneX{top: 50px !important;}
  @media @Phone5{top: 30px !important;}

  :global(.ant-modal-header){
    border-bottom: none;
    font-family: 'Microsoft YaHei',@familyFaces;
    background-color: transparent;
  }
  :global(.ant-modal-title ){
    font-size: 2.3em!important;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
  }
  :global(.ant-modal-body ){position: relative;height: 200px;padding: 0px;}
  :global(.ant-modal-content){
    background: url("@/assets/images/svg/background/PopUp_Bg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }

  .coin_icon{
    background: url("@/assets/images/svg/icon/Jackpot Coin.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    position: absolute;
    top: -80px;
    width: 80px;
    left: 110px;
  }

  .jackpot_content{
    :local(p){
      text-align: center;
      font-size: 2em;
      margin-bottom: 0;
      color: white;
      padding-top: 30px;
      font-family: 'digitgraphics-bold';
    }
  }

  .jackpot_btn{text-align: center;margin-top: 60px;
    :local(button){background-color: #8383FF;border-color: #8383FF;padding: 0 35px;}
    :local(button:hover){background-color: #8383FF;border-color: #8383FF;}
  }

}

/* ------------------------ Countdown -------------------*/

.countdown {
  .time {background-color: #000000;padding: 20px 30px 12px 30px;

    :global(.ant-spin-spinning){
      :local(i){
        font-size: 88px!important;
        width: auto!important;
        height: auto!important;
        @media @LaptopL{font-size: 80px!important;}
        @media @LaptopM{font-size: 80px!important;}
        @media @LaptopS{font-size: 70px!important;}
        @media @LaptopXS{font-size: 60px!important;}
        @media @ipadL{font-size: 55px!important;}
        @media @ipadS{font-size: 50px!important;}
        @media @PhoneX{font-size: 30px!important;}
        @media @Phone{font-size: 28px!important;}
        @media @PhoneS{font-size: 25px!important;}
        @media @Phone5{font-size: 16px!important;}
      }
    }

    @media @DesktopsL{padding: 15px 30px 4px 30px;}
    @media @DesktopsM{padding: 15px 30px 4px 30px;}
    @media @LaptopL{padding: 15px 30px 4px 30px;}
    @media @LaptopM{padding: 15px 30px 4px 30px;}
    @media @LaptopS{padding: 8px 30px 4px 30px;}
    @media @LaptopXS{padding: 15px 30px 4px 30px;}
    @media @ipadL{padding: 15px 30px 4px 30px;}
    @media @ipadS{padding: 15px 30px 8px 30px;}
    @media @PhoneX{padding: 10px 15px 6px 15px;}


    :local(span){
      color: white;
      font-size: 2em;
      font-family: 'Microsoft YaHei',@familyFaces;
      @media @LaptopL{font-size: 1.6em;}
      @media @LaptopM{font-size: 1.5em;}
      @media @LaptopS{font-size: 1.5em;}
      @media @LaptopXS{font-size: 1.5em;}
      @media @ipadL{font-size: 1em;}
      @media @ipadS{font-size: 1em;}
      @media @PhoneX{font-size: .8em;}
    }
    :local(p){
      color: #3AFE7A;
      font-size: 5.5em;
      margin-bottom: 0;
      font-family: 'digital-7';
      letter-spacing: 3px;
      text-align: center;

      @media @DesktopsM{font-size: 5em;}
      @media @LaptopL{font-size: 4.5em;}
      @media @LaptopM{font-size: 4.5em;}
      @media @LaptopS{font-size: 4.5em;}
      @media @LaptopXS{font-size: 4em;}
      @media @ipadL{font-size: 3.5em;}
      @media @ipadS{font-size: 3.5em;}
      @media @PhoneX{font-size: 2.5em;}
      @media @PhoneS{font-size: 2.5em; margin-top: -5px;}
      @media @Phone5{font-size: 2em; margin-top: 0px;}

    }

  }

}

/* ------------------------ history record-------------------*/
.bet_record{background-color: #1B1B56;padding: 30px;border-radius: 5px;
  @media @PhoneX{margin-top: 10px;padding: 20px;margin-bottom: 10px;}
  @media @Phone5{padding: 10px;}
  .record_list{
    font-family: 'Microsoft YaHei',@familyFaces;

    :global(.ant-tabs){color: white;}
    :global(.ant-tabs-nav .ant-tabs-tab-active ){color: white;}
    :global(.ant-tabs-bar ){border-bottom: none;}
    :global(.ant-tabs-nav ){width: 700px;
      @media @ipadL{width: 100%;}
      @media @ipadS{width: 100%;}
      @media @PhoneX{width: 100%;}
    }

    :global(.ant-tabs-nav .ant-tabs-tab){width: 50%;font-size: 2em;
      @media @ipadL{font-size: 1.5em;margin: 0;}
      @media @ipadS{font-size: 1.5em;margin: 0;}
      @media @PhoneX{font-size: 1.3em;margin: 0;}
      @media @Phone5{font-size: 1.2em;margin: 0;}
    }
    :global(.ant-tabs-ink-bar ){background-color: #8181F7;height: 5px;}
    :global(.ant-tabs-nav .ant-tabs-tab:hover ){color: #8181F7;}
    :global(.ant-btn){background-color: transparent;color: white;font-size: 1.5em;
      @media @ipadL{font-size: 1em;}
      @media @ipadS{font-size: 1em;}
      @media @PhoneX{font-size: 1em;}
      @media @Phone5{font-size: .9em;height: 25px;}
    }
    :global(.ant-btn:hover){
      background-color: transparent !important;
      color: white !important;
      border-color: white !important;
    }
    :global(.ant-btn:active){
      background-color: transparent !important;
      color: white !important;
      border-color: white !important;
    }
    :global(.ant-btn:focus){
      background-color: transparent !important;
      color: white !important;
      border-color: white !important;
    }


  }

  .search_pop{width: 100%;text-align: right;margin-bottom: 20px;
    @media @PhoneX{margin-bottom: 10px;}
    .allbet{margin-top: 30px;}
  }

  :global(.ant-table-thead>tr>th ){
    background: transparent;
    color: white;
    font-size: 1.3em;
    text-align: center;
    border-bottom: none;
    font-weight: bold;
    @media @ipadL{font-size: 1.2em;}
    @media @ipadS{font-size: 1.2em;}
    @media @PhoneX{font-size: 1em;}
  }
  :global(.ant-table-thead>tr){border-bottom: 10px solid #1B1B56;}
  :global(.ant-table-tbody>tr>td){color: white;font-size: 1em;text-align: center;border-bottom: none;
    @media @PhoneX{padding: 6px 16px;font-size: .9em;}
  }
  :global(.ant-table-tbody>tr:hover){background-color: #25256D !important;}
  :global(.ant-table-tbody>tr ){
    background-color: #25256D;
    line-height: 30px;
    border-bottom: 20px solid #1B1B56;
    border-radius: 10px;
  }
  :global(.ant-pagination-disabled a,
    .ant-pagination-disabled:hover a,
    .ant-pagination-disabled:focus a,
    .ant-pagination-disabled .ant-pagination-item-link,
    .ant-pagination-disabled:hover .ant-pagination-item-link,
    .ant-pagination-disabled:focus .ant-pagination-item-link){
      color: white !important;
  }
  :global(.ant-pagination-item-active){
    :local(a){
      color: white !important;
    }
  }

}

/* ------------------------ search popout form in history -------------------*/
.search_popout{
  font-family: 'Microsoft YaHei',@familyFaces;
  .form_input{margin-bottom: 40px;

    @media @ipadL{margin-bottom: 20px;}
    @media @ipadS{margin-bottom: 20px;}
    @media @PhoneX{margin-bottom: 20px;}

    :local(label){color: white;width: 30%;float: left;font-size: 1.3em;
          @media @ipadL{font-size: 1em;}
          @media @ipadS{font-size: 1em;}
          @media @PhoneX{font-size: 1em;}
    }
    :global(.ant-calendar-picker ){
      width: 70% !important;
      float: left;
      border: 1px solid white;
      background-color: transparent;
    }
    .input_popover{width: 70%;float: left;}
  }

  :global(.ant-input){
    height: 45px;
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(255, 255, 255, 0.25);
    border: none;

    @media @ipadL{height: 35px;}
    @media @ipadS{height: 35px;}
    @media @PhoneX{height: 35px;}

  }
  :global(.ant-calendar-range-picker-separator ){color: white;vertical-align: initial;}
  :global(.ant-calendar-picker-icon ){color: white;}

  .Submit_btn{width: 100%;text-align: center;
    :global(.ant-btn.ant-btn-primary){
      padding: 0 50px;
      height: 40px;
      font-size: 1.2em;
      color: #fff;
      background-color: #8181F7;
      border-color: #8181F7;
      @media @ipadL{padding: 0 30px;height: 30px;font-size: 1em;}
      @media @ipadS{padding: 0 30px;height: 30px;font-size: 1em;}
      @media @PhoneX{padding: 0 30px;height: 30px;font-size: 1em;}
    }
    :global(.ant-btn.ant-btn-primary:hover, .ant-btn-primary:focus ){
      color: #fff !important;
      background-color: #8181F7 !important;
      border-color: #8181F7 !important;
    }

  }
  :local(label){
    float: left;
    color: white;
    font-size: 2em;
  }
}


/* ------------------------ SlideOutPanel -------------------*/

.SlideOutPanel{
    font-family: 'Microsoft YaHei',@familyFaces;
}

#menu_hide{
  font-family: 'Microsoft YaHei',@familyFaces;
  :local(button){
    font-family: 'Microsoft YaHei',@familyFaces;
  }
}



/* ------------------------ Slide Bar -------------------*/
.slide_popup{
    height: 100vh;
    background: url("@/assets/images/svg/background/Table.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 10%;
    position: absolute;
    width: 100%;
    color: white;
    padding: 20px;
    border-radius: 20px 0px 20px 0px;
    overflow: auto;

    @media @PhoneX{padding:5px 20px;}

    h3 {
        color: white;
        font-weight: bold;
        font-size: 1.5em;
        @media @PhoneX {margin:0px;}
    }

    :global(.content) {
        margin-top: 20px;
        @media @PhoneX {margin-top: 3px;}
        span{
            width: 33.33%;
            display:inline-block;
            font-family: 'digitgraphics-bold';
            @media @PhoneX {
                &:nth-child(1){width:10%}
                &:nth-child(2){width:40%}
                &:nth-child(3){width:50%}
            }
        }
        label {
            width: 100%;
            font-size: 16px;
            font-family: 'Microsoft YaHei',@familyFaces;
        }
        ul {
            list-style: none;
            padding: 0;
            margin-top: 10px;
            margin-bottom: 100px;
            li {
                background-color: rgba(255, 255, 255, 0.9);
                border-radius: 5px;
                margin-bottom: 10px;
                line-height: 60px;
                height: 60px;
                font-size: 1.1em;

                @media @PhoneX {
                    line-height: 25px;
                    height: 25px;
                    font-size: 12px;
                    margin-bottom: 5px;
                }

                span {
                    color: black;
                    display: inline-block;
                    vertical-align: middle;
                    font-family: 'digitgraphics-thin','digitgraphics-bold';
                    i {font-size: 40px;
                        @media @PhoneX {font-size: 16px}
                    }
                }
            }
        }
    }

}

.rankinglist {
    position: fixed;
    width: 570px;
    height: 800px;
    top: 30px;
    right: -570px;
    /* Animation  */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    .slide_popup{border-radius: 20px 0px 0px 0px;}

    @media @PhoneX {
        height: auto;
        top:0;
        width:400px;
        right: -400px;
    }

    &:global(.showSlideOut) {right: 0px !important;
        h5{background: #bca1ff;}
    }

    h5 {
        margin:0;
        top: 30%;
        position: absolute;
        left: -40px;
        height: 330px;
        width: 40px;
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        background: #22244b;
        border-radius: 15px 0px 0px 15px;
        color: white;
        writing-mode: vertical-rl;
        line-height: 40px;
        letter-spacing: 10px;
        font-size: 18px;
        font-weight: 600;
        @media @LaptopS{top: 25%; height: 300px;}
        @media @LaptopXS{top: 25%; height: 300px;}
        @media @ipadL {top: 20%; height: 250px;}
        @media @ipadS {top: 20%; height: 250px;}
        @media @PhoneX {
            height: 245px;
            top: 110px;
            font-size: 14px;
            font-weight: 300;
        }
        @media @Phone5 {top: 90px; height: 215px;}
    }
}

.trend{
    position: fixed;
    left: -400px;
    width: 400px;
    height: 800px;
    top: 30px;
    /* Animation  */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    .slide_popup{border-radius: 0px 20px 0px 0px;}

    @media @PhoneX {height: auto;top:0;}

    &:global(.showSlideOut) {left: 0px !important;
        h5{background: #bca1ff;}
    }

    h5 {
        top: 30%;
        margin:0;
        position: absolute;
        right: -40px;
        height: 330px;
        width: 40px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        background: #22244b;
        border-radius: 0px 15px 15px 0px;
        color: white;
        writing-mode: vertical-lr;
        line-height: 40px;
        letter-spacing: 10px;
        font-size: 18px;
        font-weight: 600;
        @media @LaptopS{top: 25%; height: 300px;}
        @media @LaptopXS{top: 25%; height: 300px;}
        @media @ipadL {top: 20%; height: 250px;}
        @media @ipadS {top: 20%; height: 250px;}
        @media @PhoneX {
            height: 245px;
            top: 110px;
            font-size: 14px;
            font-weight: 300;
        }
        @media @Phone5 {top: 90px; height: 215px;}
    }

    :global(.content) {
        label {font-size: 30px;}
        span{
            &:nth-child(1){width:30%}
            &:nth-child(2){width:14%}
            &:nth-child(3){width:14%}
            &:nth-child(4){width:14%}
            &:nth-child(5){width:14%}
        }
        @media @PhoneX{
            ul{margin-top: 0;}
        }
    }
}

.footer {
  :local(button) {
    font-family: 'digitgraphics-bold';
    background-color: #8181F7;
    border-color: #8181F7;
    @media @LaptopL {font-size: 1em;}
    @media @LaptopM {font-size: 0.95em;}
    @media @LaptopS {font-size: 0.95em;}
    @media @LaptopXS {font-size: 0.9em;}
    @media @ipadL {font-size: 0.8em;height: 28px;padding: 0 5px;}
    @media @ipadS {font-size: 0.8em;height: 28px;padding: 0 5px;}
    @media @PhoneX {font-size: 0.7em;height: 25px;line-height: 1.5;padding: 0 2px;}
    @media @Phone {height: 25px; font-size: 9px;}
    @media @PhoneS {font-size: 8.5px;}
    @media @Phone5 {font-size: 7.5px; height: 18px; line-height: 2.5;}
  }

  .btn_balance {
    :local(i) {
      font-size: 1.3em;
    }
  }

  .btn_circle {
    :local(button) {
      width: 40px;
      height: 40px;
      @media @ipadL {width: 30px;height: 30px;}
      @media @ipadS {width: 30px;height: 30px;}
      @media @PhoneX {width: 25px;height: 25px;}
      @media @PhoneS {width: 25px;height: 25px;}
    }

  }


  .warger_buttons {
    :local(button) {
      width: 150px;
      margin: 0 5px;
      background-color: #985EFF;
      border-color: #985EFF;

      @media @Large_screens {width: 130px;}
      @media @DesktopsL {width: 120px;}
      @media @DesktopsM {width: 110px;}
      @media @LaptopL {width: 95px;}
      @media @LaptopM {width: 95px;}
      @media @LaptopS {width: 95px;}
      @media @LaptopXS {width: 90px;}
      @media @ipadL {width: 80px;}
      @media @ipadS {width: 80px;}
      @media @PhoneX {width: 60px;}
      @media @Phone {width: 55px;}
      @media @PhoneS {width: 55px;}
      @media @Phone5 {width: 48px;  margin: 0 2px;}

    }
  }
  .buttons_bet{
    font-family: 'Microsoft YaHei',@familyFaces;
  }
}

.balance{color:#f8ed20;font-size: 25px;margin: 0;padding: 0;
    @media @Phone5 {line-height: 20px;}
}

.modal_form{top: 50px;
  .widthdraw_form{
    :global(.ant-row){
      :global(.ant-form-item-label){
        text-align: center;
        @media @Phone5 {width: 20%!important}
      }
      :global(.ant-form-item-control-wrapper ){
        @media @Phone5 {width: 80%!important; margin: auto;}
      }
    }
  }
}
