@import '../screen.less';

.recommen_form_list{
  background-color: #1B1B56;
  padding: 30px;
  border-radius: 5px;
  width: 700px;
  margin: auto;
  font-family: 'Microsoft YaHei',@familyFaces;

  @media @PhoneX {width: 500px;}
  @media @Phone5 {width: 420px; padding: 20px;}

/*
  :global(.ant-tabs){color: white;}
  :global(.ant-tabs-nav .ant-tabs-tab-active ){color: white;}
  :global(.ant-tabs-bar ){border-bottom: none;}
  :global(.ant-tabs-nav ){width: 700px;}

  :global(.ant-tabs-nav .ant-tabs-tab){width: 50%;font-size: 2em;}
  :global(.ant-tabs-ink-bar ){background-color: #8181F7;height: 5px;}
  :global(.ant-tabs-nav .ant-tabs-tab:hover ){color: #8181F7;}
*/

  :global(.ant-btn){
    background-color: transparent;color: white;font-size: 1.5em;

    @media @ipadL{font-size: 1em;}
    @media @ipadS{font-size: 1em;}
    @media @PhoneX{font-size: 1em;}
    @media @Phone5{font-size: .9em;height: 25px;}

  }
  :global(.ant-btn:hover ){background-color: transparent !important;color: white !important;border-color: white !important;}
  :global(.ant-btn:focus  ){background-color: transparent !important;color: white !important;border-color: white !important;}
  :global(.ant-btn:active ){background-color: transparent !important;color: white !important;border-color: white !important;}


  :global(.ant-table-thead>tr>th ){
    background: transparent;
    color: white;
    font-size: 1.3em;
    text-align: center;
    border-bottom: none;
    font-weight: bold;

    @media @ipadL {font-size: 1.2em;}
    @media @ipadS {font-size: 1.2em;}
    @media @PhoneX {font-size: 1em;padding: 10px 16px; }
  }

  :global(.ant-table-thead>tr ){border-bottom: 10px solid #1B1B56;}

  :global(.ant-table-tbody>tr>td ){
    color: white;
    font-size: 1em;
    text-align: center;
    border-bottom: none;

    @media @PhoneX {font-size: .9em;padding: 6px 16px;}

  }

  :global(.ant-table-tbody>tr:hover ){background-color: #25256D !important;}

  :global(.ant-table-tbody>tr ){
    background-color: #25256D;
    line-height: 30px;
    border-bottom: 20px solid #1B1B56;
    border-radius: 10px;
  }

  .search_pop{
    width: 100%;text-align: right;

    label{
      float: left;
      font-size: 2em;
      @media @ipadL {font-size: 1.5em;}
      @media @ipadS {font-size: 1.5em;}
      @media @PhoneX {font-size: 1.3em;}
    }

  }
  .allbet{
    margin-top: 30px;

    @media @ipadL {margin-top: 20px;}
    @media @ipadS {margin-top: 20px;}
    @media @Phone5 {margin-top: 15px;}


  }

}
