#wrapper {
    width: 30%;
    margin: 50px auto;
    padding: 50px;
    background: #D7FBFF;
}
form {
    margin: 30px auto;
}
.textInput {
    border: none;
    height: 28px;
    margin: 2px;
    border: 1px solid #6B7363;
    font-size: 1.2em;
    padding: 5px;
    width: 95%;
}
.textInput:focus {
    outline: none;
}
.btn {
    width: 98.6%;
    border: none;
    margin-top: 5px;
    color: white;
    background-color: #3b5998;
    border-radius: 5px;
    padding: 12px;
}
.error{
    color: red;
}
