
/* margin */
.mt0{margin-top: 0px}
.mt5{margin-top:5px}
.mt7{margin-top:7px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt35{margin-top:35px}
.mr0{margin-right:0px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mb0{margin-bottom:0px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.ml0{margin-left:0px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.mv5{margin:5px 0}
.mv10{margin:10px 0}
.mv15{margin:15px 0}
.mh5{margin:0 5px}
.mh10{margin:0 10px}
.mh15{margin:0 15px}
.m0{margin:0px;}
.m3{margin:3px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}

/* padding */
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl40{padding-left:40px}
.pv5{padding:5px 0}
.pv10{padding:10px 0}
.ph5{padding:0 5px}
.ph10{padding:0 10px}
.p0{padding:0px;}
.p3{padding:3px}
.p5{padding:5px}
.p10{padding:10px}
.p15{padding:15px}
.p20{padding:20px}
.p25{padding:25px}

/* radius */
.rd0{border-radius: 0px}
.rd3{border-radius: 3px}
.rd5{border-radius: 5px}
.rd10{border-radius: 10px}


.fn-width100{width:100%;}
/* ------------- overview ----------------- */
.ant-table-thead>tr>th{text-align: center;}

.ant-layout-aside {
  position: relative;
  min-height: 100%;
}

.ant-layout-aside .ant-layout-logo {
  width: 150px;
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px 24px 16px 28px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  padding: 4px;
}

.ant-layout-aside .ant-layout-sider {
  width: 224px;
  background: #404040;
  position: absolute;
  overflow: auto;
  padding-bottom: 24px;
  height: 100%;
}

.ant-layout-aside .ant-layout-sider > .ant-menu {
  margin-bottom: 20px;
}

.ant-layout-aside .ant-layout-header {
  background: #fff;
  height: 64px;
  border-bottom: 1px solid #e9e9e9;
}

.ant-layout-aside .ant-layout-header > a {
  font-size: 30px;
  color: #808080;
  float: right;
  margin: 10px;
  margin-right:20px;
}

.ant-layout-aside .ant-layout-breadcrumb {
  margin: 7px 0 -17px 24px;
}

.ant-layout-aside .ant-layout-main {
  margin-left: 224px;
}

.ant-layout-aside .ant-layout-container {
  margin: 24px 16px;
}

.ant-layout-aside .ant-layout-content {
  background: #fff;
  padding: 24px;
}

.ant-layout-aside .ant-layout-footer {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 12px;
  color: #999;
  background: #fff;
  border-top: 1px solid #e9e9e9;
  width: 100%;
}

.ant-advanced-search-form {
  padding: 16px 8px;
  background: #f8f8f8;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

/* because the label length is variable, you may need to adjust the left edge to have the form centered */

.ant-advanced-search-form > .ant-row {
  position: relative;
  left: -6px;
}

.ant-advanced-search-form .ant-btn + .ant-btn {
  margin-left: 8px;
}

.column-money {
    text-align: right;
}

.status{
  width:16px;
  height:16px;
  display:inline-block;
  font-size:8px; /* 修改圆点的大小 */
  line-heigth:16px;
  text-align:center;
  text-decoration:none;
}
.status:after{
  content:"●";
}

.color-red{color:#f50;}
.color-blue{color:#2db7f5;}
.color-green{color:#87d068;}
.color-yellow{color:#fa0;}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.search-result-list {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
}

/* -----------------------------------*/
.fn-left{float:left;}
.fn-right{float:right;}

/* ----------- colors --------------- */
.red{color:red;}
.green{color:green;}


/* -------------- 用户详细信息页面 -------------- */
.userinfo h2{font-style: 16px;font-weight: 300;border-bottom: solid 1px #eee;margin-bottom: 10px;padding:5px 0px;}
.userinfo .balance-table td{padding:0px 5px;text-align: center;}
.userinfo .balance-table td.highlight{background:#00A0E9;color:#fff;}
.userinfo .ant-row > div{padding:2px;height: 20px;margin-bottom: 3px;}
.userinfo .label{font-size: 12px; font-weight: 400;background: rgba(0, 160, 233, 0.7); color:#fff;}


/* --------------- MarkDown ------------------*/ 
.page-header {
    color: #fff;
    background: #191818;
    margin: 0;
    padding: 10px 20px;
}

.editor-pane {
    position: fixed;
    top: 57px;
    left: 0;
    bottom: 0;
    width: 50%;
    height: auto;
    overflow: auto;
    box-shadow: -10px 2px 6px 10px rgba(0,0,0,0.4);
}

.result-pane > div {
    position: fixed;
    top: 57px;
    right: 0;
    left: 50%;
    bottom: 0;
    overflow: auto;
    padding: 10px;
    padding-left: 20px;
    color: #444;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.5em;
}

.editor textarea {
    padding: 20px;
}

.editor-pane textarea {
    min-height: 500px;
}

.markdown-controls {
    position: relative;
    z-index: 5;
    text-align: right;
    color: #fff;
    float: right;
}

.markdown-controls form {
    background-color: rgba(39, 40, 34, 0.5);
    margin-right: 20px;
}

.markdown-controls legend {
    border-bottom: 0;
    color: #fff;
    font-size: 1.25em;
    margin: 0;
    padding: 10px 0 0 0;
}

.CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;

    font-size: 16px;
}

pre {
    border: 1px solid #ccc;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}
