@import '../../../screen.less';
// @poker card for media query
#TopInfor {
    .hand {
        @media @Large_screens {width: 86%;margin: auto;}
        @media @DesktopsL {width: 86%;margin: auto;}
        @media @DesktopsM {width: 86%;margin: auto;}
        @media @LaptopL {width: 85%;margin: auto;}
        @media @LaptopM {width: 84%;margin: auto;}
        @media @LaptopS {width: 70%;margin: auto;}
        @media @LaptopS {width: 80%;margin: auto;}
        @media @LaptopXS {width: 82%;margin: auto;}
        @media @ipadL {width: 82%;margin: auto;}
        @media @ipadS {width: 82%;margin: auto;}
        @media @PhoneX {width: 82%;margin: auto;}
        @media @PhoneX {width: 82%;margin: auto;}
        @media @Phone {width: 82%;margin: auto;}
        @media @PhoneS {width: 84%;margin: auto;}
        @media @PhoneS {width: 95%;margin: auto;}

        .poker_card {
          @media @Large_screens {width: 137px; height: 184px;}
          @media @DesktopsL {width: 128px;height: 171px;}
          @media @DesktopsM {width: 119px;height: 160px;}
          @media @LaptopL {width: 113px;height: 149px;}
          @media @LaptopM {width: 108px;height: 144px;}
          @media @LaptopS {width: 96px;height: 127px;}
          @media @LaptopXS {width: 93px;height: 124px;}
          @media @ipadL {width: 82px;height: 109px;}
          @media @ipadS {width: 82px;height: 110px;}
          @media @PhoneX {width: 61px;height: 81px;}
          @media @Phone {width: 58px;height: 77px;}
          @media @PhoneS {width: 58px;height: 77px;}
          @media @Phone5 {width: 54px;height: 72px;}
        }
    }
}

.hand {
    padding: 5px 0;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 320px;

    @media @LaptopL {width: 260px;}
    @media @ipadL {width: 200px;margin-top: 10px;margin-bottom: 5px;}
    @media @ipadS {margin-top: 10px;margin-bottom: 5px;}
    @media @Phone {margin-top: 10px;margin-bottom: 5px;width: 150px;}
    @media @PhoneX {margin-top: 5px;margin-bottom: 5px;width: 150px;}
    @media @PhoneS {margin-top: 5px;margin-bottom: 5px;width: 150px;}
    @media @Phone5 {margin-top: 2px;margin-bottom: 0px;}

    :local(i) {
        margin-left: -32px;
        font-size: 120px;
        width: 90px;

        &:nth-child(1) {margin-left: -10px;}
    }
    li {
        width: 20%;
        display: inline-block;

        &:nth-child(2) {
          margin-left: -10px;
          @media @Large_screens{margin-left: -15px;}
          @media @LaptopL{margin-left: -20px;}
          @media @LaptopM{margin-left: -26px;}
          @media @ipadL{margin-left: -28px;}
        }

        &:nth-child(3) {
          @media @Large_screens{margin-left: -15px;}
          @media @LaptopL{margin-left: -18px;}
          @media @LaptopM{margin-left: -23px;}
          @media @LaptopXS{margin-left: -28px;}
          @media @ipadL{margin-left: -31px;}
        }

        &:nth-child(4) {
          @media @Large_screens{margin-left: -15px;}
          @media @LaptopL{margin-left: -18px;}
          @media @LaptopM{margin-left: -22px;}
          @media @LaptopXS{margin-left: -25px;}
          @media @ipadL{margin-left: -29px;}
        }

        &:nth-child(5) {
          @media @Large_screens{margin-left: -9px;}
          @media @LaptopL{margin-left: -18px;}
          @media @LaptopM{margin-left: -15px;}
          @media @LaptopS{margin-left: -20px;}
          @media @LaptopXS{margin-left: -27px;}
          @media @ipadL{margin-left: -32px;}
        }
    }
}

.gen-niu(@lang, @val) {
    :global(.@{lang}_niu@{val}) {
        background: url("@/assets/images/svg/niu/@{lang}/Niu@{val}.svg");
    }
}

.generate-nius(@lang, @n: 10, @i: 0) when (@i =< @n) {
    .gen-niu(@lang,@i);
    .generate-nius(@lang,@n,(@i + 1));
}

:global(.hand-inner) {
    position: relative;
    >:global(span) {
        width: 95px;
        height: 95px;
        display: block;
        position: absolute;
        right: 30px;
        bottom: 0px;
        @media @DesktopsL {width: 85px; height: 85px;}
        @media @DesktopsM {width: 85px; height: 85px;}
        @media @LaptopL {width: 85px; height: 85px;}
        @media @LaptopM {width: 80px; height: 80px;}
        @media @LaptopS {width: 75px; height: 75px;}
        @media @LaptopXS {width: 75px; height: 75px;}
        @media @ipadL {width: 65px; height: 65px; right: 15px;}
        @media @ipadS {width: 65px; height: 65px; right: 15px;}
        @media @PhoneX {width: 55px; height: 55px; right: 5px;}
        @media @PhoneS {width: 55px; height: 55px;}
        @media @Phone5 {width: 45px; height: 45px; bottom: 3px;}

    }
    .generate-nius(zh);
    .generate-nius(en);
}

.poker_card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
    width: 78px;
    height: 105px;
    margin-left: -28px;
    -webkit-perspective: 1500;
    -moz-perspective: 1500;

    @media @Large_screens {width: 86px;height: 115px;}
    @media @DesktopsM {width: 76px;height: 100px;}
    @media @LaptopL {width: 72px;height: 96px;}
    @media @LaptopM {width: 69px;height: 91px;}
    @media @LaptopS {width: 66px;height: 87px;}
    @media @LaptopXS {width: 62px;height: 83px;}
    @media @ipadL {width: 55px;height: 73px;}
    @media @ipadS {width: 54px;height: 73px;}
    @media @PhoneX {width: 48px;height: 64px;}
    @media @Phone {width: 46px;height: 61px;}
    @media @Phone5 {width: 41px;height: 55px;}

    &:nth-child(1) {margin-left: 0;}
    > :local(span) {
        width: 100%;
        height: 100%;
        display: inline-block;
        transition: all 0.5s;
        backface-visibility: hidden;
        position: absolute;
    }
    > :global(.back) {
        background: url("@/assets/images/svg/poker/back.svg");
    }
    .gen-card(@suit: heart,@val: A) {
        > :global(.@{suit}_@{val}) {
            transform: rotateY(-180deg);
            background: url("@/assets/images/svg/poker/@{suit}_@{val}.svg");
        }
    }
    .generate-cards(@suit,@n,@i: 2) when (@i =< @n) {
        .gen-card(@suit,@i);
        .generate-cards(@suit,@n,(@i+1));
    }
    .gen-card(spade,A);
    .gen-card(spade,J);
    .gen-card(spade,Q);
    .gen-card(spade,K);
    .generate-cards(spade,10);
    .gen-card(heart,A);
    .gen-card(heart,J);
    .gen-card(heart,Q);
    .gen-card(heart,K);
    .generate-cards(heart,10);
    .gen-card(club,A);
    .gen-card(club,J);
    .gen-card(club,Q);
    .gen-card(club,K);
    .generate-cards(club,10);
    .gen-card(diamond,A);
    .gen-card(diamond,J);
    .gen-card(diamond,Q);
    .gen-card(diamond,K);
    .generate-cards(diamond,10);
}
